[2020-10-10 16:17] tejasvicsr1 commented on #603
I would like to be assigned this.

[2020-10-10 16:18] shanemin commented on #599
I'd also like this issue

[2020-10-10 16:21] Curious-Ujjwal commented on #173
Can you assign me this task?
I would like to work on this.

[2020-10-10 16:26] matheusphalves opened #607 "0342 - Power of Four"
## Description of the Problem
Given an integer (signed 32 bits), write a function to check whether it is a power of 4.

**Example 1:**
[code]

**Example 2:**
[code]

**Follow up**: Could you solve it without loops/recursion?

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/power-of-four/)

[2020-10-10 16:27] Curious-Ujjwal commented on #36
Hey @vJechsmayr, if this issue is open, I would like to work on it.
Please assign it to me.

[2020-10-10 16:27] na-vural commented on #599
You can select another problem from [LeetCode](https://leetcode.com/problemset/algorithms) for working on. After selecting a problem from [LeetCode](https://leetcode.com/problemset/algorithms/), you should check whether an issue about the problem was opened or not. If there is no issue about the problem, you can create a new issue and work on it.

[2020-10-10 16:28] Curious-Ujjwal commented on #355
Please assign this issue to me, if it is yet open.

[2020-10-10 16:31] Curious-Ujjwal commented on #356
Hey @vJechsmayr , I think I can solve this issue. Can you assign it to me, if it is open.

[2020-10-10 16:33] Curious-Ujjwal commented on #383
Hey @vJechsmayr , it seems I can work on this issue. If it is open, assign it to me.

[2020-10-10 16:36] julienperce commented on #607
Hello, could you assign this to me? Thank you.

[2020-10-10 16:50] jeffmikels opened #611 "0006 - ZigZag Conversion"
## Description of the Problem

The string "PAYPALISHIRING" is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)

[code]

And then read line by line: "PAHNAPLSIIGYIR"

Write the code that will take a string and make this conversion given a number of rows:

[code]

## Example 1:
[code]

## Example 2:
[code]

[2020-10-10 16:50] jeffmikels commented on #611
Assign to me?

[2020-10-10 16:52] zeborg opened #612 "0867 - Transpose Matrix"
## Description of the Problem
Problem: Given a matrix A, return the transpose of A. The transpose of a matrix is the matrix flipped over it's main diagonal, switching the row and column indices of the matrix.

**Sample input:**
    [[1,2,3],
     [4,5,6],
     [7,8,9]]

**Sample output:**
    [[1,4,7],
     [2,5,8],
     [3,6,9]]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode Problem 0

[2020-10-10 17:26] kevin454475 opened #615 "0155 - Min Stack"
## Description of the Problem
Design a stack that supports push, pop, top, and retrieving the minimum element in constant time.

push(x) -- Push element x onto stack.
pop() -- Removes the element on top of the stack.
top() -- Get the top element.
getMin() -- Retrieve the minimum element in the stack.

Example 1:

Input
["MinStack","push","push","push","getMin","pop","top","getMin"]
[[],[-2],[0],[-

[2020-10-10 17:36] kunatastic opened #616 "0326 ## - Power of Three"
## Description of the Problem
Given an integer, write a function to determine if it is a power of three.

Example 1:

Input: 27
Output: true
Example 2:

Input: 0
Output: false
Example 3:

Input: 9
Output: true
Example 4:

Input: 45
Output: false
Follow up:
Could you do it without using any loop / recursion?

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/power-of-t

[2020-10-10 17:42] Curious-Ujjwal commented on #616
Hey @kunatastic , I think I can work on this issue.
Please assign this issue to me.

[2020-10-10 17:44] javmarina commented on #615
Can you assign it to me? I can optimize

[2020-10-10 17:45] Curious-Ujjwal commented on #615
Hey @kevin454475  I want to work on this issue.
Please assign this to me.

[2020-10-10 17:46] Curious-Ujjwal commented on #611
Hi @jeffmikels , I can solve this issue.
Assign this to me.

[2020-10-10 17:47] jeffmikels commented on #611
I'm working on it now... waiting for the repo owner to assign it to me.

[2020-10-10 17:49] Curious-Ujjwal commented on #612
If this issue is yet opened, can it be assigned to me.
Thank You!

[2020-10-10 17:49] Curious-Ujjwal commented on #607
If the issue is yet opened , can it be assigned to me?

[2020-10-10 17:50] Curious-Ujjwal commented on #553
If this issue is currently open, I would like to solve it.
Can you assign this to me?
Thank You!

[2020-10-10 18:01] princesinghtomar opened #617 "0052 - LeetCode Problem Title"
## Description of the Problem
The n-queens puzzle is the problem of placing n queens on an n×n chessboard such that no two queens attack each other.

Given an integer n, return the number of distinct solutions to the n-queens puzzle.

Example:

Input: 4
Output: 2
Explanation: There are two distinct solutions to the 4-queens puzzle as shown below.
[
 [".Q..",  // Solution 1
  "...Q",
  "Q...",
  ".

[2020-10-10 18:01] princesinghtomar opened #618 "0052 - N-Queens II"
## Description of the Problem
The n-queens puzzle is the problem of placing n queens on an n×n chessboard such that no two queens attack each other.

Given an integer n, return the number of distinct solutions to the n-queens puzzle.

Example:

Input: 4
Output: 2
Explanation: There are two distinct solutions to the 4-queens puzzle as shown below.
[
 [".Q..",  // Solution 1
  "...Q",
  "Q...",
  ".

[2020-10-10 18:02] anqkhieu opened #619 "0345 - Reverse Vowels of a String"
## Description of the Problem
Write a function that takes a string as input and reverse only the vowels of a string.

Example 1:
[code]

Example 2:
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/reverse-vowels-of-a-string/)

I would like to contribute the code to this issue please.

[2020-10-10 18:02] princesinghtomar commented on #618
can i have this problem

[2020-10-10 18:03] anqkhieu commented on #619
Would like to take this problem above please.

[2020-10-10 18:03] #617 closed

[2020-10-10 18:11] zeborg commented on #612
Hey @Curious-Ujjwal , although I haven't been assigned to this issue yet, I've already made a commit since I've already solved this problem on LeetCode about an year and a half ago. If the maintainer feels like there's any flaw in my code, I believe you can further work on it.

Thanks for your interest though.

[2020-10-10 18:16] riwim opened #621 "1252 - Cells with Odd Values in a Matrix"
## Description of the Problem
Given `n` and `m` which are the dimensions of a matrix initialized by zeros and given an array `indices` where `indices[i] = [ri, ci]`. For each pair of `[ri, ci]` you have to increment all cells in row `ri` and column `ci` by 1.

Return the number of cells with odd values in the matrix after applying the increment to all `indices`.

## Example 1

![Matrix example 1](

[2020-10-10 18:20] ac-tam opened #623 "0551 - Student Attendance Record I"
## Description of the Problem
You are given a string representing an attendance record for a student. The record only contains the following three characters:
'A' : Absent.
'L' : Late.
'P' : Present.
A student could be rewarded if his attendance record doesn't contain more than one 'A' (absent) or more than two continuous 'L' (late).

You need to return whether the student could be rewarded accord

[2020-10-10 18:29] andrewctam commented on #623
Could this be assigned to me? Thanks!

[2020-10-10 18:40] matheusphalves commented on #607
Hi, I already solve the problem. I'm waiting for owner close this issue and the pull request linked.
Thanks for asking!

[2020-10-10 18:53] anqkhieu opened #628 "0819 - Most Common Word"
## Description of the Problem
Given a paragraph and a list of banned words, return the most frequent word that is not in the list of banned words.  It is guaranteed there is at least one word that isn't banned, and that the answer is unique.

Words in the list of banned words are given in lowercase, and free of punctuation.  Words in the paragraph are not case sensitive.  The answer is in lowercas

[2020-10-10 18:55] anqkhieu commented on #628
May I have the above issue assigned to me please?

[2020-10-10 18:55] frank731 opened #629 "0445 - Add Two Numbers II"
## Description of the Problem
You are given two non-empty linked lists representing two non-negative integers. The most significant digit comes first and each of their nodes contain a single digit. Add the two numbers and return it as a linked list.

You may assume the two numbers do not contain any leading zero, except the number 0 itself.

## Code
class Solution:
    def addTwoNumbers(self, l1:

[2020-10-10 18:55] frank731 commented on #629
I can do this problem

[2020-10-10 19:09] jeffmikels opened #630 "0080 - Remove Duplicates from Sorted Array II"
## Description of the Problem
Given a sorted array nums, remove the duplicates in-place such that duplicates appeared at most twice and return the new length.

Do not allocate extra space for another array, you must do this by modifying the input array in-place with O(1) extra memory.

## Example 1:

Given nums = [1,1,1,2,2,3],

Your function should return length = 5, with the first five elements

[2020-10-10 19:10] jeffmikels commented on #630
@vJechsmayr please assign. :-)

[2020-10-10 19:10] iamsnj opened #631 "0338 - Counting Bits"
## Description of the Problem
Given a non negative integer number num. For every numbers i in the range 0 ≤ i ≤ num calculate the number of 1's in their binary representation and return them as an array.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/counting-bits/)

[2020-10-10 19:11] iamsnj commented on #631
I would like to work on this issue.
Please assign it to me.
Thanks :)

[2020-10-10 19:45] michal-dbrnowski opened #633 "0202 - Happy Number"
## Description of the Problem
Write an algorithm to determine if a number n is "happy".

A happy number is a number defined by the following process: Starting with any positive integer, replace the number by the sum of the squares of its digits, and repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1. Those numbers for which

[2020-10-10 19:51] michal-dbrnowski opened #635 "0204 - Count Primes"
## Description of the Problem
Count the number of prime numbers less than a non-negative number, `n`.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/count-primes/)

[2020-10-10 19:51] DeepanshuGOYAL05 commented on #619
Hey, can you assign this to me?

[2020-10-10 19:54] sethitushar commented on #635
I would like to work on this issue. Please assign it to me!

[2020-10-10 20:02] sethitushar commented on #633
I would like to try this issue. Please assign it to me!!
Thanks.

[2020-10-10 20:13] ZarghamDanial commented on #621
Hey, is this issue still open?

[2020-10-10 20:17] ZarghamDanial commented on #619
Hey, is this issue open?

[2020-10-10 20:22] ZarghamDanial commented on #618
Hey, is this issue still open?

[2020-10-10 20:40] DeepanshuGOYAL05 commented on #633
Hey, I am here with the solution

[2020-10-10 20:42] DeepanshuGOYAL05 commented on #633
Can i do it in java?

[2020-10-10 20:44] BirajCoder commented on #633
I would like to contribute to this issue, Please Assign it to me .

[2020-10-10 20:44] BirajCoder commented on #635
I would like to contribute to this issue, Please Assign it to me! Thanks

[2020-10-10 21:15] BirajCoder opened #637 "1550 - Three Consecutive Odds"
## Description of the Problem
Given an integer array arr, return true if there are three consecutive odd numbers in the array. Otherwise, return false.

## Code
[code]

## Example 1:
[code]

## Example 2:
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/three-consecutive-odds/)

[2020-10-10 21:15] BirajCoder commented on #637
I would like to work on this Issue ,
Please Assign this to me ,
Thank You.

[2020-10-10 21:51] na-vural opened #639 "0891 - Sum of Subsequence Widths"
## Description of the Problem
Given an array of integers `A`, consider all non-empty subsequences of `A`.

For any sequence S, let the width of S be the difference between the maximum and minimum element of S.

Return the sum of the widths of all subsequences of `A`.

As the answer may be very large, **return the answer modulo 10^9 + 7**.

**Example 1:**
[code]

**Note:**
[code]

## Code
[code]

#

[2020-10-10 21:51] na-vural commented on #639
I want to solve this. Can you assign me :)

[2020-10-10 22:13] BirajCoder commented on #637
I would like to work in this issue , Maintainer please assign this issue to me , Thank You.

[2020-10-10 23:37] Abdulrahmannaser opened #640 "1281 - Subtract the Product and Sum of Digits of an Integer"
## Description of the Problem
Given an integer number `n`, return the difference between the product of its digits and the sum of its digits.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/subtract-the-product-and-sum-of-digits-of-an-integer/)

[2020-10-10 23:37] AN4553R commented on #640
Please assign me to this

[2020-10-10 23:40] SushanthReddyManda opened #641 "1544 - Make The String Great"
## Description of the Problem

Given a string s of lower and upper case English letters.

A good string is a string which doesn't have two adjacent characters s[i] and s[i + 1] where:

0 <= i <= s.length - 2
s[i] is a lower-case letter and s[i + 1] is the same letter but in upper-case or vice-versa.
To make the string good, you can choose two adjacent characters that make the string bad and remove

[2020-10-10 23:41] SushanthReddyManda commented on #641
Can I take this issue ? . Hope to hear from u soon :)

[2020-10-10 23:51] AN4553R commented on #640
Solved in #638

[2020-10-10 23:51] #640 closed

[2020-10-11 01:13] JaredLGillespie opened #642 "589 - N-ary Tree Preorder Traversal"
## Description of the Problem
Given an n-ary tree, return the preorder traversal of its nodes' values.

Nary-Tree input serialization is represented in their level order traversal, each group of children is separated by the null value (See examples).

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/n-ary-tree-preorder-traversal/)

[2020-10-11 02:28] aditya113141 opened #644 "0260 - Single-number-III"
## Description of the Problem
Given an integer array nums, in which exactly two elements appear only once and all the other elements appear exactly twice. Find the two elements that appear only once. You can return the answer in any order.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/single-number-iii/)

[2020-10-11 02:31] aditya113141 commented on #644
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-11 02:53] TechLead-War commented on #629
I have done this issue.

[2020-10-11 04:39] sailok opened #646 "0106 - Construct Binary Tree from Inorder and Postorder Traversal"
## Description of the Problem
Given inorder and postorder traversal of a tree, construct the binary tree.

Note:
You may assume that duplicates do not exist in the tree.

## Code
[code]

## Link To The LeetCode Problem
[Construct Binary Tree from Inorder and Postorder Traversal](https://leetcode.com/problems/construct-binary-tree-from-inorder-and-postorder-traversal/)

[2020-10-11 04:39] frank731 commented on #629
Oh oops, I didn't think that 0002 would be this problem, sorry about that

[2020-10-11 04:39] sailok commented on #646
i'll do this one.

[2020-10-11 04:48] Achyut-sudo commented on #131
@js899 no problem!
hey, @vJechsmayr  now can I start working on it ???? 😄

[2020-10-11 05:15] DhawalKhapre commented on #616
Please assign this issue to me @kunatastic

[2020-10-11 05:29] tejasbirsingh opened #650 "0122. Best Time to Buy and Sell Stock II"
## Description of the Problem
Say you have an array prices for which the ith element is the price of a given stock on day i.

Design an algorithm to find the maximum profit. You may complete as many transactions as you like (i.e., buy one and sell one share of the stock multiple times).

Note: You may not engage in multiple transactions at the same time (i.e., you must sell the stock before you bu

[2020-10-11 06:29] sethiTushar-007 opened #652 "1299 - Replace Elements with Greatest Element on Right Side"
## Description of the Problem
Given an array arr, replace every element in that array with the greatest element among the elements to its right, and replace the last element with -1.

After doing so, return the array.

Constraints:

1 <= arr.length <= 10^4
1 <= arr[i] <= 10^5

## Code
class Solution(object):
    def replaceElements(self, arr):

## Link To The LeetCode Problem
[LeetCode](https://le

[2020-10-11 06:29] sethitushar commented on #652
I want to work on this issue. Please assign it to me. Thanks!

[2020-10-11 06:39] dongwon900 opened #653 "0127 - Word Ladder"
## Description of the Problem
Given two words (beginWord and endWord), and a dictionary's word list, find the length of shortest transformation sequence from beginWord to endWord, such that:
1. Only one letter can be changed at a time.
2. Each transformed word must exist in the word list.

Note:
- Return 0 if there is no such transformation sequence.
- All words have the same length.
- All words c

[2020-10-11 06:41] dongwon900 commented on #653
I would like to be assigned to this issue. Thanks!

[2020-10-11 06:45] anupamabauri commented on #355
@vJechsmayr  Can u assign it to @Curious-Ujjwal
I will unassign myself.

[2020-10-11 07:04] Achyut-sudo commented on #131
hey,@vJechsmayr I have solved the problem assign me and
![Uploading gol_leetcode.jpg…]()
I will create the pull request

[2020-10-11 07:07] Achyut-sudo commented on #131
hey, @vJechsmayr  i have solved the problem just assign me and I will create the pull request
![gol_leetcode](https://user-images.githubusercontent.com/71660666/95672450-8780f780-0bbe-11eb-9c6f-2374a9acaa5c.jpg)

[2020-10-11 07:16] varishtsg opened #657 "0146 - LRU Cache"
## Description of the Problem
Design a data structure that follows the constraints of a Least Recently Used (LRU) cache.

Implement the LRUCache class:

    LRUCache(int capacity) Initialize the LRU cache with positive size capacity.
    int get(int key) Return the value of the key if the key exists, otherwise return -1.
    void put(int key, int value) Update the value of the key if the key exist

[2020-10-11 07:26] PraneshUlleri commented on #635
I would like to contribute to this issue!

[2020-10-11 07:33] sailok opened #659 "0208 - Implement Trie (Prefix Tree)"
## Description of the Problem
Implement a trie with insert, search, and startsWith methods.
## Code
[code]

## Link To The LeetCode Problem
[Implement Trie (Prefix Tree)](https://leetcode.com/problems/implement-trie-prefix-tree/)

[2020-10-11 07:34] sailok commented on #659
i'll do this one.

[2020-10-11 07:40] grpnpraveen opened #660 "0014 - Longest Common Prefix"
## Description of the Problem
Write a function to find the longest common prefix string amongst an array of strings.

If there is no common prefix, return an empty string "".

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/longest-common-prefix/)

[2020-10-11 07:41] likipreetham145 commented on #635
I would like to contribute to this issue

[2020-10-11 07:43] grpnpraveen opened #663 "0048_Rotate_Image"
## Description of the Problem
You are given an n x n 2D matrix representing an image, rotate the image by 90 degrees (clockwise).

You have to rotate the image in-place, which means you have to modify the input 2D matrix directly. DO NOT allocate another 2D matrix and do the rotation.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/rotate-image/)

[2020-10-11 07:51] sethiTushar-007 opened #664 "1436 - Destination City"
## Description of the Problem
You are given the array paths, where paths[i] = [cityAi, cityBi] means there exists a direct path going from cityAi to cityBi. Return the destination city, that is, the city without any path outgoing to another city.

It is guaranteed that the graph of paths forms a line without any loop, therefore, there will be exactly one destination city.

## Code
[code]

## Link

[2020-10-11 07:51] sethitushar commented on #664
I would to like to solve this problem. Please assign this to me. Thanks

[2020-10-11 07:57] PraneshUlleri commented on #664
I would like to solve this issue

[2020-10-11 07:57] kaash-bot opened #666 "0021 - Merge Two Sorted Lists"
**Description of the Problem**

Merge two sorted linked lists and return it as a new sorted list. The new list should be made by splicing together the nodes of the first two lists.

**Constraints:**

1. The number of nodes in both lists is in the range [0, 50].
2. -100 <= Node.val <= 100
3. Both l1 and l2 are sorted in non-decreasing order.

**Code**

class Solution:
    def mergeTwoLists(self, l1

[2020-10-11 08:17] PraneshUlleri opened #669 "0654 - Maximum Binary Tree"
## Description of the Problem
Given an integer array with no duplicates. A maximum tree building on this array is defined as follow:

The root is the maximum number in the array.
The left subtree is the maximum tree constructed from left part subarray divided by the maximum number.
The right subtree is the maximum tree constructed from right part subarray divided by the maximum number.
Construct t

[2020-10-11 08:17] PraneshUlleri commented on #669
I would like to contribute to this issue

[2020-10-11 08:29] ankitsri98 commented on #539
Hey , Please Have A look At My Pull Request, I have clearly explained the Problem with explanation and code. please Merge it. THANK YOU

[2020-10-11 09:08] Vinit-Dantkale opened #672 "1424 - Diagonal Traverse II"
## Description of the Problem
Given a list of lists of integers, `nums`, return all elements of `nums` in diagonal order as shown in the below images.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/diagonal-traverse-ii/)

[2020-10-11 09:09] PraneshUlleri commented on #669
Please merge this solution after reviewing!
Thanks

[2020-10-11 09:21] Vinit-Dantkale opened #673 "1446 - Consecutive Characters"
## Description of the Problem
Given a string `s`, the power of the string is the maximum length of a non-empty substring that contains only one unique character.

Return the power of the string.
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/consecutive-characters/)

[2020-10-11 09:22] jindalsachin opened #674 "0747 - Largest Number At Least Twice of Others"
## Description of the Problem
 Largest Number At Least Twice of Others

## Code
In a given integer array nums, there is always exactly one largest element.

Find whether the largest element in the array is at least twice as much as every other number in the array.

If it is, return the index of the largest element, otherwise return -1.

Example 1:

Input: nums = [3, 6, 1, 0]
Output: 1
Explanation:

[2020-10-11 09:25] jindalsachin opened #675 "0783 - Minimum Distance Between BST Nodes"
## Description of the Problem
Minimum Distance Between BST Nodes

## Code
Given a Binary Search Tree (BST) with the root node root, return the minimum difference between the values of any two different nodes in the tree.

Example :

Input: root = [4,2,6,1,3,null,null]
Output: 1
Explanation:
Note that root is a TreeNode object, not an array.

The given tree [4,2,6,1,3,null,null] is represented by t

[2020-10-11 09:26] Vinit-Dantkale commented on #672
I want to work on this

[2020-10-11 09:26] Vinit-Dantkale commented on #673
I want to work on this

[2020-10-11 09:27] jindalsachin opened #676 "0744 - Find Smallest Letter Greater Than Target"
## Description of the Problem
 Find Smallest Letter Greater Than Target

## Code
Given a list of sorted characters letters containing only lowercase letters, and given a target letter target, find the smallest element in the list that is larger than the given target.

Letters also wrap around. For example, if the target is target = 'z' and letters = ['a', 'b'], the answer is 'a'.

Examples:
Input:

[2020-10-11 09:32] Famosi commented on #660
@grpnpraveen  Would like to work on this!

[2020-10-11 10:08] Vinit-Dantkale opened #679 "0205 - Isomorphic Strings"
## Description of the Problem
Given two strings s and t, determine if they are isomorphic.

Two strings are isomorphic if the characters in s can be replaced to get t.

All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character but a character may map to itself.

## Code
[code]

## Link To The Lee

[2020-10-11 10:08] Vinit-Dantkale commented on #679
I want to work on this

[2020-10-11 10:18] grpnpraveen commented on #660
Actually its done but say if there is any mistake pls

[2020-10-11 10:21] sj538 commented on #676
Please assign me this issue

[2020-10-11 10:22] sj538 commented on #675
Please assign me this  issue

[2020-10-11 10:23] sj538 commented on #674
Pls assign me this issue

[2020-10-11 10:56] Aniketh896 commented on #663
I would like to implement this one.

[2020-10-11 11:03] wafemand opened #680 "0942 - DI String Match"
## Description of the Problem
Given a string S that only contains "I" (increase) or "D" (decrease), let `N = S.length`.

Return any permutation `A` of `[0, 1, ..., N]` such that for all `i = 0, ..., N-1`:

If `S[i] == "I"`, then `A[i] < A[i+1]`
If `S[i] == "D"`, then `A[i] > A[i+1]`

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/di-string-match/)

[2020-10-11 11:06] rakshaa2000 opened #681 "0092 - Decode Ways"
## Description of the Problem
A message containing letters from A-Z is being encoded to numbers using the following mapping:

'A' -> 1
'B' -> 2
...
'Z' -> 26
Given a non-empty string containing only digits, determine the total number of ways to decode it.

The answer is guaranteed to fit in a 32-bit integer.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/

[2020-10-11 11:09] rakshaa2000 commented on #681
I would like to add this to the repo, can I make a PR for this?

[2020-10-11 11:09] grpnpraveen opened #682 "0067 - Add Binary"
## Description of the Problem
Given two binary strings, return their sum (also a binary string).

The input strings are both non-empty and contains only characters 1 or 0.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/add-binary/)

[2020-10-11 11:20] vampirepapi commented on #553
please assign this to me! Thanks!

[2020-10-11 11:21] rakshaa2000 opened #686 "0094 - Binary Tree Inorder Traversal"
## Description of the Problem
Given the root of a binary tree, return the inorder traversal of its nodes' values.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/binary-tree-inorder-traversal/)

[2020-10-11 11:24] sohamsshah commented on #686
Please assign me! @rakshaa2000 I will make a PR ASAP

[2020-10-11 11:25] goodgodth commented on #650
Please assign this issue to me

[2020-10-11 11:30] TheFenrisLycaon commented on #686
I can do this ! Assign me

[2020-10-11 11:43] Sounakde commented on #682
I would like to be assigned to this issue.

[2020-10-11 12:29] krypticmouse opened #689 "0167 - Two Sum II - Input array is sorted"
## Description of the Problem
Given an array of integers that is already sorted in ascending order, find two numbers such that they add up to a specific target number.
The function twoSum should return indices of the two numbers such that they add up to the target, where index1 must be less than index2.

## Code
[code]
## Link To The LeetCode Problem
https://leetcode.com/problems/two-sum-ii-input-

[2020-10-11 12:44] mansijain980 opened #693 "0051## -N queens"
## Description of the Problem
You may copy that from LeetCode

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/)

[2020-10-11 12:46] spoorgholi74 opened #694 "0746 - Min Cost Climbing Stairs"
## Description of the Problem
On a staircase, the i-th step has some non-negative cost cost[i] assigned (0 indexed).

Once you pay the cost, you can either climb one or two steps. You need to find minimum cost to reach the top of the floor, and you can either start from the step with index 0, or the step with index 1.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com

[2020-10-11 12:47] spoorgholi74 commented on #694
Please assign this to me.

Cheers

[2020-10-11 12:53] poojan-dalal commented on #22
@vJechsmayr It's been more than 7 days you assigned this issue to @Wittionary still no PR. I have got this, and would like to contribute. Can you assign to me?

[2020-10-11 12:53] spoorgholi74 opened #695 "0371 - Sum of Two Integers"
## Description of the Problem
Calculate the sum of two integers a and b, but you are not allowed to use the operator + and -.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/sum-of-two-integers/)

[2020-10-11 12:54] spoorgholi74 commented on #695
Please assign this to me.

[2020-10-11 12:59] Famosi commented on #660
The related PR is #433.
However, #433 is closed since it doesn't respect contributing guidelines.
Let me know if I can work on this issue by assigning me to the issue.
Thanks :)

[2020-10-11 13:12] ankitsri98 commented on #695
Please Assign this Problem To me i am sure i can do it.
thank you.

[2020-10-11 13:14] TheFenrisLycaon commented on #689
I can do this. Assign to me

[2020-10-11 13:25] poojan-dalal opened #696 "0085 - Maximal Rectangle"
## Description of the Problem
Given a rows x cols binary matrix filled with 0's and 1's, find the largest rectangle containing only 1's and return its area.

Example 1:
[image here](https://assets.leetcode.com/uploads/2020/09/14/maximal.jpg)
Input: matrix = [["1","0","1","0","0"],["1","0","1","1","1"],["1","1","1","1","1"],["1","0","0","1","0"]]
Output: 6
Explanation: The maximal rectangle is show

[2020-10-11 13:26] poojan-dalal commented on #696
@vJechsmayr Please assign this to me.

[2020-10-11 13:27] yogeshsingh01 commented on #32
@vJechsmayr @sadn1ck Bot is working perfectly.
Check https://github.com/yogeshsingh01/PythonAlgorithms/pull/14
Let me know how you want to proceed

[2020-10-11 13:28] ankitsri98 commented on #694
Please Assign this Doubt To me i will try To Response as soon as Possible.
Thank You

[2020-10-11 13:40] sadn1ck commented on #32
Great!!! Nice one @yogeshsingh01 !!

[2020-10-11 13:40] poojan-dalal opened #697 "0168 - Excel Sheet Column Title"
## Description of the Problem
Given a positive integer, return its corresponding column title as appear in an Excel sheet.

For example:
    1 -> A
    2 -> B
    3 -> C
    ...
    26 -> Z
    27 -> AA
    28 -> AB
    ...

Example 1:

Input: 1
Output: "A"
Example 2:

Input: 28
Output: "AB"
Example 3:

Input: 701
Output: "ZY"

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/proble

[2020-10-11 13:41] poojan-dalal commented on #697
@vJechsmayr Please assign this to me.

[2020-10-11 13:49] Vinit-Dantkale opened #698 "0543 - Diameter of Binary Tree"
## Description of the Problem
Given a binary tree, you need to compute the length of the diameter of the tree. The diameter of a binary tree is the length of the longest path between any two nodes in a tree. This path may or may not pass through the root.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/diameter-of-binary-tree/)

[2020-10-11 13:49] Vinit-Dantkale commented on #698
I wish to work on this

[2020-10-11 13:50] poojan-dalal opened #699 "0223 - Rectangle Area"
## Description of the Problem
Find the total area covered by two rectilinear rectangles in a 2D plane.

Each rectangle is defined by its bottom left corner and top right corner as shown in the figure.
[Image here](https://assets.leetcode.com/uploads/2018/10/22/rectangle_area.png)

Example:

Input: A = -3, B = 0, C = 3, D = 4, E = 0, F = -1, G = 9, H = 2
Output: 45

Note:

Assume that the total are

[2020-10-11 13:50] poojan-dalal commented on #699
@vJechsmayr Please assign me this.

[2020-10-11 13:57] mansijain980 opened #700 "0456## - 132 Pattern"
## Description of the Problem
You may copy that from LeetCode

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/)

[2020-10-11 14:01] deekal7 opened #701 "0216 - Combination Sum III"
## Description of the Problem
Find all valid combinations of k numbers that sum up to n such that the following conditions are true:

Only numbers 1 through 9 are used.
Each number is used at most once.
Return a list of all possible valid combinations. The list must not contain the same combination twice, and the combinations may be returned in any order.

Example 1:

Input: k = 3, n = 7
Output: [

[2020-10-11 14:02] deekal7 commented on #701
Please assign this to me

[2020-10-11 14:02] Sounakde opened #702 "0389 - Find The Difference"
## Description of the Problem
You are given two strings s and t.
String t is generated by random shuffling string s and then add one more letter at a random position.
Return the letter that was added to t.

Example 1:
Input: s = "abcd", t = "abcde"
Output: "e"
Explanation: 'e' is the letter that was added.

Example 2:
Input: s = "", t = "y"
Output: "y"

Example 3:
Input: s = "a", t = "aa"
Output:

[2020-10-11 14:04] Sounakde commented on #702
@vJechsmayr Can you please assign this issue to me?

[2020-10-11 14:10] ankitsri98 commented on #696
Please Assign this to me i can solve this as fast as possible .
Thank You

[2020-10-11 14:37] deekal7 opened #704 "0334 - Increasing Triplet Subsequence"
## Description of the Problem
Given an unsorted array return whether an increasing subsequence of length 3 exists or not in the array.

Formally the function should:

Return true if there exists i, j, k
such that arr[i] < arr[j] < arr[k] given 0 ≤ i < j < k ≤ n-1 else return false.
Note: Your algorithm should run in O(n) time complexity and O(1) space complexity.

Example 1:

Input: [1,2,3,4,5]
Ou

[2020-10-11 14:37] deekal7 commented on #704
Please assign this to me

[2020-10-11 14:41] eg180 commented on #695
Interested in trying. Thank you.

[2020-10-11 15:01] prkhrv commented on #702
@vJechsmayr  I would Love to work on this

[2020-10-11 15:05] rahulatrkm opened #706 "1598 - Crawler Log Folder"
## Description of the Problem
The Leetcode file system keeps a log each time some user performs a change folder operation.

The operations are described below:

"../" : Move to the parent folder of the current folder. (If you are already in the main folder, remain in the same folder).
"./" : Remain in the same folder.
"x/" : Move to the child folder named x (This folder is guaranteed to always exi

[2020-10-11 15:44] grpnpraveen commented on #660
oh sry but i  included two py files  in this pull request

[2020-10-11 16:05] frank731 commented on #629
Wait I just realized that the two questions are slightly different, where one the lists are reversed and this one they aren't.  If you can link me your issue then I'll reclose it.

[2020-10-11 16:30] uddeshyatyagi opened #709 "Countdown Timer"

[2020-10-11 16:44] morenocl opened #710 "00## - Check if a number is prime"
## Description of the Problem
Check that a number is prime

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/playground/U27rDXz6)

[2020-10-11 16:50] Deepak2417 commented on #702
I want to contribute.

[2020-10-11 17:06] Shreejichandra opened #711 "0316 - Remove Duplicate Letters"
## Description of the Problem
Given a string s, remove duplicate letters so that every letter appears once and only once. You must make sure your result is the smallest in lexicographical order among all possible results.

## Example 1:
[code]
## Example 2:
[code]

## Constraints:
[code]
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/remove-duplicate-lette

[2020-10-11 17:29] morenocl opened #713 "1661 - Check if a number is prime"
## Check if a number is prime

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/playground/U27rDXz6)

[2020-10-11 18:00] ankitsri1998 commented on #713
Please Assign this to me, I can do this efficiently.
Thank You.

[2020-10-11 18:05] ankitsri1998 commented on #711
Please Assign this to me, I can do this efficiently.
Thank You.

[2020-10-11 18:06] ankitsri1998 commented on #710
Please Assign this to me, I can do this efficiently.
Thank You.

[2020-10-11 18:22] Shreejichandra commented on #711
I want to do this myself. Please assign it to me.
Thank you!

[2020-10-11 19:17] SushanthReddyManda commented on #641
@vJechsmayr   Can i take this up ?? .

[2020-10-11 19:56] zer0link commented on #713
Hi, this seems like an interesting challenge, I like to be assigned for this task

[2020-10-11 20:10] zer0link commented on #700
Hi, can I be assigned for this issue?

[2020-10-11 20:51] CaptainYANG opened #715 "0101 - Symmetric Tree"
## Description of the Problem
Given a binary tree, check whether it is a mirror of itself (ie, symmetric around its center).

For example, this binary tree [1,2,2,3,4,4,3] is symmetric:
[code]

But the following [1,2,2,null,3,null,3] is not:
[code]

Follow up: Solve it both recursively and iteratively.
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/symmetr

[2020-10-11 21:05] CaptainYANG opened #716 "0103 - Binary Tree Zigzag Level Order Traversal"
## Description of the Problem
Given a binary tree, return the zigzag level order traversal of its nodes' values. (ie, from left to right, then right to left for the next level and alternate between).

For example:
Given binary tree [3,9,20,null,null,15,7],
[code]
return its zigzag level order traversal as:
[code]
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/probl

[2020-10-11 21:09] CaptainYANG opened #717 "0105 - Construct Binary Tree from Preorder and Inorder Traversal"
## Description of the Problem
Given preorder and inorder traversal of a tree, construct the binary tree.

Note:
You may assume that duplicates do not exist in the tree.

For example, given

preorder = [3,9,20,15,7]
inorder = [9,3,15,20,7]
Return the following binary tree:
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/construct-binary-tree-from-pre

[2020-10-11 21:10] CaptainYANG opened #718 "0107 - LeetCode Problem Title"
## Description of the Problem
Given a binary tree, return the bottom-up level order traversal of its nodes' values. (ie, from left to right, level by level from leaf to root).

For example:
Given binary tree [3,9,20,null,null,15,7],
[code]
return its bottom-up level order traversal as:
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/binary-tree-leve

[2020-10-11 21:44] princesinghtomar opened #720 "0110 - Balanced Binary Tree"
## Description of the Problem
Given a binary tree, determine if it is height-balanced.

For this problem, a height-balanced binary tree is defined as:

    a binary tree in which the left and right subtrees of every node differ in height by no more than 1.

Example 1:
Input: root = [3,9,20,null,null,15,7]
Output: true

Example 2:
Input: root = [1,2,2,3,3,null,null,4,4]
Output: false

Example 3:

I

[2020-10-11 21:44] princesinghtomar commented on #720
may i have this one

[2020-10-11 21:53] princesinghtomar opened #721 "0119 - Pascal's Triangle II"
## Description of the Problem
Given an integer rowIndex, return the rowIndex_^{th} row of the Pascal's triangle.

Notice that the row index starts from 0.

In Pascal's triangle, each number is the sum of the two numbers directly above it.

Follow up:

Could you optimize your algorithm to use only O(k) extra space?

Example 1:

Input: rowIndex = 3
Output: [1,3,3,1]

Example 2:

Input: rowIndex = 0

[2020-10-11 21:53] princesinghtomar commented on #721
i want to do this one

[2020-10-11 21:53] princesinghtomar commented on #721
please assgn this to me

[2020-10-11 22:03] princesinghtomar opened #723 "0144 - Binary Tree Preorder Traversal"
## Description of the Problem
Given the root of a binary tree, return the preorder traversal of its nodes' values.

Example 1:

1 - 2 - 3

Input: root = [1,null,2,3]
Output: [1,2,3]

Example 2:
Input: root = []
Output: []

Example 3:
Input: root = [1]
Output: [1]

Example 4:

2 - 1

Input: root = [1,2]
Output: [1,2]

Example 5:

1 - 2

Input: root = [1,null,2]
Output: [1,2]

Constraints:

    The

[2020-10-11 22:03] princesinghtomar commented on #723
please assgn this issue to me

[2020-10-11 22:06] princesinghtomar opened #724 "0145 - Binary Tree Postorder Traversal"
## Description of the Problem
Given the root of a binary tree, return the postorder traversal of its nodes' values.

Example 1:

1 - 2 - 3

Input: root = [1,null,2,3]
Output: [3,2,1]

Example 2:

Input: root = []
Output: []

Example 3:

Input: root = [1]
Output: [1]

Example 4:

2 - 1

Input: root = [1,2]
Output: [2,1]

Example 5:

1 - 2

Input: root = [1,null,2]
Output: [2,1]

Constraints:

    T

[2020-10-11 22:06] princesinghtomar commented on #724
please assgn this to me

[2020-10-11 22:26] andjelatodorovic commented on #693
I'll do this problem.

[2020-10-11 22:29] andjelatodorovic commented on #680
I will do this problem. Please assign me to avoid conflicts.

[2020-10-11 22:49] wafemand commented on #680
Sorry, but the problem already solved. See pull request above. I'm just waiting for merge.

[2020-10-12 02:32] Bhairavi-shah commented on #723
I would like to work on this. Please assign this to me.

[2020-10-12 02:32] Bhairavi-shah commented on #724
I would like to work on this. Please assign this to me.

[2020-10-12 02:44] jeffmikels commented on #611
@vJechsmayr can you assign and accept this? Thanks for hosting this repo!

[2020-10-12 03:40] suman2826 opened #729 "00## - LeetCode Problem Title"
## Description of the Problem
In a gold mine grid of size m * n, each cell in this mine has an integer representing the amount of gold in that cell, 0 if it is empty.

Return the maximum amount of gold you can collect under the conditions:

Every time you are located in a cell you will collect all the gold in that cell.
From your position you can walk one step to the left, right, up or down.
You c

[2020-10-12 03:41] suman2826 commented on #729
I would like to be assigned to this issue, Thank you!

[2020-10-12 03:43] #729 closed

[2020-10-12 03:44] RgnDunes commented on #542
Can you please assign this to me ?

[2020-10-12 03:45] suman2826 opened #730 "1219 - Path with Maximum Gold"
## Description of the Problem
In a gold mine grid of size m * n, each cell in this mine has an integer representing the amount of gold in that cell, 0 if it is empty.

Return the maximum amount of gold you can collect under the conditions:

Every time you are located in a cell you will collect all the gold in that cell.
From your position you can walk one step to the left, right, up or down.
You c

[2020-10-12 03:45] suman2826 commented on #730
I would like to be assigned to this issue, Thank You.

[2020-10-12 04:10] makshat01 commented on #553
This is my first hacktoberfest participation and getting to solve a problem would help me grow in terms of knowledge and help towards open-source. If it is still open can you assign this to me?

[2020-10-12 04:25] Achyut-sudo commented on #6
hey, @vJechsmayr  if @adamcakg is not working on this, can you assign me to this ???
I have a standing solution

[2020-10-12 04:26] uddeshyatyagi commented on #709
Someone please add hacktoberfest tag to this issue

[2020-10-12 04:31] Achyut-sudo commented on #17
hey,@vJechsmayr  can you assign me ?? (only after @alvacat  ) 😄

[2020-10-12 04:57] SatyamYadav-cmd opened #732 "0137 - Single Number II"
## Description of the Problem
Given a non-empty array of integers, every element appears three times except for one, which appears exactly once. Find that single one.

Note:

Your algorithm should have a linear runtime complexity. Could you implement it without using extra memory?

Example 1:

Input: [2,2,3,2]
Output: 3
Example 2:

Input: [0,1,0,1,0,1,99]
Output: 99

## Code
[code]

## Link To The

[2020-10-12 05:03] SatyamYadav-cmd commented on #732
I'd like to work on this

[2020-10-12 05:05] chiragbansal-45 commented on #721
I would like to solve this issue

[2020-10-12 05:14] RgnDunes commented on #724
Nice question, please assign it to me.

[2020-10-12 05:16] cakon2 opened #733 "1351 - Count Negative Numbers in a Sorted Matrix"
## Description of the Problem
Given a m * n matrix grid which is sorted in non-increasing order both row-wise and column-wise.

Return the number of negative numbers in grid.

Example 1:
Input: grid = [[4,3,2,-1],[3,2,1,-1],[1,1,-1,-2],[-1,-1,-2,-3]]
Output: 8
Explanation: There are 8 negatives number in the matrix.

Example 2:
Input: grid = [[3,2],[1,0]]
Output: 0

Example 3:
Input: grid = [[1,-1

[2020-10-12 05:16] cakon2 commented on #733
I would like to be assigned to this !

[2020-10-12 05:22] grpnpraveen commented on #682
sry but this is solved

[2020-10-12 06:04] sumitmohite0501 commented on #710
I have solve this problem . #738

[2020-10-12 06:27] suhridmathur opened #739 "1470 - Shuffle the Array"
## Description of the Problem
Given the array nums consisting of 2n elements in the form [x1,x2,...,xn,y1,y2,...,yn].

Return the array in the form [x1,y1,x2,y2,...,xn,yn].

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/shuffle-the-array/)

[2020-10-12 06:44] sumitmohite0501 commented on #639
I have solve this. see my commit 79a039a9fc4d906bfc23455f356a5f555de22489

[2020-10-12 07:06] AbhishekTiwari07 commented on #721
#742

[2020-10-12 07:06] AbhishekTiwari07 commented on #721
#742

[2020-10-12 07:39] vrbro commented on #720
Can I be assigned this issue?

[2020-10-12 07:39] anikk7 commented on #713
Hey! I am new to opensource so I could really use this opportunity well. I request you to assign this task to me!
I will include brief explanations if required

[2020-10-12 08:10] #709 closed

[2020-10-12 08:10] uddeshyatyagi commented on #709
wasn't a Leet code problem

[2020-10-12 09:43] javmarina opened #743 "0203 - Remove Linked List Elements"
## Description of the Problem

Remove all elements from a linked list of integers that have value val.

Example:

Input:  1->2->6->3->4->5->6, val = 6
Output: 1->2->3->4->5

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/remove-linked-list-elements/)

[2020-10-12 10:05] Prabhasa20 opened #745 "12## - Integer to Roman"
## Description of the Problem
You may copy that from LeetCode

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/)

[2020-10-12 10:11] javmarina opened #746 "1518 - Water Bottles"
## Description of the Problem

Given `numBottles` full water bottles, you can exchange `numExchange` empty water bottles for one full water bottle.

The operation of drinking a full water bottle turns it into an empty bottle.

Return the maximum number of water bottles you can drink.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/water-bottles/)

[2020-10-12 10:20] flick-23 commented on #695
Please assign this problem to me.

[2020-10-12 10:21] na-vural commented on #639
Which issue about the problem is yours? I did not find another issue about this problem. I also solved this problem but I am waiting for being assigned. Please read the rules before contributing.

[2020-10-12 10:23] flick-23 commented on #637
Please assign this to me. I will do it!

[2020-10-12 10:24] flick-23 commented on #635
Please assign this to me. I will do it!

[2020-10-12 10:24] flick-23 commented on #628
Please assign this to me. I will do it!

[2020-10-12 10:24] flick-23 commented on #615
Please assign this to me. I will do it!

[2020-10-12 10:25] flick-23 commented on #548
Please assign this to me. I will do it!

[2020-10-12 10:25] flick-23 commented on #594
Please assign this to me. I will do it!

[2020-10-12 10:25] flick-23 commented on #550
Please assign this to me. I will do it!

[2020-10-12 10:26] flick-23 commented on #356
Please assign this to me. I will do it!

[2020-10-12 10:27] flick-23 commented on #743
Please assign this to me. I will do it!

[2020-10-12 10:27] flick-23 commented on #697
Please assign this to me. I will do it!

[2020-10-12 10:28] flick-23 commented on #644
Please assign this to me. I will do it!

[2020-10-12 10:28] flick-23 commented on #616
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 10:28] flick-23 commented on #635
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 10:28] flick-23 commented on #633
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 10:28] flick-23 commented on #631
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 10:28] flick-23 commented on #607
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 10:28] flick-23 commented on #355
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 10:29] flick-23 commented on #309
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 10:54] mkiglics opened #749 "0212 - Word Search II"
## Description of the Problem
Given a 2D board and a list of words from the dictionary, find all words in the board.

Each word must be constructed from letters of sequentially adjacent cell, where "adjacent" cells are those horizontally or vertically neighboring. The same letter cell may not be used more than once in a word.
__Example:__
[code]
__Note:__

All inputs are consist of lowercase lette

[2020-10-12 10:54] mkiglics commented on #749
I would like to solve this

[2020-10-12 10:59] reach-the-sky commented on #749
I would like to solve it please assign it to me.

[2020-10-12 11:06] Kadermiyanyedi commented on #745
Can you assign me?

[2020-10-12 11:09] flick-23 commented on #746
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before. I have solved this problem.
Hope to here you from soon :)

[2020-10-12 11:11] flick-23 commented on #745
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:11] flick-23 commented on #702
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:15] flick-23 commented on #699
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)

[2020-10-12 11:16] flick-23 commented on #730
I would like to contribute my solution for this problem.
Please assign me if it has not been contributed before.
Hope to here you from soon :)
(PS: I have solved this problem)

[2020-10-12 12:08] javmarina commented on #746
I already proposed a solution

[2020-10-12 12:09] javmarina commented on #743
I already proposed a solution

[2020-10-12 12:33] aroradhruv2308 opened #752 "0807 - Max Increase to Keep City Skyline"
## Description of the Problem
In a 2 dimensional array grid, each value grid[i][j] represents the height of a building located there. We are allowed to increase the height of any number of buildings, by any amount (the amounts can be different for different buildings). Height 0 is considered to be a building as well.

At the end, the "skyline" when viewed from all four directions of the grid, i.e.

[2020-10-12 12:33] aroradhruv2308 commented on #752
pls assign this issue to me

[2020-10-12 12:38] Famosi commented on #660
Hi @grpnpraveen! So, can I work on this or not?

[2020-10-12 12:58] conradojordan opened #753 "0869 - Reordered Power of 2"
## Description of the Problem
Starting with a positive integer N, we reorder the digits in any order (including the original order) such that the leading digit is not zero.

Return true if and only if we can do this in a way such that the resulting number is a power of 2.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/reordered-power-of-2/)

[2020-10-12 12:58] conradojordan commented on #753
I would like to be assigned this issue, if possible

[2020-10-12 15:10] Ahkam95 opened #756 "0222 - Count Complete Tree Nodes"
## Description of the Problem
Given a complete binary tree, count the number of nodes.

Note:

Definition of a complete binary tree from Wikipedia:
In a complete binary tree every level, except possibly the last, is completely filled, and all nodes in the last level are as far left as possible. It can have between 1 and 2h nodes inclusive at the last level h.

Example:

Input:
    1
   / \
  2   3

[2020-10-12 15:13] Ahkam95 commented on #756
I would love to do this. @vJechsmayr assign me please

[2020-10-12 15:27] prajjval30-zz commented on #548
Please assing it to me

[2020-10-12 15:31] #548 closed

[2020-10-12 15:35] princekhj555 commented on #713
please assign this to me i'll do it.

[2020-10-12 16:07] frank731 commented on #550
Sorry, I have already been assigned and have opened a pull request

[2020-10-12 16:14] aman1833 opened #758 "0997- Find the Town Judge"
## Description of the Problem
In a town, there are N people labelled from 1 to N.  There is a rumor that one of these people is secretly the town judge.

If the town judge exists, then:

The town judge trusts nobody.
Everybody (except for the town judge) trusts the town judge.
There is exactly one person that satisfies properties 1 and 2.
You are given trust, an array of pairs trust[i] = [a, b] re

[2020-10-12 18:50] SatyamYadav-cmd opened #761 "0151 - Reverse Words in a String"
## Description of the Problem
Given an input string s, reverse the order of the words.

A word is defined as a sequence of non-space characters. The words in s will be separated by at least one space.

Return a string of the words in reverse order concatenated by a single space.

Note that s may contain leading or trailing spaces or multiple spaces between two words. The returned string should onl

[2020-10-12 18:51] SatyamYadav-cmd commented on #761
I would like to work on this.

[2020-10-12 19:02] itsaamyth commented on #761
Assign it to me

[2020-10-12 19:07] Shreejichandra opened #762 "0859 - Buddy Strings"
## Description of the Problem
Given two strings A and B of lowercase letters, return true if you can swap two letters in A so the result is equal to B, otherwise, return false.

Swapping letters is defined as taking two indices i and j (0-indexed) such that i != j and swapping the characters at A[i] and A[j]. For example, swapping at indices 0 and 2 in "abcd" results in "cbad".

## Example 1:
[cod

[2020-10-12 20:46] IsuruAriyarathne opened #763 "0204 - Count Primes"
Count the number of prime numbers less than a non-negative number, n.

## Code
class Solution:
    def countPrimes(self, n: int) -> int:
        if (n==0 or n==1 or n==2):
            return(0)
        count=0
        for num in range(2,n):
            if num > 1:
                # check for factors
                for i in range(2,num):
                    if (num % i) == 0:

[2020-10-12 20:48] IsuruAriyarathne commented on #635
I would like to contribute.

[2020-10-12 20:52] #763 closed

[2020-10-12 20:53] IsuruAriyarathne commented on #762
can you please assign this to me.

[2020-10-12 21:08] Shreejichandra commented on #762
I want to work on this myself. Please assign it to me.
Thank you!

[2020-10-12 21:17] riwim commented on #739
Duplicate of #584

[2020-10-12 23:00] IfeOlulesi commented on #761
I'll love to work on this!

[2020-10-13 00:38] cakon2 opened #764 "1282 - Group the People Given the Group Size They Belong To"
## Description of the Problem
There are n people that are split into some unknown number of groups. Each person is labeled with a unique ID from 0 to n - 1.

You are given an integer array groupSizes, where groupSizes[i] is the size of the group that person i is in. For example, if groupSizes[1] = 3, then person 1 must be in a group of size 3.

Return a list of groups such that each person i is in

[2020-10-13 00:38] cakon2 commented on #764
I would like to be assigned to this !

[2020-10-13 02:06] antonioalmeidab opened #766 "0868 - Binary Gap"
## Description of the Problem
Given a positive integer n, find and return the longest distance between any two adjacent 1's in the binary representation of n. If there are no two adjacent 1's, return 0.

Two 1's are adjacent if there are only 0's separating them (possibly no 0's). The distance between two 1's is the absolute difference between their bit positions. For example, the two 1's in "1001

[2020-10-13 02:06] antonioalmeidab commented on #766
I would like to work on this, please assign it to me.

[2020-10-13 02:36] vikram-bais commented on #761
hey, please assign it to me

[2020-10-13 03:14] suman2826 opened #768 "1284- Minimum Number of Flips to Convert Binary Matrix to Zero Matrix"
## Description of the Problem
Given a m x n binary matrix mat. In one step, you can choose one cell and flip it and all the four neighbours of it if they exist (Flip is changing 1 to 0 and 0 to 1). A pair of cells are called neighboors if they share one edge.

Return the minimum number of steps required to convert mat to a zero matrix or -1 if you cannot.

Binary matrix is a matrix with all cells

[2020-10-13 03:15] suman2826 commented on #768
I would like to be assigned to this issue, Thank you!

[2020-10-13 07:59] IsuruAriyarathne opened #773 "0344 - Reverse String"
## Description of the Problem
Write a function that reverses a string. The input string is given as an array of characters char[].

Do not allocate extra space for another array, you must do this by modifying the input array in-place with O(1) extra memory.

You may assume all the characters consist of printable ascii characters.

Example 1:

Input: ["h","e","l","l","o"]
Output: ["o","l","l","e","

[2020-10-13 08:00] IsuruAriyarathne commented on #773
can you please assign this to me.

[2020-10-13 09:28] UdeshAthukorala opened #776 "0084 - Largest Rectangle in Histogram"
## Description of the Problem
Given n non-negative integers representing the histogram's bar height where the width of each bar is 1, find the area of largest rectangle in the histogram.

![image](https://user-images.githubusercontent.com/36252606/95841776-60175f80-0d63-11eb-9942-d49167b977e5.png)
_Above is a histogram where width of each bar is 1, given height = `[2,1,5,6,2,3]`._

![image](https:

[2020-10-13 09:33] UdeshAthukorala commented on #776
@vJechsmayr Hey, I'd like to work on this problem. Can you please assign it to me?

[2020-10-13 10:39] devruji opened #778 "1556 - Thousand Separator"
## Description of the Problem
Given an integer n, add a dot (".") as the thousands separator and return it in string format.

Example 1:
Input: n = 987
Output: "987"

Example 2:
Input: n = 1234
Output: "1.234"

Example 3:
Input: n = 123456789
Output: "123.456.789"

Example 4:
Input: n = 0
Output: "0"

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/thousand

[2020-10-13 10:39] devruji commented on #778
I'd like to work on this

[2020-10-13 11:03] Rahul171201 commented on #773
can I take this up in C++?

[2020-10-13 12:29] vJechsmayr opened #780 "Repository shut down temporary"
Dear Contributers!

Because I am currently because of Corona (SARS-Cov2) not able to do Reviews **please do not open any PRs!**
As soon as I‘m back on track I will work through the current PRs.

By today I activated the interaction limit so no one can interact with this repo for the moment.

Thank you!

[2020-10-28 07:39] #383 closed

[2020-10-28 07:40] #542 closed

[2020-10-28 07:46] #550 closed

[2020-10-28 07:47] #553 closed

[2020-10-28 07:48] #603 closed

[2020-10-28 07:49] #607 closed

[2020-10-28 07:53] #612 closed

[2020-10-28 07:54] #621 closed

[2020-10-28 07:54] #623 closed

[2020-10-28 07:57] #630 closed

[2020-10-28 07:58] #611 closed

[2020-10-28 07:58] #633 closed

[2020-10-28 08:00] #641 closed

[2020-10-28 08:01] #642 closed

[2020-10-28 08:01] #646 closed

[2020-10-28 08:02] #657 closed

[2020-10-28 08:03] #673 closed

[2020-10-28 08:07] #681 closed

[2020-10-28 08:07] #686 closed

[2020-10-28 08:11] #700 closed

[2020-10-28 08:12] #701 closed

[2020-10-28 08:13] #706 closed

[2020-10-28 08:18] #732 closed

[2020-10-28 08:20] #733 closed

[2020-10-28 08:23] #739 closed

[2020-10-28 08:24] #743 closed

[2020-10-28 08:26] #756 closed

[2020-10-28 08:27] #758 closed

[2020-10-28 08:27] #764 closed

[2020-10-28 08:28] #778 closed

[2020-10-28 08:31] #492 closed

[2020-10-28 08:32] #495 closed

[2020-10-28 08:34] #568 closed

[2020-10-28 08:38] #6 closed

[2020-10-28 08:39] #571 closed

[2020-10-28 08:41] #526 closed

[2020-10-28 08:42] #574 closed

[2020-10-28 08:43] #578 closed

[2020-10-28 08:45] #616 closed

[2020-10-28 08:46] #615 closed

[2020-10-28 08:56] #167 closed

[2020-10-28 08:56] #355 closed

[2020-10-28 08:56] #660 closed

[2020-10-28 09:07] #659 closed

[2020-10-28 09:08] #669 closed

[2020-10-28 09:10] #680 closed

[2020-10-28 09:13] #689 closed

[2020-10-28 09:16] #448 closed

[2020-10-28 09:22] vJechsmayr commented on #713
Issue does not follow Contribution Guidelines - closed

Please make sure to only sumbit Issues from the [https://leetcode.com/problemset/all/](https://leetcode.com/problemset/all) list

[2020-10-28 09:22] #713 closed

[2020-10-28 09:23] #717 closed

[2020-10-29 09:02] #715 closed

[2020-10-29 09:02] #716 closed

[2020-10-29 09:03] #718 closed

[2020-10-29 09:05] #723 closed

[2020-10-29 09:10] #721 closed

[2020-10-29 09:11] #746 closed

[2020-10-29 09:27] #761 closed

[2020-10-29 09:39] #32 closed

[2020-10-29 09:46] vJechsmayr commented on #17
@Achyut-sudo  if you still want to work on it - go ahead 😄

[2020-10-29 09:46] vJechsmayr commented on #22
@poojan-dalal If you want to work on it - go ahead 😸

[2020-10-29 09:47] vJechsmayr commented on #36
@ivy-2000 @Curious-Ujjwal Do you still want to work on this?

[2020-10-29 09:48] vJechsmayr commented on #131
@Achyut-sudo Do you want to commit the PR?

[2020-10-29 09:49] vJechsmayr commented on #173
@DhawalKhapre @Curious-Ujjwal If you want to work on it let me know

[2020-10-29 09:52] #266 closed

[2020-10-29 09:53] #291 closed

[2020-10-29 09:54] vJechsmayr commented on #309
@flick-23 There is still no PR from Issue-Creator(@alifakbar111): Feel Free to commit a PR

[2020-10-29 09:58] #644 closed

[2020-10-29 10:03] vJechsmayr commented on #594
Problem already solved

[2020-10-29 10:03] #594 closed

[2020-10-29 10:03] vJechsmayr commented on #599
@na-vural Waiting for your PR

[2020-10-29 10:04] vJechsmayr commented on #602
@Shreejichandra Waiting for your PR

[2020-10-29 10:05] vJechsmayr commented on #618
@princesinghtomar Waiting for your PR

[2020-10-29 10:07] vJechsmayr commented on #619
@anqkhieu
Waiting for your PR 😸

[2020-10-29 10:07] vJechsmayr commented on #628
@anqkhieu Waiting for your PR 😸

[2020-10-29 10:09] #629 closed

[2020-10-29 10:09] vJechsmayr commented on #631
Problem already solved

[2020-10-29 10:09] #631 closed

[2020-10-29 10:10] vJechsmayr commented on #635
Problem already solved

[2020-10-29 10:10] #635 closed

[2020-10-29 10:11] vJechsmayr commented on #637
@BirajCoder
Waiting for your PR 😸

[2020-10-29 10:11] vJechsmayr commented on #639
@na-vural
Waiting for your PR 😸

[2020-10-29 10:12] vJechsmayr commented on #650
@tejasbirsingh Waiting for your PR 😸

[2020-10-29 10:12] vJechsmayr commented on #652
Problem already solved

[2020-10-29 10:12] #652 closed

[2020-10-29 10:13] vJechsmayr commented on #653
@dongwon900
Waiting for your PR 😸

[2020-10-29 10:14] vJechsmayr commented on #663
Problem already solved

[2020-10-29 10:14] #663 closed

[2020-10-29 10:14] vJechsmayr commented on #664
Problem solved

[2020-10-29 10:14] #664 closed

[2020-10-29 10:15] vJechsmayr commented on #666
Problem alredy solved

[2020-10-29 10:15] #666 closed

[2020-10-29 10:15] vJechsmayr commented on #672
@Vinit-Dantkale
Waiting for your PR 😸

[2020-10-29 10:16] vJechsmayr commented on #674
@jindalsachin
Waiting for your PR 😸

[2020-10-29 10:16] vJechsmayr commented on #675
Problem already solved

[2020-10-29 10:17] vJechsmayr commented on #675
@jindalsachin
Waiting for your PR 😸

[2020-10-29 10:17] vJechsmayr commented on #676
@jindalsachin
Waiting for your PR 😸

[2020-10-29 10:18] vJechsmayr commented on #679
@Vinit-Dantkale
Waiting for your PR 😸

[2020-10-29 10:19] vJechsmayr commented on #682
Problem already solved

[2020-10-29 10:19] #682 closed

[2020-10-29 10:20] vJechsmayr commented on #693
Problem already solved

[2020-10-29 10:20] #693 closed

[2020-10-29 10:20] vJechsmayr commented on #694
Problem already solved

[2020-10-29 10:20] #694 closed

[2020-10-29 10:20] vJechsmayr commented on #695
@spoorgholi74 Waiting for your PR 😸

[2020-10-29 10:21] vJechsmayr commented on #696
@poojan-dalal Waiting for your PR 😸

[2020-10-29 10:22] vJechsmayr commented on #697
@poojan-dalal Waiting for your PR 😸

[2020-10-29 10:22] vJechsmayr commented on #698
@Vinit-Dantkale Waiting for your PR 😸

[2020-10-29 10:23] vJechsmayr commented on #699
@poojan-dalal Waiting for your PR 😸

[2020-10-29 10:24] vJechsmayr commented on #702
@Sounakde Waiting for your PR 😸

[2020-10-29 10:24] vJechsmayr commented on #704
@deekal7 Waiting for your PR 😸

[2020-10-29 10:25] vJechsmayr commented on #710
Closed - Does not match Contribution Guidelines! Only LeetCode Problem accepted!

[2020-10-29 10:25] #710 closed

[2020-10-29 10:25] vJechsmayr commented on #711
@Shreejichandra Waiting for your PR 😸

[2020-10-29 10:26] vJechsmayr commented on #720
@princesinghtomar Waiting for your PR 😸

[2020-10-29 10:26] vJechsmayr commented on #724
@princesinghtomar Waiting for your PR 😸

[2020-10-29 10:27] vJechsmayr commented on #730
@suman2826 Waiting for your PR 😸

[2020-10-29 10:27] vJechsmayr commented on #745
Problem already solved

[2020-10-29 10:27] #745 closed

[2020-10-29 10:28] vJechsmayr commented on #749
@mkiglics Waiting for your PR 😸

[2020-10-29 10:28] vJechsmayr commented on #752
@aroradhruv2308 Waiting for your PR 😸

[2020-10-29 10:29] vJechsmayr commented on #753
@conradojordan Waiting for your PR 😸

[2020-10-29 10:29] vJechsmayr commented on #762
@Shreejichandra Waiting for your PR 😸

[2020-10-29 10:29] vJechsmayr commented on #766
@antonioalmeidab Waiting for your PR 😸

[2020-10-29 10:30] vJechsmayr commented on #768
@suman2826 Waiting for your PR 😸

[2020-10-29 10:31] vJechsmayr commented on #773
@IsuruAriyarathne Waiting for your PR 😸

[2020-10-29 10:31] vJechsmayr commented on #773
@Rahul171201 No only Python. And it's already assigned to Issue-Creator. So not your Issue :) Look for another

[2020-10-29 10:32] vJechsmayr commented on #776
@UdeshAthukorala Waiting for your PR 😸

[2020-10-29 10:32] #780 closed

[2020-10-29 11:01] flick-23 commented on #309
Will do it in an hour

[2020-10-29 11:11] flick-23 opened #783 "0401- Binary Watch"
## Description of the Problem
You may copy that from LeetCode

## Code
class Solution(object):
    def combination(self, n, k, inp, res):
        # inp is expected to be a list of size n
        #print n,k,inp,res
        if k == 0:
            res.append([i for i in inp])
            return
        if k > n:
            return
        #for i in range(1,n+1):
        inp[n-1] = 1
        self.comb

[2020-10-29 11:15] #783 closed

[2020-10-29 11:58] flick-23 opened #788 "0209 - Minimum Size Subarray Sum"
## Description of the Problem
Given an array of n positive integers and a positive integer s, find the minimal length of a contiguous subarray of which the sum ≥ s. If there isn't one, return 0 instead.

## Code
class Solution:
    def minSubArrayLen(self, s, nums):
        """
        :type s: int
        :type nums: List[int]
        :rtype: int
        """

        # approach:
        #     1.

[2020-10-29 11:58] flick-23 commented on #788
Please assign me this problem to submit a PR

[2020-10-29 12:05] BirajCoder commented on #637
Sure, I will be uploading my code tomorrow as I am out of station for the day.

[2020-10-29 12:28] flick-23 opened #789 "0234 - Palindrome Linked List"
## Description of the Problem
Given a singly linked list, determine if it is a palindrome.

## Code

class Solution(object):

    def reverse(self, head):
        p = head.next
        while p and p.next:
            tmp = p.next
            p.next = p.next.next
            tmp.next = head.next
            head.next = tmp

    def isPalindrome(self, head):
        """
        :type head: ListNode

[2020-10-29 12:29] flick-23 commented on #789
@vJechsmayr  Please assign me this problem

[2020-10-29 13:08] Achyut-sudo commented on #131
@vJechsmayr  yes please assign me fast, I have already solved it
(just assign me and I will create the pr as I have a standing solution)

[2020-10-29 13:53] Vinit-Dantkale commented on #698
Hey @vJechsmayr , I might be unavailable. Please feel free to close or assign someone else (or put an **Available** tag so someone else can take it).
Thanks 👍

[2020-10-29 13:53] Achyut-sudo commented on #17
hey , @vJechsmayr  thanks

[2020-10-29 13:53] Vinit-Dantkale commented on #679
Hey @vJechsmayr , I might be unavailable. Please feel free to close or assign someone else (or put an **Available** tag so someone else can take it).
Thanks 👍

[2020-10-29 13:53] Vinit-Dantkale commented on #672
Hey @vJechsmayr , I might be unavailable. Please feel free to close or assign someone else (or put an **Available** tag so someone else can take it).
Thanks 👍

[2020-10-29 17:29] Achyut-sudo commented on #17
sorry, #791  failed somehow, I am working on its another version. was it due to longer execution time ???? ( i don't know .. earlier it got passed in leet code but now when I upload it onto leet code it failed there also due to the same, longer execution time.)

[2020-10-29 20:01] Achyut-sudo commented on #17
hey @vJechsmayr I dunno
![subsConcat](https://user-images.githubusercontent.com/71660666/97626310-a2bd8500-1a4f-11eb-8e3a-42f91cb7b193.jpg)
why my codes are failing (this the second iteration). even though my codes are passing through the leetCode tests with a runtime of  1424 ms, can you help me ?????

[2020-10-29 20:03] Achyut-sudo commented on #17
do I need to make it more faster ????

[2020-10-29 20:32] Achyut-sudo commented on #17
again it failed ! , dire need of help

[2020-10-30 11:18] barrotsteindev commented on #762
Can you please assign it to me? @vJechsmayr

[2020-10-30 15:50] Achyut-sudo commented on #131
hey @vJechsmayr, this one also failed, I am very sorry to say but I am kinda annoyed right because even though i am fulfilling all your guidelines and my codes are passing all leetCode tests still it is failing, please help

[2020-10-31 04:47] Sounakde commented on #702
@vJechsmayr Can you help me with PR build issue. The PR no is #799  .

[2020-10-31 15:48] chw9 opened #800 "0599 - Minimum Index Sum of Two Lists"
## Description of the Problem
Suppose Andy and Doris want to choose a restaurant for dinner, and they both have a list of favorite restaurants represented by strings.

You need to help them find out their common interest with the least list index sum. If there is a choice tie between answers, output all of them with no order requirement. You could assume there always exists an answer.

## Code
[co

[2020-10-31 15:48] chw9 commented on #800
Please assign me to this issue

[2020-10-31 18:21] #639 closed

[2020-10-31 18:22] #599 closed

[2020-10-31 18:25] #730 closed

[2020-10-31 18:26] #776 closed

[2020-10-31 18:28] #695 closed

[2020-10-31 18:30] #17 closed

[2020-10-31 18:30] vJechsmayr commented on #17
@Achyut-sudo everything okay - Github Action broke 😄

[2020-10-31 18:33] #762 closed

[2020-10-31 18:37] #749 closed

[2020-10-31 18:40] vJechsmayr commented on #788
@flick-23 Waiting for your PR 😸

[2020-10-31 18:40] vJechsmayr commented on #789
@flick-23 Waiting for your PR 😸

[2020-10-31 18:41] vJechsmayr commented on #800
@chw9 Waiting for your PR 😸

[2020-11-01 23:09] #702 closed

[2020-11-01 23:09] #800 closed

[2020-11-01 23:10] #789 closed

[2020-11-01 23:12] #618 closed

[2020-11-01 23:12] #720 closed

[2020-11-01 23:12] #724 closed

[2021-08-20 13:11] omrawal opened #805 "0046 - Permutations"
## Description of the Problem
Given an array nums of distinct integers, return all the possible permutations. You can return the answer in any order.

Example 1:

Input: nums = [1,2,3]
Output: [[1,2,3],[1,3,2],[2,1,3],[2,3,1],[3,1,2],[3,2,1]]
Example 2:

Input: nums = [0,1]
Output: [[0,1],[1,0]]
Example 3:

Input: nums = [1]
Output: [[1]]

Constraints:

1 <= nums.length <= 6
-10 <= nums[i] <= 10
A

[2021-09-20 13:14] #576 closed

[2021-09-20 13:14] #602 closed

[2021-09-20 13:14] #619 closed

[2021-09-20 13:14] #628 closed

[2021-09-20 13:14] #637 closed

[2021-09-20 13:14] #650 closed

[2021-09-20 13:14] #653 closed

[2021-09-20 13:14] #672 closed

[2021-09-20 13:14] #675 closed

[2021-09-20 13:14] #676 closed

[2021-09-20 13:14] #679 closed

[2021-09-20 13:14] #696 closed

[2021-09-20 13:14] #697 closed

[2021-09-20 13:14] #698 closed

[2021-09-20 13:14] #699 closed

[2021-09-20 13:14] #704 closed

[2021-09-20 13:14] #711 closed

[2021-09-20 13:14] #752 closed

[2021-09-20 13:14] #753 closed

[2021-09-20 13:14] #766 closed

[2021-09-20 13:14] #768 closed

[2021-09-20 13:14] #773 closed

[2021-09-20 13:14] #788 closed

[2021-09-20 13:14] #805 closed

[2021-09-20 13:14] #9 closed

[2021-09-20 13:14] #22 closed

[2021-09-20 13:14] #36 closed

[2021-09-20 13:14] #131 closed

[2021-09-20 13:14] #173 closed

[2021-09-20 13:14] #309 closed

[2021-09-20 13:14] #356 closed

[2021-09-20 13:14] #428 closed

[2021-09-20 13:14] #441 closed

[2021-09-20 13:14] #482 closed

[2021-09-20 13:14] #556 closed