[2020-05-06 18:55] vJechsmayr opened #1 "0001 - Two Sum"
Given an array of integers, return **indices** of the two numbers such that they add up to a specific target.

You may assume that each input would have **_exactly_** one solution, and you may not use the same element twice.

**Example:**
[code]

[Two Sum at LeetCode](https://leetcode.com/problems/two-sum/)

[2020-05-06 18:56] vJechsmayr opened #2 "0002 - Add Two Numbers"
You are given two **non-empty** linked lists representing two non-negative integers. The digits are stored in **reverse order** and each of their nodes contain a single digit. Add the two numbers and return it as a linked list.

You may assume the two numbers do not contain any leading zero, except the number 0 itself.

**Example:**
[code]
[Add Two Numbers at LeetCode](https://leetcode.com/problem

[2020-05-06 18:58] vJechsmayr opened #3 "0003 - Longest Substring Without Repeating Characters"
Given a string, find the length of the **longest substring** without repeating characters.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

[2020-05-06 18:59] vJechsmayr opened #4 "0004 - Median of Two Sorted Arrays"
There are two sorted arrays **nums1** and **nums2** of size m and n respectively.

Find the median of the two sorted arrays. The overall run time complexity should be O(log (m+n)).

You may assume **nums1** and **nums2** cannot be both empty.

**Example 1:**
[code]

**Example 2:**
[code]

[2020-05-06 19:00] vJechsmayr opened #5 "0005 - Longest Palindromic Substring"
Given a string **s**, find the longest palindromic substring in **s**. You may assume that the maximum length of **s** is 1000.

**Example 1:**
[code]

**Example 2:**
[code]

## LeetCode Problem
[LeetCode Problem 5](https://leetcode.com/problems/longest-palindromic-substring/)

[2020-05-06 19:01] vJechsmayr opened #6 "0006 - ZigZag Conversion"
The string `"PAYPALISHIRING"` is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)

[code]
And then read line by line: `"PAHNAPLSIIGYIR"`

Write the code that will take a string and make this conversion given a number of rows:

`string convert(string s, int numRows);`

**Example 1:**
[code]

**Example 2:**

[2020-05-06 19:02] vJechsmayr opened #7 "0007 - Reverse Integer"
Given a 32-bit signed integer, reverse digits of an integer.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Note:**
Assume we are dealing with an environment which could only store integers within the 32-bit signed integer range: [−231,  231 − 1]. For the purpose of this problem, assume that your function returns 0 when the reversed integer overflows.

[2020-05-06 19:06] vJechsmayr opened #8 "0012 - Integer to Roman"
Roman numerals are represented by seven different symbols:` I, V, X, L, C, D and M`.

**Symbol => Value**
[code]
For example, two is written as `II` in Roman numeral, just two one's added together. Twelve is written as, `XII`, which is simply `X + II`. The number twenty seven is written as` XXVII`, which is `XX + V + II`.

Roman numerals are usually written largest to smallest from left to right.

[2020-05-06 19:07] vJechsmayr opened #9 "0014 - Longest Common Prefix"
Write a function to find the longest common prefix string amongst an array of strings.

If there is no common prefix, return an empty string "".

**Example 1:**
[code]

**Example 2:**
[code]

**Note:**
All given inputs are in lowercase letters a-z.

[2020-05-06 19:08] vJechsmayr opened #10 "0015 - 3Sum"
Given an array `nums `of n integers, are there elements _a, b, c_ in `nums `such that _a + b + c = 0_? Find all unique triplets in the array which gives the sum of zero.

**Note:**
The solution set must not contain duplicate triplets.

**Example:**
[code]

[3Sum at LeetCode](https://leetcode.com/problems/3sum/)

[2020-05-06 19:12] vJechsmayr opened #11 "0019 - Remove Nth Node From End of List"
Given a linked list, remove the n-th node from the end of list and return its head.

**Example:**
[code]

**Note:**
Given n will always be valid.

**Follow up:**
Could you do this in one pass?

[2020-05-06 19:15] vJechsmayr commented on #11
Closed with Commit

[2020-05-06 19:15] #11 closed

[2020-09-06 21:19] vJechsmayr opened #12 "0018 - 4Sum"
## 4Sum
Given an array `nums `of n integers and an integer `target`, are there elements a, b, c, and d in nums such that `a + b + c + d = target`? Find all unique quadruplets in the array which gives the sum of `target`.

**Note:**

The solution set must not contain duplicate quadruplets.

**Example:**

[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/4sum/)

[2020-09-06 21:28] vJechsmayr opened #13 "0026 - LeetCode Problem Title"
## 0026 - Remove Duplicates from Sorted Array
Given a sorted array nums, remove the duplicates in-place such that each element appear only once and return the new length.

Do not allocate extra space for another array, you must do this by **modifying the input array in-place** with O(1) extra memory.

**Example 1:**
[code]

**Example 2:**
[code]

**Clarification:**
Confused why the returned value

[2020-09-06 21:43] vJechsmayr opened #14 "0027 - Remove Element"
## 27. Remove Element
Given an array nums and a value val, remove all instances of that value in-place and return the new length.

Do not allocate extra space for another array, you must do this by **modifying the input array** in-place with O(1) extra memory.

The order of elements can be changed. It doesn't matter what you leave beyond the new length.

**Example 1:**
[code]
**Example 2:**
[code]

[2020-09-06 21:45] vJechsmayr opened #15 "0031 - Next Permutation"
## Description of the Problem
Implement **next permutation**, which rearranges numbers into the lexicographically next greater permutation of numbers.

If such arrangement is not possible, it must rearrange it as the lowest possible order (ie, sorted in ascending order).

The replacement must be in-place and use only constant extra memory.

Here are some examples. Inputs are in the left-hand colum

[2020-09-06 21:52] vJechsmayr opened #16 "0033 - Search in Rotated Sorted Array"
## 33. Search in Rotated Sorted Array
You are given an integer array `nums `sorted in ascending order, and an integer `target`.

Suppose that `nums `is rotated at some pivot unknown to you beforehand (i.e., `[0,1,2,4,5,6,7]` might become `[4,5,6,7,0,1,2]`).

_If `target `is found in the array return its index, otherwise, return -1._

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[co

[2020-09-09 07:27] vJechsmayr opened #17 "0030 - Substring with Concatenation of All Words"
## Substring with Concatenation of All Words
You are given a string `s` and an array of strings `words `of the **same length**. Return all starting indices of substring(s) in `s` that is a concatenation of each word in `words ` **exactly once, in any order,** and **without any intervening characters.**

You can return the answer in **any order**.

**Example 1:**
[code]

**Example 2:**
[code]

**Ex

[2020-09-09 07:42] vJechsmayr opened #18 "0040 - Combination Sum II"
## Description of the Problem
Given a collection of candidate numbers (`candidates`) and a target number (`target`), find all unique combinations in `candidates `where the candidate numbers sums to `target`.

Each number in `candidates `may only be used **once** in the combination.

**Note:**
- All numbers (including `target`) will be positive integers.
- The solution set must not contain duplicat

[2020-09-09 07:45] vJechsmayr opened #19 "0043 - Multiply Strings"
## Description of the Problem
Given two non-negative integers `num1 `and `num2 `represented as strings, return the product of `num1 `and `num2`, also represented as a string.

**Example 1:**
[code]

**Example 2:**
[code]

**Note:**

1. The length of both `num1 `and `num2 `is < 110.
2. Both `num1 `and `num2 `contain only digits `0-9.`
3. Both `num1 `and `num2` do not contain any leading zero, excep

[2020-09-09 07:49] vJechsmayr opened #20 "0065 - Valid Number"
## Description of the Problem
Validate if a given string can be interpreted as a decimal number.

**Some examples:**
[code]

**Note:** It is intended for the problem statement to be ambiguous. You should gather all requirements up front before implementing one. However, here is a list of characters that can be in a valid decimal number:
- Numbers 0-9
- Exponent - "e"
- Positive/negative sign - "+"

[2020-09-09 18:56] stebunting commented on #14
I can do this

[2020-09-10 06:51] stebunting commented on #8
I can do this one

[2020-09-13 08:45] vJechsmayr commented on #14
@stebunting go for it 👍

[2020-09-13 08:45] vJechsmayr commented on #8
@stebunting It's yours

[2020-09-13 08:47] #20 closed

[2020-09-13 08:52] vJechsmayr opened #22 "0068 - Text Justification"
## Description of the Problem
Given an array of words and a width _maxWidth_, format the text such that each line has exactly _maxWidth_ characters and is fully (left and right) justified.

You should pack your words in a greedy approach; that is, pack as many words as you can in each line. Pad extra spaces `' '` when necessary so that each line has exactly _maxWidth_ characters.

Extra spaces bet

[2020-09-13 11:24] yogeshsingh01 commented on #14
Added a pull request for following issue.

[2020-09-13 15:24] #14 closed

[2020-09-13 15:29] vJechsmayr opened #26 "0081 - Search in Rotated Sorted Array II"
## Description of the Problem
Suppose an array sorted in ascending order is rotated at some pivot unknown to you beforehand.

(i.e., `[0,0,1,2,2,5,6]` might become `[2,5,6,0,0,1,2]`).

You are given a target value to search. If found in the array return true, otherwise return `false`.

**Example 1:**
[code]
**Example 2:**
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/prob

[2020-09-13 15:34] vJechsmayr opened #27 "0087 - Scramble String"
## Description of the Problem
We can scramble a string s to get a string t using the following algorithm:

1. If the length of the string is 1, stop.
2. If the length of the string is > 1, do the following:
- Split the string into 2 non-empty substrings at a random index, i.e. if the string is `s`, divide it to `x `and `y `where `s = x + y`.
- **Randomly**, decide to swap the two substrings or to

[2020-09-13 15:36] vJechsmayr opened #28 "0089 - Gray Code"
## Description of the Problem
The gray code is a binary numeral system where two successive values differ in only one bit.

Given a non-negative integer n representing the total number of bits in the code, print the sequence of gray code. A gray code sequence must begin with 0.

**Example 1:**
[code]

**Example 2:**

[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/

[2020-09-13 22:20] 27Anurag commented on #28
I've added a pr, please look into it.
Regards.

[2020-09-14 04:57] wjyeap123 commented on #3
Hi, can I work on this issue?

[2020-09-20 16:50] yogeshsingh01 opened #32 "Automate Code Review and Merge"
### Code Review
Code Review should be automated
It is an enhancement

### Expected behaviour
If someone request a pull request, bot will automatically check solution on LeetCode, if it work fine then it should merge.

[2020-09-21 12:11] VaibhaveS commented on #19
Hey can you assign me this issue?
I have good experience with competitive programming as well [ rated 1900+ on codechef ]

[2020-09-21 12:11] VaibhaveS commented on #26
Hey can you assign me this issue?
I have good experience with competitive programming as well [ rated 1900+ on codechef ]

[2020-09-21 12:11] VaibhaveS commented on #1
Hey can you assign me this issue?
I have good experience with competitive programming as well [ rated 1900+ on codechef ]

[2020-09-21 12:12] VaibhaveS commented on #9
Hey can you assign me this issue?
I have good experience with competitive programming as well [ rated 1900+ on codechef ]

[2020-09-21 12:12] VaibhaveS commented on #10
Hey can you assign me this issue?
I have good experience with competitive programming as well [ rated 1900+ on codechef ]

[2020-09-23 07:37] ExpressHermes commented on #17
@vJechsmayr  I would like to work on this issue

[2020-09-23 08:04] #13 closed

[2020-09-23 08:17] vJechsmayr opened #33 "0090 - Subsets II"
## Description of the Problem
Given a collection of integers that might contain duplicates, **_nums_**, return all possible subsets (the power set).

**Note:** The solution set must not contain duplicate subsets.

**Example:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/subsets-ii/)

[2020-09-23 08:19] vJechsmayr opened #34 "0120 - Triangle"
## Description of the Problem
Given a triangle, find the minimum path sum from top to bottom. Each step you may move to adjacent numbers on the row below.

For example, given the following triangle
[code]

The minimum path sum from top to bottom is `11 `(i.e., **2 + 3 + 5 + 1 = 11**).

**Note:**
Bonus point if you are able to do this using only O(n) extra space, where n is the total number of rows

[2020-09-23 08:26] vJechsmayr opened #35 "0126 - Word Ladder II"
## Description of the Problem
Given two words (_beginWord_ and _endWord_), and a dictionary's word list, find all shortest transformation sequence(s) from beginWord to endWord, such that:

1. Only one letter can be changed at a time
2. Each transformed word must exist in the word list. Note that beginWord is not a transformed word.

**Note:**
- Return an empty list if there is no such transformati

[2020-09-23 08:29] vJechsmayr opened #36 "0457 - Circular Array Loop"
## Description of the Problem
You are given a **circular** array `nums `of positive and negative integers. If a number k at an index is positive, then move forward k steps. Conversely, if it's negative (-k), move backward k steps. Since the array is circular, you may assume that the last element's next element is the first element, and the first element's previous element is the last element.

Det

[2020-09-23 08:31] vJechsmayr opened #37 "1002 - Find Common Characters"
## Description of the Problem
Given an array `A `of strings made only from lowercase letters, return a list of all characters that show up in all strings within the list (**including duplicates**).  For example, if a character occurs 3 times in all strings but not 4 times, you need to include that character three times in the final answer.

You may return the answer in any order.

**Example 1:**
[

[2020-09-23 08:34] vJechsmayr opened #38 "0016 - 3Sum Closest"
## Description of the Problem
Given an array `nums `of n integers and an integer `target`, find three integers in `nums `such that the sum is closest to `target`. Return the sum of the three integers. You may assume that each input would have exactly one solution.

**Example 1:**
[code]

**Constraints:**
- `3 <= nums.length <= 10^3`
- `-10^3 <= nums[i] <= 10^3`
- `-10^4 <= target <= 10^4`

## Code

[2020-09-23 08:36] vJechsmayr opened #39 "0021 - Merge Two Sorted Lists"
## Description of the Problem
Merge two sorted linked lists and return it as a new **sorted** list. The new list should be made by splicing together the nodes of the first two lists.

**Example:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/merge-two-sorted-lists/)

[2020-09-23 08:39] vJechsmayr opened #40 "0023 - Merge k Sorted Lists"
## Description of the Problem
You are given an array of `k `linked-lists `lists`, each linked-list is sorted in ascending order.

_Merge all the linked-lists into one sorted linked-list and return it._

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Constraints:**

- `k == lists.length`
- `0 <= k <= 10^4`
- _0 <= lists[i].length <= 500_
- `-10^4 <= lists[i][j] <= 10^4`
- `l

[2020-09-23 08:41] vJechsmayr opened #41 "0024 - Swap Nodes in Pairs"
## Description of the Problem
Given a linked list, swap every two adjacent nodes and return its head.

You may **not** modify the values in the list's nodes, only nodes itself may be changed.

**Example:**
`Given 1->2->3->4, you should return the list as 2->1->4->3.`

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/swap-nodes-in-pairs/)

[2020-09-23 15:09] Atheriz-46 commented on #33
I would like to take this up

[2020-09-24 10:15] ExpressHermes commented on #17
@vJechsmayr is it okay if I start this after October 1 so that it counts in my hacktoberfest PRs?

[2020-09-24 10:46] RSMuthu commented on #34
Hi,
I shall work on this.

[2020-09-24 11:07] vJechsmayr commented on #17
@ExpressHermes Sure. I also picked some for me for the Hacktoberfest 🤪 Happy Hacktoberfest

[2020-09-24 11:31] ExpressHermes commented on #17
@vJechsmayr Thanks. Happy Hacktoberfest🎉🎈

[2020-09-24 11:34] ExpressHermes commented on #39
@vJechsmayr I would like to work on this issue too.

[2020-09-24 12:56] kandasamyc commented on #37
Can I work on this?

[2020-09-24 19:36] BALaka-18 commented on #38
@vJechsmayr can I work on this issue ?

[2020-09-24 20:48] bislara commented on #41
Hi, @vJechsmayr  I would like to work on this issue. Can you please assign it to me?

[2020-09-24 20:53] bislara commented on #5
Hey, @vJechsmayr   I would like to work on this issue. Can you please assign it to me?

[2020-09-24 21:01] Apoorve73 commented on #36
I would like to solve this! Can you please assign ?

[2020-09-24 21:03] Apoorve73 commented on #35
I would like to solve this. Can you please assign this?

[2020-09-24 22:09] francescobozzo commented on #39
@vJechsmayr I've just implemented my own solution for this problem. Feel free to choose which one you prefer

[2020-09-24 22:10] officialpm commented on #40
Hey @vJechsmayr ,
I shall work on this.

[2020-09-25 03:14] sadn1ck commented on #16
I'd like to work on this :) Gotta learn some algorithms

[2020-09-25 03:15] sadn1ck commented on #32
This looks interesting. I'd like to work on this.

I have never really done this thing before, so what do you recommend?

Based on my minimal research, I assume I can use https://github.com/skygragon/leetcode-cli in a CI build somewhere. EDIT: On further looking, this requires a login.

Though I think a manual check should be there before merging.

[2020-09-25 11:40] vJechsmayr commented on #37
@SamC302 sure, go ahead 😄

[2020-09-25 19:02] officialpm commented on #27
##### @vJechsmayr I would like to work on this issue!!

[2020-09-26 03:23] Apoorve73 commented on #36
Thank you! Will work on it.

[2020-09-26 17:06] soham0-0 opened #48 "0980 - Unique Paths III"
## Description of the Problem
On a 2-dimensional grid, there are 4 types of squares:

1 represents the starting square.  There is exactly one starting square.
2 represents the ending square.  There is exactly one ending square.
0 represents empty squares we can walk over.
-1 represents obstacles that we cannot walk over.
Return the number of 4-directional walks from the starting square to the endi

[2020-09-26 17:09] soham0-0 commented on #48
May I work on this?

[2020-09-26 17:58] bislara commented on #18
@vJechsmayr  I would like to work on this. Can you please assign it to me?

[2020-09-27 19:48] adamcakg commented on #6
Hello, Can you assign me to this ?

[2020-09-28 12:40] yogeshsingh01 commented on #32
@sadn1ck I assume that should work.
As travis(CI) is not setup for this project. We should do that first.

@vJechsmayr Whats your take?

[2020-09-29 06:46] sadn1ck commented on #16
I have sent a PR #46. Have a look whenever! :)

[2020-09-30 20:01] soham0-0 opened #52 "0041 - First Missing Positive"
## Description of the Problem
Given an unsorted integer array, find the smallest missing positive integer.

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/first-missing-positive/)

[2020-09-30 20:02] soham0-0 commented on #52
@vJechsmayr May I work on this?

[2020-10-01 05:47] Karnak123 opened #53 "0139 - Word Break"
## Description of the Problem
Given a non-empty string s and a dictionary wordDict containing a list of non-empty words, determine if s can be segmented into a space-separated sequence of one or more dictionary words.

Note:
- The same word in the dictionary may be reused multiple times in the segmentation.
- You may assume the dictionary does not contain duplicate words.

Example 1:
[code]
Exampl

[2020-10-01 05:48] Karnak123 commented on #53
@vJechsmayr may I be assigned to this issue?

[2020-10-01 06:14] Karnak123 opened #54 "1561 - Maximum Number of Coins You Can Get"
## Description of the Problem
There are 3n piles of coins of varying size, you and your friends will take piles of coins as follows:

 - In each step, you will choose any 3 piles of coins (not necessarily consecutive).
 - Of your choice, Alice will pick the pile with the maximum number of coins.
 - You will pick the next pile with maximum number of coins.
 - Your friend Bob will pick the last pile

[2020-10-01 06:15] Karnak123 commented on #54
@vJechsmayr may I be assigned this issue?

[2020-10-01 06:39] camfairchild commented on #12
Please assign me, thanks

[2020-10-01 13:27] officialpm commented on #40
@vJechsmayr
#### PR #57
Added Solution for 0023 - Merge-k-Sorted-Lists 🤘🏻
Space Complexity - O(n)
Time Complexity - O(n logn)

[2020-10-01 13:28] officialpm commented on #27
@vJechsmayr
#### PR #50
Added Solution for 0087- Scramble String 🤘🏻
Approach : Recursion + Memoization
Runtime: 32 ms
Memory Usage: 14.1 MB

[2020-10-01 16:33] #2 closed

[2020-10-01 16:35] #27 closed

[2020-10-01 16:37] #40 closed

[2020-10-01 16:58] vJechsmayr commented on #32
@sadn1ck @yogeshsingh01 Please go ahead - about Automation or Travis CI I have no idea about it.

Maybe @sadn1ck Is right and we should manual check before merging - but we can precheck and maybe comment if the Check on Leetcode was successful?! ("LeetCode Check Success - LeetCode Check Failed")

[2020-10-01 17:01] #12 closed

[2020-10-01 17:03] #16 closed

[2020-10-01 17:06] #34 closed

[2020-10-01 17:14] vJechsmayr commented on #52
@soham0-0  sure go ahead 😄

[2020-10-01 17:15] vJechsmayr commented on #53
@Karnak123 done - please go ahead and do your best 😄

[2020-10-01 17:16] vJechsmayr commented on #54
@Karnak123 It's yours 😄

[2020-10-01 17:17] #48 closed

[2020-10-01 17:17] #37 closed

[2020-10-01 17:23] #33 closed

[2020-10-01 17:45] sadn1ck commented on #32
I have a suggestion: we could have a staging branch where all pull requests are merged, and checked for correctness with the CLI in a GitHub workflow or  travisCI pipeline.

If any fail, we can reopen the issue, and have contributors work on it.

After that, we can just have the staging branch merge into master every week or so, when every question passes.
(Need to make sure we know at which probl

[2020-10-01 17:53] #7 closed

[2020-10-01 17:53] #4 closed

[2020-10-01 17:55] #53 closed

[2020-10-01 17:55] #54 closed

[2020-10-01 18:07] vJechsmayr opened #63 "0025 - Reverse Nodes in k-Group"
## Description of the Problem
Given a linked list, reverse the nodes of a linked list _k_ at a time and return its modified list.

_k_ is a positive integer and is less than or equal to the length of the linked list. If the number of nodes is not a multiple of _k_ then left-out nodes in the end should remain as it is.

**Example:**
Given this linked list: `1->2->3->4->5`
For _k = 2_, you should re

[2020-10-01 18:10] vJechsmayr opened #64 "0028 - Implement strStr()"
## Description of the Problem
Implement _strStr()._

Return the index of the first occurrence of needle in haystack, or **-1** if needle is not part of haystack.

**Example 1:**
[code]

**Example 2:**
[code]

**Clarification:**
What should we return when `needle `is an empty string? This is a great question to ask during an interview.
For the purpose of this problem, we will return 0 when `needle

[2020-10-01 18:12] vJechsmayr opened #65 "0029 - Divide Two Integers"
## Description of the Problem
Given two integers `dividend` and `divisor`, divide two integers without using multiplication, division and mod operator.

Return the quotient after dividing `dividend` by `divisor`.

The integer division should truncate toward zero, which means losing its fractional part. For example, `truncate(8.345) = 8` and `truncate(-2.7335) = -2`.

**Example 1:**
[code]

**Examp

[2020-10-01 18:17] vJechsmayr opened #67 "0032 - Longest Valid Parentheses"
## Description of the Problem
Given a string containing just the characters `'('` and `')'`, find the length of the longest valid (well-formed) parentheses substring.

**Example 1:**
[code]

**Example 2:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/longest-valid-parentheses/)

[2020-10-01 18:24] pikachu28 commented on #63
Can you assign this to me ?

[2020-10-01 18:30] vJechsmayr opened #71 "0034 - Find First and Last Position of Element in Sorted Array"
## Description of the Problem
Given an array of integers `nums `sorted in ascending order, find the starting and ending position of a given `target `value.

Your algorithm's runtime complexity must be in the order of O(log n).

If the target is not found in the array, return `[-1, -1]`.

**Example 1:**
[code]

**Example 2:**
[code]

**Constraints:**

- `0 <= nums.length <= 10^5`
- `-10^9 <= nums[i

[2020-10-01 18:32] saigunavanth commented on #65
@vJechsmayr I would like to work on this issue. please assign me.

[2020-10-01 18:33] araut1 commented on #71
Can I help with this one?

[2020-10-01 18:34] megabyte98 commented on #71
you can use binary search for this problem

[2020-10-01 18:35] prafgup commented on #15
@vJechsmayr  Please Assign this to me , I gave it a try already

[2020-10-01 18:35] aewens commented on #67
I'll give this one a try.

[2020-10-01 18:35] megabyte98 commented on #71
can I help you with this issue?

[2020-10-01 18:37] devanshi-katyal commented on #64
I would like to work on this issue!

[2020-10-01 18:38] devanshi-katyal commented on #52
I would like to work on this issue!

[2020-10-01 18:48] vJechsmayr opened #76 "0035 - Search Insert Position"
## Description of the Problem
Given a sorted array and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You may assume no duplicates in the array.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Example 4:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.co

[2020-10-01 18:49] #15 closed

[2020-10-01 18:53] vJechsmayr opened #77 "0038 - Count and Say"
## Description of the Problem
The count-and-say sequence is the sequence of integers with the first five terms as following:

[code]

`1` is read off as `"one 1"` or `11`.
`11` is read off as `"two 1s"` or `21`.
`21` is read off as `"one 2, then one 1"` or `1211`.

Given an integer _n_ where _1 ≤ n ≤ 30_, generate the _nth_ term of the count-and-say sequence. You can do so recursively, in other wo

[2020-10-01 18:53] shubham2704 commented on #76
@vJechsmayr i would like to work on this, please assign me this issue.

[2020-10-01 18:56] vJechsmayr opened #79 "0039 - Combination Sum"
## Description of the Problem
Given an array of **distinct** integers `candidates `and a target integer `target`, return a _list of all_ **unique combinations** of _candidates_ _where the chosen numbers sum to_ `target`. You may return the combinations in any order.

The **same** number may be chosen from `candidates `an **unlimited number of times**. Two combinations are unique if the frequency o

[2020-10-01 18:59] #1 closed

[2020-10-01 19:00] #65 closed

[2020-10-01 19:05] vJechsmayr commented on #32
@sadn1ck I think the idea with the staging branch is great - For the merging staging to master it's important that only correct solutions (also with correct File-Names) passes the tests.

[2020-10-01 19:07] #77 closed

[2020-10-01 19:10] saigunavanth commented on #79
@vJechsmayr I would like to solve this issue. Please assign me.

[2020-10-01 19:13] vJechsmayr opened #83 "0949 - Largest Time for Given Digits"
## Description of the Problem
Given an array `arr` of 4 digits, find the latest 24-hour time that can be made using each digit **exactly once**.

24-hour times are formatted as `"HH:MM"`, where `HH `is between `00 `and `23`, and `MM `is between `00 `and `59`. The earliest 24-hour time is` 00:00`, and the latest is `23:59`.

Return _the latest 24-hour time in `"HH:MM"` format_.  If no valid time ca

[2020-10-01 19:15] vJechsmayr opened #84 "0217 - Contains Duplicate"
## Description of the Problem
Given an array of integers, find if the array contains any duplicates.

Your function should return true if any value appears at least twice in the array, and it should return false if every element is distinct.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems

[2020-10-01 19:17] vJechsmayr opened #85 "0219 - Contains Duplicate II"
## Description of the Problem
Given an array of integers and an integer k, find out whether there are two distinct indices i and j in the array such that **nums[i] = nums[j]** and the **absolute** difference between i and j is at most k.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/con

[2020-10-01 19:17] sarthak55k commented on #84
May i do it??

[2020-10-01 19:18] rcchan commented on #84
I'd like to work on this

[2020-10-01 19:18] saigunavanth commented on #84
@vJechsmayr I would like to work on this issue. Please assign me.

[2020-10-01 19:19] vJechsmayr opened #86 "0220 - Contains Duplicate III"
## Description of the Problem
Given an array of integers, find out whether there are two distinct indices i and j in the array such that the **absolute** difference between **nums[i]** and **nums[j]** is at most t and the **absolute** difference between i and j is at most k.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Constraints:**
- `0 <= nums.length <= 2 * 104`
- `-2

[2020-10-01 19:19] rcchan commented on #85
I'd like to work on this

[2020-10-01 19:19] saigunavanth commented on #85
@vJechsmayr I would like to work on this issue. Please assign me.

[2020-10-01 19:20] Mayank662 commented on #84
@vJechsmayr Sir, may I do this task in Python?

[2020-10-01 19:20] Coolchirutha commented on #85
@vJechsmayr  I would like to work on this issue. I have worked on python and am currently learning advanced algorithms too.

[2020-10-01 19:23] kamil200 commented on #86
I would like to solve this issue please assign me

[2020-10-01 19:24] vJechsmayr opened #88 "0050 - Pow(x, n)"
## Description of the Problem
Implement _pow(x, n)_, which calculates x raised to the power n (i.e. xn).

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Constraints:**
- `-100.0 < x < 100.0`
- `-231 <= n <= 231-1`
- `-104 <= xn <= 104`

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/powx-n/)

[2020-10-01 19:25] sarthak55k commented on #88
@vJechsmayr can i do this?

[2020-10-01 19:26] sarthak55k commented on #84
Sir shall i do it in python or  some other language?

[2020-10-01 19:27] shushriya6998 commented on #83
Can I work on this issue? I'll be using C++. Thanks!

[2020-10-01 19:28] #76 closed

[2020-10-01 20:15] vJechsmayr commented on #83
@shushriya6998 Sorry - This Repo should stay Python only!

[2020-10-01 20:18] #84 closed

[2020-10-01 20:20] #71 closed

[2020-10-01 20:24] #85 closed

[2020-10-01 20:27] #52 closed

[2020-10-01 20:35] #88 closed

[2020-10-01 20:43] sarthak55k commented on #83
May i do this?
i will do it in python

[2020-10-01 21:22] #86 closed

[2020-10-01 21:24] #63 closed

[2020-10-01 21:25] #79 closed

[2020-10-01 21:29] vJechsmayr opened #107 "0459 - Repeated Substring Pattern"
## Description of the Problem
Given a non-empty string check if it can be constructed by taking a substring of it and appending multiple copies of the substring together. You may assume the given string consists of lowercase English letters only and its length will not exceed 10000.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

## Code
[code]

## Link To The LeetCode Proble

[2020-10-01 21:31] vJechsmayr opened #108 "0763 - Partition Labels"
## Description of the Problem
A string `S` of lowercase English letters is given. We want to partition this string into as many parts as possible so that each letter appears in at most one part, and return a list of integers representing the size of these parts.

**Example 1:**
[code]

**Note:**
- `S` will have length in range `[1, 500]`.
- `S` will consist of lowercase English letters (`'a'` to `

[2020-10-01 21:34] bhavidhingra commented on #108
It seems like an interesting problem. Please assign it to me.

[2020-10-01 21:34] vJechsmayr opened #109 "0044 - Wildcard Matching"
## Description of the Problem
Given an input string (`s`) and a pattern (`p`), implement wildcard pattern matching with support for `'?'` and `'*'`.

[code]

The matching should cover the **entire** input string (not partial).

**Note:**
- `s` could be empty and contains only lowercase letters `a-z`.
- `p` could be empty and contains only lowercase letters `a-z`, and characters like `?` or `*`.

*

[2020-10-01 21:35] vJechsmayr opened #110 "0045 - Jump Game II"
## Description of the Problem
Given an array of non-negative integers, you are initially positioned at the first index of the array.

Each element in the array represents your maximum jump length at that position.

Your goal is to reach the last index in the minimum number of jumps.

**Example:**
[code]

**Note:**
You can assume that you can always reach the last index.

## Code
[code]

## Link To

[2020-10-01 21:38] vJechsmayr opened #111 "0049 - Group Anagrams"
## Description of the Problem
Given an array of strings `strs`, group **the anagrams** together. You can return the answer in **any order**.

An **Anagram** is a word or phrase formed by rearranging the letters of a different word or phrase, typically using all the original letters exactly once.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Constraints:**

- `1 <= strs.le

[2020-10-01 21:39] vJechsmayr commented on #83
@sarthak55k sure 😄

[2020-10-01 21:40] bhavidhingra commented on #108
which language do you want the solution in?

[2020-10-01 21:42] vJechsmayr opened #112 "0278 - First Bad Version"
## Description of the Problem
You are a product manager and currently leading a team to develop a new product. Unfortunately, the latest version of your product fails the quality check. Since each version is developed based on the previous version, all the versions after a bad version are also bad.

Suppose you have n versions `[1, 2, ..., n]` and you want to find out the first bad one, which caus

[2020-10-01 21:42] krish7777 commented on #111
@vJechsmayr I would like to work on this

[2020-10-01 21:47] vJechsmayr opened #113 "0374 - Guess Number Higher or Lower"
## Description of the Problem
We are playing the Guess Game. The game is as follows:

I pick a number from `1` to `n`. You have to guess which number I picked.

Every time you guess wrong, I will tell you whether the number I picked is higher or lower than your guess.

You call a pre-defined API `int guess(int num)`, which returns 3 possible results:
- `-1`: The number I picked is lower than your

[2020-10-01 21:50] vJechsmayr opened #114 "0053 - Maximum Subarray"
## Description of the Problem
Given an integer array `nums`, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

**Follow up:** If you have figured out the `O(n)` solution, try coding another solution using the **divide and conquer** approach, which is more subtle.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Examp

[2020-10-01 22:14] liudj2008 commented on #110
@vJechsmayr Can I work on this problem? Thanks!

[2020-10-01 22:20] yunusbulutt commented on #114
I would like to solve this! Can you please assign ?

[2020-10-01 22:22] yunusbulutt commented on #113
I would like to solve this! Can you please assign ?

[2020-10-01 22:29] rahulsunil2 commented on #113
I've great experience in writing [clean and readable code](https://github.com/rahulsunil2/CProgramming/blob/master/GraphTheory/layCables.c), so I would like to work on this issue.
Can you please assign it to me?

[2020-10-01 22:33] leonardoAnjos16 commented on #112
I'd like to solve it! Could you assign it to me?

[2020-10-02 00:16] borakrc commented on #107
@vJechsmayr I would like to work on this

[2020-10-02 00:45] LeonardoCBoar commented on #113
Hi, i would like to help you and solve this problem, i have a good experience with programming logic especially for game algorithms.

[2020-10-02 02:23] sadn1ck commented on #32
Hmm it seems leetcode-cli is having issues logging in, I tried logging in and was unable to. There is also an issue regarding that.

[2020-10-02 02:27] Wittionary commented on #22
I've got this one! Can you assign to me, please? @vJechsmayr

[2020-10-02 03:25] PushpikaWan commented on #109
Can I work on this? please assign to me

[2020-10-02 03:32] Mayank662 commented on #114
Sir @vJechsmayr  Please assign me this issue.

[2020-10-02 03:44] PushpikaWan commented on #109
can I try this one? Please assign to me

[2020-10-02 05:47] Palaash05 commented on #107
I would like to work on this issue.

[2020-10-02 06:29] geoffgeorgein commented on #113
I shall work on python. Could you assign me this. I love solving coding problems.

[2020-10-02 06:33] geoffgeorgein commented on #111
I shall work on this in python. Could you assign me this.I love solving problems

[2020-10-02 07:39] CuriousMonkey7 commented on #109
I want to try this one. I can do this in java and python. Please assign to me.

[2020-10-02 08:26] #38 closed

[2020-10-02 08:28] #111 closed

[2020-10-02 08:31] #108 closed

[2020-10-02 08:33] #107 closed

[2020-10-02 08:35] #110 closed

[2020-10-02 08:37] #83 closed

[2020-10-02 08:38] #39 closed

[2020-10-02 08:44] vJechsmayr opened #122 "0829 - Consecutive Numbers Sum"
## Description of the Problem
Given a positive integer N, how many ways can we write it as a sum of consecutive positive integers?

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Note:** `1 <= N <= 10 ^ 9.`

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/consecutive-numbers-sum/)

[2020-10-02 08:45] DeepakR-28 commented on #122
I would like to help you Senor

[2020-10-02 08:47] vJechsmayr opened #123 "1363 - Largest Multiple of Three"
## Description of the Problem
Given an integer array of `digits`, return the largest multiple of **three** that can be formed by concatenating some of the given digits in any order.

Since the answer may not fit in an integer data type, return the answer as a string.

If there is no answer return an empty string.

**Example 1:**
[code]

**Example 2:**
[code]

Example 3:
[code]

**Example 4:**
[cod

[2020-10-02 08:50] vJechsmayr opened #124 "1276 - Number of Burgers with No Waste of Ingredients"
## Description of the Problem
Given two integers `tomatoSlices `and `cheeseSlices`. The ingredients of different burgers are as follows:

- **Jumbo Burger**: 4 tomato slices and 1 cheese slice.
- **Small Burger**: 2 Tomato slices and 1 cheese slice.

Return `[total_jumbo, total_small]` so that the number of remaining `tomatoSlices `equal to 0 and the number of remaining `cheeseSlices `equal to 0.

[2020-10-02 08:52] amitagarwalaa57 commented on #123
can you please assign it to me.

[2020-10-02 08:52] vJechsmayr opened #125 "0686 - Repeated String Match"
## Description of the Problem
Given two strings `a` and `b`, return the minimum number of times you should repeat string `a` so that string `b` is a substring of it. If it is impossible for `b`​​​​​​ to be a substring of `a` after repeating it, return `-1`.

**Notice:** string `"abc"` repeated 0 times is `""`,  repeated 1 time is `"abc"` and repeated 2 times is `"abcabc"`.

**Example 1:**
[code]

[2020-10-02 08:54] vJechsmayr opened #126 "0056 - Merge Intervals"
## Description of the Problem
Given a collection of intervals, merge all overlapping intervals.

**Example 1:**
[code]

**Example 2:**
[code]

**NOTE:** input types have been changed on April 15, 2019. Please reset to default code definition to get new method signature.

**Constraints:**
- `intervals[i][0] <= intervals[i][1]`

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leet

[2020-10-02 08:55] GGn0 commented on #125
Hi! could you assign this to me?
Thanks

[2020-10-02 08:56] vJechsmayr opened #127 "0055 - Jump Game"
## Description of the Problem
Given an array of non-negative integers, you are initially positioned at the first index of the array.

Each element in the array represents your maximum jump length at that position.

Determine if you are able to reach the last index.

**Example 1:**
[code]

**Example 2:**
[code]

**Constraints:**
- `1 <= nums.length <= 3 * 10^4`
- `0 <= nums[i][j] <= 10^5`

## Code

[2020-10-02 08:59] vJechsmayr opened #129 "0174- Dungeon Game"
## Description of the Problem
The demons had captured the princess (**P**) and imprisoned her in the bottom-right corner of a dungeon. The dungeon consists of M x N rooms laid out in a 2D grid. Our valiant knight (**K**) was initially positioned in the top-left room and must fight his way through the dungeon to rescue the princess.

The knight has an initial health point represented by a positive

[2020-10-02 09:00] shanirub commented on #127
Hi there, can i work on this issue?

[2020-10-02 09:01] visheshruparelia commented on #126
Hi @vJechsmayr , Can I work on this?

[2020-10-02 09:02] vJechsmayr opened #131 "0289 - Game of Life"
## Description of the Problem
According to the [Wikipedia's article](https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life): "The **Game of Life**, also known simply as **Life**, is a cellular automaton devised by the British mathematician John Horton Conway in 1970."

Given a _board_ with _m_ by _n_ cells, each cell has an initial state _live_ (1) or _dead_ (0). Each cell interacts with its eight

[2020-10-02 09:04] vJechsmayr opened #132 "0292 - Nim Game"
## Description of the Problem
You are playing the following Nim Game with your friend: There is a heap of stones on the table, each time one of you take turns to remove 1 to 3 stones. The one who removes the last stone will be the winner. You will take the first turn to remove the stones.

Both of you are very clever and have optimal strategies for the game. Write a function to determine whether y

[2020-10-02 09:05] visheshruparelia commented on #132
Hi @vJechsmayr , can I work on this?

[2020-10-02 09:06] js899 commented on #131
Can I take this ? plz assign it to me

[2020-10-02 09:07] visheshruparelia commented on #124
Hi @vJechsmayr , I can help solving this. Can you assign me this issue?

[2020-10-02 09:07] VishnuThokala commented on #132
Can I work on this?

[2020-10-02 09:18] Himith commented on #126
I want to work on this

[2020-10-02 09:28] VishnuThokala commented on #122
Hi,
Can I work on this?

[2020-10-02 09:44] Shubham-1304 commented on #124
Ok

[2020-10-02 09:57] Runanka commented on #129
I would like to work on this

[2020-10-02 09:59] sarthak55k commented on #132
May i do this i will do it in python

[2020-10-02 10:28] vJechsmayr opened #135 "0319 - Bulb Switcher"
## Description of the Problem
There are n bulbs that are initially off. You first turn on all the bulbs. Then, you turn off every second bulb. On the third round, you toggle every third bulb (turning on if it's off or turning off if it's on). For the i-th round, you toggle every i bulb. For the n-th round, you only toggle the last bulb. Find how many bulbs are on after n rounds.

**Example:**
[cod

[2020-10-02 10:29] Sahil-k1509 commented on #135
i want to solve this problem in python. Can i work on it?

[2020-10-02 10:31] vJechsmayr opened #136 "0521 - Longest Uncommon Subsequence I"
## Description of the Problem
Given two strings `a` and `b`, find the length of the `longest uncommon subsequence` between them.

A `subsequence `of a string` s` is a string that can be obtained after deleting any number of characters from s. For example,` "abc"` is a subsequence of `"aebdc"` because you can delete the underlined characters in `"a_e_bd_c_"` to get `"abc"`. Other subsequences of "a

[2020-10-02 10:33] TanayKulkarni commented on #136
I would love to help you in this

[2020-10-02 10:34] #123 closed

[2020-10-02 10:41] #26 closed

[2020-10-02 10:44] #129 closed

[2020-10-02 10:52] #125 closed

[2020-10-02 10:54] vJechsmayr opened #140 "0064 - Minimum Path Sum"
## Description of the Problem
Given a `m x n` grid filled with non-negative numbers, find a path from top left to bottom right which minimizes the sum of all numbers along its path.

**Note:** You can only move either down or right at any point in time.

**Example:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/minimum-path-sum/)

[2020-10-02 10:57] vJechsmayr opened #141 "0741 - Cherry Pickup"
## Description of the Problem
In a N x N `grid `representing a field of cherries, each cell is one of three possible integers.

- 0 means the cell is empty, so you can pass through;
- 1 means the cell contains a cherry, that you can pick up and pass through;
- -1 means the cell contains a thorn that blocks your way.

Your task is to collect maximum number of cherries possible by following the rule

[2020-10-02 10:59] yunusbulutt commented on #140
I would like to solve this! Can you please assign ?

[2020-10-02 11:01] vJechsmayr opened #143 "0777 - Swap Adjacent in LR String"
## Description of the Problem
In a string composed of `'L'`, `'R'`, and `'X'` characters, like `"RXXLRXRXL"`, a move consists of either replacing one occurrence of `"XL"` with `"LX"`, or replacing one occurrence of `"RX"` with `"XR"`. Given the starting string `start `and the ending string `end`, return True if and only if there exists a sequence of moves to transform one string to the other.

**E

[2020-10-02 11:03] TanayKulkarni commented on #143
Please assign it to me, I would love to do it

[2020-10-02 11:04] vJechsmayr opened #144 "1227 - Airplane Seat Assignment Probability"
## Description of the Problem
`n` passengers board an airplane with exactly `n` seats. The first passenger has lost the ticket and picks a seat randomly. But after that, the rest of passengers will:

- Take their own seat if it is still available,
- Pick other seats randomly when they find their seat occupied

What is the probability that the n-th person can get his own seat?

**Example 1:**
[code

[2020-10-02 11:05] TanayKulkarni commented on #144
I would love to solve this problem

[2020-10-02 11:12] Hinal-Srivastava commented on #143
Hi!
This seems interesting. Can I try it as well?

[2020-10-02 11:13] Hinal-Srivastava commented on #140
Hi!
Can I work on this too?

[2020-10-02 11:21] vJechsmayr opened #146 "0136 - Single Number"
## Description of the Problem
Given a **non-empty** array of integers, every element appears _twice_ except for one. Find that single one.

**Note:**
Your algorithm should have a linear runtime complexity. Could you implement it without using extra memory?

**Example 1:**
[code]

**Example 2:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/single-

[2020-10-02 11:28] vJechsmayr opened #147 "0933 - Number of Recent Calls"
## Description of the Problem
You have a `RecentCounter `class which counts the number of recent requests within a certain time frame.

Implement the `RecentCounter `class:

- `RecentCounter()` Initializes the counter with zero recent requests.
- `int ping(int t)` Adds a new request at time t, where t represents some time in milliseconds, and returns the number of requests that has happened in the

[2020-10-02 11:30] #146 closed

[2020-10-02 11:31] #136 closed

[2020-10-02 11:32] TanayKulkarni commented on #147
Please assign this to me, I would love to solve the problem

[2020-10-02 11:32] #122 closed

[2020-10-02 11:34] #135 closed

[2020-10-02 11:36] vJechsmayr opened #149 "0111 - Minimum Depth of Binary Tree"
## Description of the Problem
Given a binary tree, find its minimum depth.

The minimum depth is the number of nodes along the shortest path from the root node down to the nearest leaf node.

**Note:** A leaf is a node with no children.

**Example:**
Given binary tree `[3,9,20,null,null,15,7],`

[code]
return its minimum depth = 2.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https:

[2020-10-02 11:37] TanayKulkarni commented on #149
That one is an easy one I can contribute!

[2020-10-02 11:39] #10 closed

[2020-10-02 11:39] vJechsmayr commented on #10
Problem solved

[2020-10-02 11:45] vJechsmayr opened #150 "0537 - Complex Number Multiplication"
## Description of the Problem
Given two strings representing two complex numbers.

You need to return a string representing their multiplication. Note i2 = -1 according to the definition.

**Example 1:**
[code]

**Example 2:**
[code]

**Note:**
1. The input strings will not have extra blank.
2. The input strings will be given in the form of **a+bi**, where the integer **a** and **b** will both bel

[2020-10-02 11:46] vJechsmayr opened #151 "0233 - Number of Digit One"
## Description of the Problem
Given an integer n, count the total number of digit 1 appearing in all non-negative integers less than or equal to n.

**Example:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/number-of-digit-one/)

[2020-10-02 11:47] sourabmaity commented on #151
i want to work in this issue
please assign me

[2020-10-02 11:48] DhanushNehru commented on #151
Can I work this issue using Javascript ? If yes please assign this to me

[2020-10-02 11:48] vJechsmayr opened #153 "1103 - Distribute Candies to People"
## Description of the Problem
We distribute some number of `candies`, to a row of `n = num_people people` in the following way:

We then give 1 candy to the first person, 2 candies to the second person, and so on until we give n candies to the last person.

Then, we go back to the start of the row, giving `n + 1` candies to the first person, `n + 2` candies to the second person, and so on until we

[2020-10-02 11:50] vJechsmayr commented on #151
@DHANUSHXENO no, this repo is Python only. You can contribute at my other [Repo](https://github.com/vJechsmayr/JavaScriptAlgorithms) and work it out at JavaScript if you like

[2020-10-02 11:51] sourabmaity commented on #151
thank you

[2020-10-02 11:53] daivikpurani commented on #153
Can you please assign this to me?

[2020-10-02 11:54] sarthak55k commented on #150
May i do this?
I will do it in Python

[2020-10-02 11:55] nl2412 commented on #150
Hello. I can work on this. Can you assgin me this issue? Thanks ^^

[2020-10-02 12:01] DhanushNehru commented on #151
Then fine. Can I do it in python ? If yes please assign it to me

[2020-10-02 12:01] somkuwaryash commented on #151
Hey, I would like to work on this one. Please assign this to me.

[2020-10-02 12:04] TanayKulkarni commented on #147
Hey I was assigned the problem, please take a look at my solution

[2020-10-02 12:07] visheshruparelia commented on #153
I can help in solving this.

[2020-10-02 12:08] divyhshah commented on #151
Hey can you please assign this to me because i already done this just want need your permission to add pr

[2020-10-02 12:36] vJechsmayr commented on #151
@DHANUSHXENO @divyhshah There is already @SOURAB-BAPPA  assigned to this issue. You may look for another one 😃

[2020-10-02 12:38] visheshruparelia commented on #141
Hi, I can help solving this

[2020-10-02 12:39] DhanushNehru commented on #151
Ops, I solved it anyway. Thanks 😃

[2020-10-02 12:43] #126 closed

[2020-10-02 12:45] #124 closed

[2020-10-02 12:51] vJechsmayr opened #161 "0054 - Spiral Matrix"
## Description of the Problem
Given a matrix of _m x n_ elements (_m_ rows, _n_ columns), return all elements of the matrix in spiral order.

**Example 1:**
[code]

**Example 2:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/spiral-matrix/)

[2020-10-02 12:55] sus5pect commented on #161
I am interested in solving this can u please assign me

[2020-10-02 12:55] divyhshah commented on #161
hey can you please assign this to me i want to do this in python

[2020-10-02 12:58] vJechsmayr opened #162 "0057 - Insert Interval"
## Description of the Problem
Given a set of `non-overlapping` intervals, insert a new interval into the intervals (merge if necessary).

You may assume that the intervals were initially sorted according to their start times.

**Example 1:**
[code]

**Example 2:**
[code]

**Example 3:**
[code]

**Example 4:**
[code]

**Example 5:**
[code]

**Constraints:**

- `0 <= intervals.length <= 10^4`
- `int

[2020-10-02 12:58] vJechsmayr opened #163 "0059 - Spiral Matrix II"
## Description of the Problem
Given a positive integer n, generate a square matrix filled with elements from 1 to n2 in spiral order.

**Example:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/spiral-matrix-ii/)

[2020-10-02 12:59] visheshruparelia commented on #162
@vJechsmayr  please assign me this issue so that I can create a pull request.

[2020-10-02 13:01] vJechsmayr opened #164 "0060 - Permutation Sequence"
## Description of the Problem
The set `[1,2,3,...,n]` contains a total of n! unique permutations.

By listing and labeling all of the permutations in order, we get the following sequence for n = 3:

1. `"123"`
2 `"132"`
3. `"213"`
4. `"231"`
5. `"312"`
6. `"321"`
Given _n_ and _k_, return the _k^th_ permutation sequence.

**Note:**
- Given _n_ will be between 1 and 9 inclusive.
- Given _k_ will be

[2020-10-02 13:01] visheshruparelia commented on #163
@vJechsmayr  can I work on this?

[2020-10-02 13:03] vJechsmayr opened #165 "0061 - Rotate List"
## Description of the Problem
Given a linked list, rotate the list to the right by k places, where k is non-negative.

**Example 1:**
[code]

**Example 2:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/rotate-list/)

[2020-10-02 13:05] TanayKulkarni commented on #165
Can I do this!

[2020-10-02 13:05] vJechsmayr opened #166 "0066 - Plus One"
## Description of the Problem
Given a **non-empty** array of digits representing a non-negative integer, increment one to the integer.

The digits are stored such that the most significant digit is at the head of the list, and each element in the array contains a single digit.

You may assume the integer does not contain any leading zero, except the number 0 itself.

**Example 1:**
[code]

**Examp

[2020-10-02 13:07] vJechsmayr opened #167 "0067 - Add Binary"
## Description of the Problem
Given two binary strings, return their sum (also a binary string).

The input strings are both **non-empty** and contains only characters `1` or` 0`.

**Example 1:**
[code]

**Example 2:**
[code]

**Constraints:**
- Each string consists only of `'0'` or `'1'` characters.
- `1 <= a.length, b.length <= 10^4`
- Each string is either `"0"` or doesn't contain any leading z

[2020-10-02 13:09] vJechsmayr opened #168 "0069 - Sqrt(x)"
## Description of the Problem
Implement `int sqrt(int x)`.

Compute and return the square root of x, where x is guaranteed to be a non-negative integer.

Since the return type is an integer, the decimal digits are truncated and only the integer part of the result is returned.

**Example 1:**
[code]

**Example 2:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.

[2020-10-02 13:09] Shree987 commented on #166
Hey @vJechsmayr! Can I work on this issue?

[2020-10-02 13:11] ashvinimore commented on #166
Can you assigned me that issue?
I know the proper algorithm.
Thank You.

[2020-10-02 13:12] sourabmaity commented on #151
closes #XXXX

[2020-10-02 13:12] pranjalkumar153 commented on #168
Sir please assign this issue to me. I can cover it in C,C++, Python, Java and JavaScript.

[2020-10-02 13:13] vJechsmayr opened #170 "0070 - Climbing Stairs"
## Description of the Problem
You are climbing a stair case. It takes _n_ steps to reach to the top.

Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top?

**Example 1:**
[code]

**Example 2:**
[code]

**Constraints:**
- `1 <= n <= 45`

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/climbing-stairs/)

[2020-10-02 13:13] ashvinimore commented on #168
Can I work on this issue?
Thank You

[2020-10-02 13:13] ashvinimore commented on #167
Can I work on this issue?
I know the algorithm.
Thank You

[2020-10-02 13:15] TobyAsE commented on #170
I'd like to solve this problem

[2020-10-02 13:15] vJechsmayr opened #171 "0071 - Simplify Path"
## Description of the Problem
Given an **absolute path** for a file (Unix-style), simplify it. Or in other words, convert it to the **canonical path**.

In a UNIX-style file system, a period `.` refers to the current directory. Furthermore, a double period `..` moves the directory up a level.

Note that the returned canonical path must always begin with a slash `/`, and there must be only a single

[2020-10-02 13:17] vJechsmayr opened #172 "0072 - Edit Distance"
## Description of the Problem
Given two words _word1_ and _word2_, find the minimum number of operations required to convert _word1_ to _word2_.

You have the following 3 operations permitted on a word:
1. Insert a character
2. Delete a character
3. Replace a character

**Example 1:**
[code]

**Example 2:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/pro

[2020-10-02 13:18] vJechsmayr opened #173 "0074 - Search a 2D Matrix"
## Description of the Problem
Write an efficient algorithm that searches for a value in an _m x n_ matrix. This matrix has the following properties:

- Integers in each row are sorted from left to right.
- The first integer of each row is greater than the last integer of the previous row.

**Example 1:**
[code]

**Example 2:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](http

[2020-10-02 13:19] shubhamnag14 commented on #170
i would like to slove this proble..so can i

[2020-10-02 13:21] vJechsmayr opened #174 "0075 - Sort Colors"
## Description of the Problem
Given an array `nums `with `n` objects colored red, white, or blue, sort them **in-place** so that objects of the same color are adjacent, with the colors in the order red, white, and blue.

Here, we will use the integers `0, 1, and 2` to represent the color red, white, and blue respectively.

**Follow up:**
- Could you solve this problem without using the library's s

[2020-10-02 13:22] vJechsmayr opened #175 "0076 - Minimum Window Substring"
## Description of the Problem
Given a string S and a string T, find the minimum window in S which will contain all the characters in T in complexity O(n).

**Example:**
[code]

**Note:**
- If there is no such window in S that covers all characters in T, return the empty string `""`.
- If there is such window, you are guaranteed that there will always be only one unique minimum window in S.

## Cod

[2020-10-02 13:23] ashvinimore commented on #173
Can You assign me the task?
Thank You

[2020-10-02 13:24] vJechsmayr opened #176 "0077 - Combinations"
## Description of the Problem
Given two integers _n_ and _k_, return all possible combinations of _k_ numbers out of 1 ... _n_.

You may return the answer in **any order**.

**Example 1:**
[code]

**Example 2:**
[code]

**Constraints:**
- `1 <= n <= 20`
- `1 <= k <= n`

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/combinations/)

[2020-10-02 13:25] Darshini-be commented on #161
Interested, Please assign this to me. Thanks

[2020-10-02 13:26] Shree987 commented on #174
Can I work on this issue? @vJechsmayr

[2020-10-02 13:26] sus5pect commented on #172
@vJechsmayr can i work on this ?

[2020-10-02 13:27] #132 closed

[2020-10-02 13:32] vJechsmayr commented on #168
@pranjalkumar153 Python only at this Repo please 😺

[2020-10-02 13:34] pranjalkumar153 commented on #168
Thank you Sir..

[2020-10-02 13:35] divyhshah commented on #161
@vJechsmayr i already done this and also made a pr can you please merge it
Thanks

[2020-10-02 13:36] TanayKulkarni commented on #143
#154

[2020-10-02 13:37] TanayKulkarni commented on #144
#154

[2020-10-02 13:37] TanayKulkarni commented on #147
#154

[2020-10-02 13:38] TanayKulkarni commented on #149
#154

[2020-10-02 13:39] divyhshah commented on #161
closes #161

[2020-10-02 13:40] vJechsmayr opened #178 "0011 - Container With Most Water"
## Description of the Problem
Given _n_ non-negative integers _a1, a2, ..., an_ , where each represents a point at coordinate (_i, ai_). n vertical lines are drawn such that the two endpoints of line i is at (_i, ai_) and (_i, 0_). Find two lines, which together with x-axis forms a container, such that the container contains the most water.

**Note:** You may not slant the container and n is at le

[2020-10-02 13:41] ashvinimore commented on #167
Thank You Sir.

[2020-10-02 13:43] kamil200 commented on #176
i would like to solve this problem . please assign me

[2020-10-02 13:43] vJechsmayr opened #180 "0037 - Sudoku Solver"
## Description of the Problem
Write a program to solve a Sudoku puzzle by filling the empty cells.

A sudoku solution must satisfy **all of the following rules:**
1. Each of the digits `1-9` must occur exactly once in each row.
2. Each of the digits `1-9 `must occur exactly once in each column.
3. Each of the the digits `1-9` must occur exactly once in each of the 9 `3x3` sub-boxes of the grid.

E

[2020-10-02 13:44] sathiyajith commented on #178
I will work on it

[2020-10-02 13:45] vJechsmayr opened #181 "0042 - Trapping Rain Water"
## Description of the Problem
Given _n_ non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it is able to trap after raining.

![image](https://user-images.githubusercontent.com/6342890/94930058-283c2c80-04c6-11eb-9951-2e9b02bd0d14.png)
_The above elevation map is represented by array [0,1,0,2,1,0,1,3,2,1,2,1]. In this case, 6 units of rain

[2020-10-02 13:48] divyhshah commented on #181
Hey i want to work on this can you please assign this to me

[2020-10-02 13:48] vJechsmayr commented on #167
You are welcome, Milady 😹

[2020-10-02 13:49] vJechsmayr commented on #168
You're welcome, Milady 😹

[2020-10-02 13:51] Mohitbalwani26 commented on #180
I would like to work on this issue.

[2020-10-02 13:52] aekt commented on #171
Hi @vJechsmayr, I would like to work on this, could you assign me?

---

Update: seems there's already #191, perhaps should assign @rakshaa2000

[2020-10-02 13:55] capturemathan commented on #175
Can I solve this problem?

[2020-10-02 13:56] sourabmaity commented on #164
i want to solve this

[2020-10-02 13:57] Shree987 commented on #166
@vJechsmayr, can you review my PR?
Thanks in advance :)

[2020-10-02 14:06] hruday007 commented on #141
I want to work on this can you please assign this to me ? @vJechsmayr

[2020-10-02 14:30] suparna13 commented on #175
@vJechsmayr  I would like to contribute on this. May i do this i will do it in python?

[2020-10-02 14:33] divyhshah commented on #181
@vJechsmayr  I am done with this and also added a solution can you please review it
Thanks
closes #181

[2020-10-02 15:02] satyamasthanaa commented on #114
I would like to contribute to this, please assign me this task. Thankyou.

[2020-10-02 15:03] satyamasthanaa commented on #113
I would like to contribute to this, please assign me this task. Thankyou.

[2020-10-02 15:23] Shree987 commented on #174
@vJechsmayr , can you review my PR?
Thanks in advance :)

[2020-10-02 16:22] jcastle13 commented on #168
Hello @vJechsmayr,

Was wondering if more than one person can be assigned an issue?  If so, I would like to work on this issue.  👍

Regards,
Jason

[2020-10-02 17:14] satyamasthanaa commented on #64
I would like to solve this. Can you please assign this issue to me?

[2020-10-02 19:50] #150 closed

[2020-10-02 19:51] #163 closed

[2020-10-02 19:51] Racherin opened #203 "Face Changer App"
### Face Changer App
A python script detects faces and changes two or more faces in an image.

### Your environment
Open CV2
Pillow

[2020-10-02 19:52] #203 closed

[2020-10-02 19:52] #176 closed

[2020-10-02 19:53] #166 closed

[2020-10-02 19:56] #162 closed

[2020-10-02 19:58] #170 closed

[2020-10-02 20:02] #171 closed

[2020-10-02 20:40] hruday007 commented on #141
I make PR with cherry-pickup solution and also attaching screenshot of all the passing test cases.
![cherry-pickup](https://user-images.githubusercontent.com/29302322/94967851-82b4a780-051d-11eb-97f8-4ed963481e94.png)

[2020-10-02 22:09] pushanpore014 commented on #174
Hey There,

can you assign this task to me? I want to implement some of my ideas.

[2020-10-03 03:59] Dilpreet047 commented on #127
I want to work on this problem.

[2020-10-03 04:14] jyotiGambhir commented on #170
Can you assign it to me? I would like to code in CPP

[2020-10-03 04:29] jyotiGambhir commented on #149
Can I add CPP solution to it?

[2020-10-03 07:03] sourabmaity commented on #164
program is done

[2020-10-03 07:20] yogeshsingh01 commented on #32
@sadn1ck As leetcode has changed its policy, previously one can login via a config file.
Now login is only possible via cookies.

Hence, you can give [Terminal LeetCode]( https://github.com/chishui/terminal-leetcode) a try.

To be precise, one have to implement something like this:
[LeetCode-Sync](https://github.com/joshcai/leetcode-sync)

In this they are syncing your leetcode progress, What we a

[2020-10-03 08:04] TanayKulkarni commented on #165
#154

[2020-10-03 12:03] darshmgandhi commented on #167
@vJechsmayr Can you please assign this issue to me? I will give the python implementation to you.

[2020-10-03 13:55] aditya-gite-04 opened #215 "0050 - Pow(x, n)"
## Description of the Problem
Implement pow(x, n), which calculates x raised to the power n (i.e. xn).

## Code
[code]

## Link To The LeetCode Problem
https://leetcode.com/problems/powx-n/

[2020-10-03 13:56] Hinal-Srivastava commented on #215
Yea! I'll do it👍

[2020-10-03 13:56] xma8lu commented on #215
I wanted to work on this

[2020-10-03 14:18] rishab05 commented on #215
I will do it assign this to me. I solve this problem in leetcode

[2020-10-03 15:41] sadn1ck commented on #32
I'll have a look, ty @yogeshsingh01 , swamped in college work right now. 😅

[2020-10-03 16:34] Aviadonis opened #216 "0002 - Add Two Numbers"
## Description of the Problem
You are given two non-empty linked lists representing two non-negative integers. The digits are stored in reverse order, and each of their nodes contains a single digit. Add the two numbers and return the sum as a linked list.

You may assume the two numbers do not contain any leading zero, except the number 0 itself.

![image](https://user-images.githubusercontent.co

[2020-10-03 16:35] Aviadonis commented on #216
Please assign this to me. ✔

[2020-10-03 16:35] Jayanth19524 commented on #216
can I work on this

[2020-10-03 16:36] verma-pulkit commented on #216
Please assign this to me.

[2020-10-03 17:27] VaibhavDS19 commented on #216
Assign to me please.

[2020-10-03 17:30] VaibhavDS19 commented on #215
I can solve this, please assign to me.

[2020-10-03 17:30] DhawalKhapre commented on #173
I would like to contribute to this issue
Thank You

[2020-10-03 17:58] DhawalKhapre commented on #35
I will solve this issue. Please assign this to me

[2020-10-03 19:03] #67 closed

[2020-10-03 19:05] ashvinimore commented on #173
Thank You Mam

[2020-10-03 19:07] #143 closed

[2020-10-03 19:07] #144 closed

[2020-10-03 19:07] #147 closed

[2020-10-03 19:07] #149 closed

[2020-10-03 19:07] #165 closed

[2020-10-03 19:12] #151 closed

[2020-10-03 19:15] cscipher commented on #215
I will work on it! Kindly assign me!

[2020-10-03 19:17] #161 closed

[2020-10-03 19:17] #181 closed

[2020-10-03 19:18] #180 closed

[2020-10-03 19:20] #178 closed

[2020-10-03 19:24] #174 closed

[2020-10-03 19:26] #168 closed

[2020-10-03 19:29] #113 closed

[2020-10-03 19:29] #114 closed

[2020-10-03 19:29] #140 closed

[2020-10-03 19:38] #112 closed

[2020-10-03 19:41] #109 closed

[2020-10-03 19:42] #141 closed

[2020-10-03 19:44] #172 closed

[2020-10-03 19:52] #18 closed

[2020-10-03 19:53] #41 closed

[2020-10-03 19:54] pikachu28 opened #218 "0051 - N-Queens"
The n-queens puzzle is the problem of placing n queens on an n×n chessboard such that no two queens attack each other.
Given an integer n, return all distinct solutions to the n-queens puzzle.

Each solution contains a distinct board configuration of the n-queens' placement, where 'Q' and '.' both indicate a queen and an empty space respectively.
<img width="720" alt="Screenshot 2020-10-04 at 1 23

[2020-10-03 19:54] #5 closed

[2020-10-03 19:54] pikachu28 commented on #218
Pls Assign this issue to me : )

[2020-10-03 19:59] vJechsmayr commented on #215
Problem 50 is already solved - closed
@aditya-gite-04 Please do not open Issues without checking if problem is already solved.

[2020-10-03 19:59] #215 closed

[2020-10-03 20:01] vJechsmayr commented on #216
Closed - Problem already solved!
@Aviadonis Please check of Problem is solved before creating an issue!

[2020-10-03 20:01] #216 closed

[2020-10-03 20:01] saranshkotnala commented on #218
can u assign this to me pls

[2020-10-03 20:05] vJechsmayr commented on #35
7 day inactivity - assigned @DhawalKhapre

[2020-10-03 20:07] vJechsmayr commented on #17
@ExpressHermes Are you working on this? Otherwise I will unassign you

[2020-10-03 20:07] #19 closed

[2020-10-03 20:08] vJechsmayr commented on #28
@27Anurag there is no PR on this

[2020-10-03 20:16] 27Anurag commented on #28
I committed only in my forked repo, now sent a PR, Please check again.

[2020-10-04 02:01] ExpressHermes commented on #17
@vJechsmayr I am working on it. I will issue a PR ASAP.

[2020-10-04 04:11] Mitali-laroia opened #221 "04 - Median of Two Sorted Arrays"
## Median of Two Sorted Arrays
Given two sorted arrays nums1 and nums2 of size m and n respectively, return the median of the two sorted arrays.

Follow up: The overall run time complexity should be O(log (m+n)).

Input: nums1 = [1,2], nums2 = [3,4]
Output: 2.50000
Explanation: merged array = [1,2,3,4] and median is (2 + 3) / 2 = 2.5.

## Link To The LeetCode Problem
https://leetcode.com/problems/

[2020-10-04 04:11] Mitali-laroia commented on #221
@vJechsmayr  Pls assign this issue to me.

[2020-10-04 04:35] sourabmaity commented on #221
i want to solve this issue in C and python

[2020-10-04 04:57] YashNagare opened #222 "0728 - Self Dividing Numbers"
## Description of the Problem
A self-dividing number is a number that is divisible by every digit it contains.

## Code
[code]
Explanation: Convert the number into a string, and then convert back to integer to perform the modulo operation when checking n % d == 0.

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/self-dividing-numbers/)

[2020-10-04 04:57] YashNagare commented on #222
Pls assign this issue to me.

[2020-10-04 05:01] Luv8436 commented on #221
Hii @Mitali-laroia  please assign this issue to me.

[2020-10-04 05:14] Roshanpaswan commented on #221
Please assign me i will definately work on this issue

[2020-10-04 05:22] sbmkrgit commented on #222
Please assign this issue to me.
I can solve it easily.

[2020-10-04 05:45] Arihant416 commented on #222
Hi, I'd like to contribute a solution. Are there any specific guidelines to contribute to this issue?

[2020-10-04 06:17] vighneshdeepweb commented on #222
pls assign this issue to me @YashNagare

[2020-10-04 06:19] Arihant416 commented on #221
I would love to contribute to this problem if it hasn't been assigned.

[2020-10-04 06:33] meghna25 commented on #221
hey @Mitali-laroia can I implement this in Java?

[2020-10-04 06:39] vighneshdeepweb commented on #222
#226

[2020-10-04 07:17] Sakshi2106 commented on #221
I would like to contribute to this problem . Please assign this issue to me

[2020-10-04 07:37] #221 closed

[2020-10-04 07:39] wasimafser commented on #221
why was this issue closed ?

[2020-10-04 07:40] Mitali-laroia commented on #221
@wasimafser it is already there in code base.

[2020-10-04 07:42] wasimafser commented on #221
ok, thank you for the information

[2020-10-04 07:42] vighneshdeepweb commented on #222
do review my PR #226

[2020-10-04 07:43] PratikshaGoyal commented on #222
I would like to work on the issue

[2020-10-04 08:35] DiveshHariani commented on #153
Can you please assign this issue to me?

[2020-10-04 08:41] DiveshHariani commented on #222
Can you please assign this issue to me?

[2020-10-04 09:33] HOD101s commented on #222
I would like to propose my solution.
Leetcode Stats:
Runtime: 40 ms, faster than 93.23% of Python3 online submissions for Self Dividing Numbers.

[2020-10-04 09:34] HOD101s commented on #222
I would like to propose my solution.
Leetcode Stats:
Runtime: 40 ms, faster than 93.23% of Python3 online submissions for Self Dividing Numbers.
#229

[2020-10-04 09:38] HOD101s commented on #222
I would like to contribute my solution. Do assign the issue to me.
Leetcode Stats:
Runtime: 40 ms, faster than 93.23% of Python3 online submissions for Self Dividing Numbers.
#229

[2020-10-04 10:13] yubarajsingh commented on #28
i would like to solve this problem

[2020-10-04 10:53] Arihant416 commented on #222
Do review my Pull Request, #224
Leetcode Stats: Runtime 36ms, faster than 97.55% of Python Submissions :)

[2020-10-04 12:26] Hiroshii8 opened #230 "0009 - Palindrome Number"
## Description of Problem
Determine whether an integer is a palindrome. An integer is a palindrome when it reads the same backward as forward.

Follow up: Could you solve it without converting the integer to a string?

## Example 1:

## Example 2:

## Example 3:

### Explanation: Reads 01 from right to left. Therefore it is not a palindrome.

## Example 4:

## Constraints:

link : [problem](https:

[2020-10-04 12:34] Hiroshii8 commented on #230
please assign me to this issue sir @vJechsmayr

[2020-10-04 13:02] ghost commented on #222
Hey! I can help you with this. Please assign it to me.

[2020-10-04 13:29] tanmoyee04 opened #233 "0062 - Unique Paths"
## Description of the Problem
A robot is located at the top-left corner of a m x n grid (marked 'Start' in the diagram below).

The robot can only move either down or right at any point in time. The robot is trying to reach the bottom-right corner of the grid (marked 'Finish' in the diagram below).

How many possible unique paths are there?

### Example :
Input: m = 3, n = 2
Output: 3
Explanation:

[2020-10-04 13:39] aewens opened #236 "Add hacktoberfest topic to repository"
### Subject of the issue
A recent update has made hacktoberfest opt-in via adding a topic to the repository (due to the spam issue on unsuspecting repos). For PRs to count for the issues flagged as being for hacktoberfest, the topic needs to be added to the repository as well. See here for more details:

https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-04 13:41] Kushagra2000 commented on #230
Could this be assigned to me?

[2020-10-04 13:43] tanmoyee04 opened #237 "0083 - Remove Duplicates from Sorted List"
## Description of the Problem
Given a sorted linked list, delete all duplicates such that each element appear only once.

#### Example-1:
Input: 1->1->2
Output: 1->2
#### Example-2:
Input: 1->1->2->3->3
Output: 1->2->3

## Code
class Solution:
    def deleteDuplicates(self, head: ListNode) -> ListNode:
        if head==None:
            return head
        current= head.next
        prev=head

[2020-10-04 13:51] Mikhaylov-yv commented on #237
I'm ready to deal with this problem

[2020-10-04 14:35] BassCoder2808 commented on #233
I would like to work on this problem.
Can you please assign this issue to me ?

[2020-10-04 14:36] Aviadonis commented on #216
I'm sorry I'll be careful @vJechsmayr

[2020-10-04 14:37] EishaMazhar commented on #230
Please assign this to me @vJechsmayr

[2020-10-04 14:41] itsvinayak commented on #230
i have submitted a PR #239

[2020-10-04 14:41] EishaMazhar commented on #237
Can you assign this to me?

[2020-10-04 15:35] stoicfeats commented on #237
Hey, I have the solution ready waiting for assign and commit?

[2020-10-04 16:26] DavidBanda opened #244 "0189 - Rotate Array"
## Description of the Problem
Given an array, rotate the array to the right by k steps, where k is non-negative.

#### Follow up:

- Try to come up as many solutions as you can, there are at least 3 different ways to solve this problem.
- Could you do it in-place with O(1) extra space?

#### Example 1:

**Input:** nums = [1,2,3,4,5,6,7], k = 3
**Output:** [5,6,7,1,2,3,4]
**Explanation:**
rotate 1

[2020-10-04 16:47] HOD101s commented on #222
Extremely Pythonic Solution
LeetCode Stats:
Runtime: **32 ms**, **faster than 99.25%** of Python3 online submissions for Self Dividing Numbers.
Kindly assign the issue to me.
#247

[2020-10-04 16:48] anusharp97 commented on #233
I would like to contribute to this, as I already have a python solution for the same in my github repo.
Can you please assign this to me?

[2020-10-04 16:49] busybee23 opened #248 "0073 - Set Matrix Zeroes"
## Description of the Problem
Given an m x n matrix. If an element is 0, set its entire row and column to 0. Do it in-place.

Follow up:

A straight forward solution using O(mn) space is probably a bad idea.
A simple improvement uses O(m + n) space, but still not the best solution.
Could you devise a constant space solution?

## Link To The LeetCode Problem
https://leetcode.com/problems/set-matrix

[2020-10-04 16:50] stoicfeats commented on #248
I have the solution ready, please assign this to me. @vJechsmayr
No one has done this question before neither any issues are open related to this.
thankyou

[2020-10-04 16:53] busybee23 commented on #248
#249

[2020-10-04 16:54] HOD101s commented on #222
Extremely Pythonic Solution
LeetCode Stats:
Runtime: **24 ms**, **faster than 100%** of Python3 online submissions for Self Dividing Numbers.
Kindly assign the issue to me.
#250

![Screenshot](https://user-images.githubusercontent.com/37273226/95021609-9da72900-068f-11eb-9e88-1c082c04635a.png)

[2020-10-04 16:56] busybee23 commented on #248
#249

[2020-10-04 16:57] busybee23 commented on #248
[https://github.com/vJechsmayr/PythonAlgorithms/pull/249](url)
#249

[2020-10-04 16:58] anusharp97 opened #252 "0274 - H-Index"
## Description of the Problem
Given an array of citations (each citation is a non-negative integer) of a researcher, write a function to compute the researcher's h-index.

According to the definition of h-index on Wikipedia: "A scientist has index h if h of his/her N papers have at least h citations each, and the other N − h papers have no more than h citations each."

Example:
Input: citations =

[2020-10-04 16:59] anusharp97 commented on #252
Please assign this to me, there are no issues related to this question.

[2020-10-04 17:11] stoicfeats commented on #248
I'm trying to figure this out so badly.

[2020-10-04 17:11] #248 closed

[2020-10-04 17:13] busybee23 opened #253 "0073 - Set Matrix Zeroes"
## Description of the Problem
Given an m x n matrix. If an element is 0, set its entire row and column to 0. Do it in-place.

Follow up:

A straight forward solution using O(mn) space is probably a bad idea.
A simple improvement uses O(m + n) space, but still not the best solution.
Could you devise a constant space solution?

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems

[2020-10-04 17:19] busybee23 commented on #253
linked a pull request that will close https://github.com/vJechsmayr/PythonAlgorithms/pull/255#issue-497467740

[2020-10-04 17:24] stoicfeats commented on #253
I've linked the complete solution in two ways to solve this, please tag this as hacktoberfest.
Thank you.

[2020-10-04 17:38] matheusphalves opened #256 "0206 - Reverse Linked List"
## Description of the Problem
Reverse a singly linked list.

Example:

Input: 1->2->3->4->5->NULL
Output: 5->4->3->2->1->NULL

## Code

`
class Solution(object):
    def reverseList(self, head, auxNode=None): #recursive mode
            if(head==None):
                return auxNode
            else:
                return self.reverseList(head.next, ListNode(head.val, auxNode))
`

## Link To The

[2020-10-04 18:06] lightningedge007a opened #259 "0387 - First Unique Character in a String"
Given a string, find the first non-repeating character in it and return its index. If it doesn't exist, return -1.

Examples:

s = "leetcode"
return 0.

s = "loveleetcode"
return 2.

Note: You may assume the string contains only lowercase English letters.

## Link To The LeetCode Problem
https://leetcode.com/problems/first-unique-character-in-a-string/

[2020-10-04 18:10] #259 closed

[2020-10-04 18:15] jmdana opened #260 "0003 - Longest Substring Without Repeating Characters"
## Description of the Problem
Given a string s, find the length of the longest substring without repeating characters.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/longest-substring-without-repeating-characters/)

[2020-10-04 18:46] #175 closed

[2020-10-04 18:50] #28 closed

[2020-10-04 18:55] vJechsmayr commented on #230
@Hiroshii8 Please make sure to submit a PR within 7 Days - otherwise I will assign another assigne 👍

[2020-10-04 18:56] vJechsmayr commented on #233
@tanmoyee04 Did you just open the Issue or do you want to be assigned too?
If not I will assign another 😄

[2020-10-04 18:58] tanmoyee04 commented on #233
You can assign it to anyone you like

On Mon, 5 Oct, 2020, 12:27 AM Viktoria Jechsmayr, <notifications@github.com>
wrote:

[2020-10-04 18:58] tanmoyee04 commented on #233
I have uploaded the problem and solution also.

On Mon, 5 Oct, 2020, 12:27 AM Tanmoyee Roy, <tanmoyeeroy1999@gmail.com>
wrote:

[2020-10-04 18:59] vJechsmayr commented on #236
@aewens My Repo is classified as hacktoberfest Repo for long 😃 Already did so last year.
Thanks for the Information 👍

[2020-10-04 18:59] #236 closed

[2020-10-04 18:59] tanmoyee04 commented on #233
I have made the PR for that but it wasn't allowing to create PR

On Mon, 5 Oct, 2020, 12:27 AM Tanmoyee Roy, <tanmoyeeroy1999@gmail.com>
wrote:

[2020-10-04 19:01] shobhitsundriyal commented on #260
could you assign this to me?

[2020-10-04 19:11] #233 closed

[2020-10-04 19:11] #237 closed

[2020-10-04 19:12] #244 closed

[2020-10-04 19:14] itsvinayak commented on #230
Hey @vJechsmayr I have already submitted a PR related to this issue

[2020-10-04 19:15] #253 closed

[2020-10-04 19:17] #256 closed

[2020-10-04 19:18] #3 closed

[2020-10-04 19:19] #260 closed

[2020-10-04 19:19] anuranjanpandey opened #263 "0532 - K-diff Pairs in an Array"
## Description of the Problem
Given an array of integers nums and an integer k, return the number of unique k-diff pairs in the array.

A k-diff pair is an integer pair (nums[i], nums[j]), where the following are true:

+ 0 <= i, j < nums.length
+ i != j
+ a <= b
+ b - a == k

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/k-diff-pairs-in-an-array/)

[2020-10-04 19:19] anuranjanpandey commented on #263
Please assign this to me.

[2020-10-04 19:22] GiorgiBeriashvili opened #264 "0383 - Ransom Note"
## Description of the Problem

Given an arbitrary ransom note string and another string containing letters from all the magazines, write a function that will return true if the ransom note can be constructed from the magazines ; otherwise, it will return false.

Each letter in the magazine string can only be used once in your ransom note.

### Example 1:

[code]

### Example 2:

[code]

### Exampl

[2020-10-04 19:24] GiorgiBeriashvili commented on #264
I will handle this issue myself.

[2020-10-04 19:24] Harshvartak opened #265 "412 - Fizz Buzz"
## Description of the Problem
Write a program that outputs the string representation of numbers from 1 to n.

But for multiples of three it should output “Fizz” instead of the number and for the multiples of five output “Buzz”. For numbers which are multiples of both three and five output “FizzBuzz”.
## Example:
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/fizz-

[2020-10-04 19:24] s-sanyal opened #266 "0995 - Minimum Number of K Consecutive Bit Flips"
## Description of the Problem
In an array A containing only 0s and 1s, a K-bit flip consists of choosing a (contiguous) subarray of length K and simultaneously changing every 0 in the subarray to 1, and every 1 in the subarray to 0.

Return the minimum number of K-bit flips required so that there is no 0 in the array.  If it is not possible, return -1.

Example 1:

Input: A = [0,1,0], K = 1
Output

[2020-10-04 19:25] Harshvartak commented on #265
Please assign this issue to me

[2020-10-04 19:25] vishalarya01 commented on #263
Can you assign this problem to me. I will try in python.

[2020-10-04 19:26] kra-tosss commented on #266
please assign this issue to me

[2020-10-04 19:26] s-sanyal commented on #266
Please assign this issue to me. I am the one who solved it

[2020-10-04 19:29] Anmol2001 commented on #263
can i try in c++?

[2020-10-04 19:31] jmdana opened #267 "0008 - String to Integer (atoi)"
## Description of the Problem
Implement atoi which converts a string to an integer.

The function first discards as many whitespace characters as necessary until the first non-whitespace character is found. Then, starting from this character takes an optional initial plus or minus sign followed by as many numerical digits as possible, and interprets them as a numerical value.

The string can conta

[2020-10-04 19:36] vJechsmayr commented on #263
@Anmol2001 NO! Read Contributing Guidelines. This Repo is **Python3 only** - and there is already someone assigned to this issue

[2020-10-04 19:37] #267 closed

[2020-10-04 19:44] #230 closed

[2020-10-04 19:44] anuranjanpandey opened #273 "1288 - Remove Covered Intervals"
## Description of the Problem
Given a list of intervals, remove all intervals that are covered by another interval in the list.

Interval [a,b) is covered by interval [c,d) if and only if c <= a and b <= d.

After doing so, return the number of remaining intervals.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/remove-covered-intervals/)

[2020-10-04 19:44] anuranjanpandey commented on #273
Please assign it to me.

[2020-10-04 19:49] Arihant416 opened #275 "0938 - Range Sum of BST"
## Description of the Problem
Given the root node of a binary search tree, return the sum of values of all nodes with value between L and R (inclusive).
The binary search tree is guaranteed to have unique values.
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/range-sum-of-bst/)

[2020-10-04 19:50] Arihant416 commented on #275
I'd like to work on the python version of the problem, kindly assign this issue to me

[2020-10-04 19:56] #265 closed

[2020-10-04 19:57] jmdana opened #277 "0020 - Valid Parentheses"
## Description of the Problem
Given a string s containing just the characters '(', ')', '{', '}', '[' and ']', determine if the input string is valid.

An input string is valid if:

    Open brackets must be closed by the same type of brackets.
    Open brackets must be closed in the correct order.

 ## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/valid-par

[2020-10-04 20:06] #277 closed

[2020-10-04 20:12] jmdana opened #280 "0017 - Letter Combinations of a Phone Number"
## Description of the Problem
Given a string containing digits from 2-9 inclusive, return all possible letter combinations that the number could represent. Return the answer in any order.

A mapping of digit to letters (just like on the telephone buttons) is given below. Note that 1 does not map to any letters.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/proble

[2020-10-04 20:14] #280 closed

[2020-10-04 20:43] vJechsmayr opened #283 "Hacktoberfest 2020"
## 📘 Why Hacktoberfest?
As the last years I'm participating also at this years Hacktoberfest 2020.
This year I decided to learn Python and let you join on my adventure in the Python-World.
Especially the Hacktoberfest is an awesome opportunity to contribute to open-source repositories.
If you want to join, you can sign up for Hacktoberfest right here: [https://hacktoberfest.digitalocean.com/](http

[2020-10-04 20:46] #264 closed

[2020-10-05 00:52] Arihant416 commented on #275
kindly review PR #285

[2020-10-05 01:21] Curiouspaul1 opened #286 "09- Palindrome Number"
## Description of the Problem
Determine whether an integer is a palindrome. An integer is a palindrome when it reads the same backward as forward.
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/palindrome-number/)

[2020-10-05 01:54] jmannina commented on #286
Hi, may I work on this?

[2020-10-05 01:57] Curiouspaul1 commented on #286
Hey i think the repo owner has to assign it to you specifically, I just need him to accept this as a valid issue for my hacktoberfest profile,

[2020-10-05 03:22] wjyeap123 opened #289 "0058 - Length of Last Word"
## Description of the Problem
Given a string s consists of upper/lower-case alphabets and empty space characters ' ', return the length of last word (last word means the last appearing word if we loop from left to right) in the string.

If the last word does not exist, return 0.

Note: A word is defined as a maximal substring consisting of non-space characters only.

## Code
[code]

## Link To The

[2020-10-05 03:25] wjyeap123 commented on #289
Hi, this is my first contribution. Can you assign this issue to me?

[2020-10-05 03:58] amoghrajesh opened #291 "0121 - Best Time to Buy and Sell Stock"
## Description of the Problem
Say you have an array for which the ith element is the price of a given stock on day i.

If you were only permitted to complete at most one transaction (i.e., buy one and sell one share of the stock), design an algorithm to find the maximum profit.

Note that you cannot sell a stock before you buy one.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https:

[2020-10-05 03:59] amoghrajesh commented on #291
Please assign this issue to me @vJechsmayr

[2020-10-05 04:05] sayan1999 commented on #289
I also want to work on this issue.

[2020-10-05 04:08] mayankgoyal-13 commented on #289
I would also like to work on the issue and do we have to create a code ?

[2020-10-05 04:41] tejasbirsingh opened #294 "0134 - Gas Station"
## Description of the Problem
There are N gas stations along a circular route, where the amount of gas at station i is gas[i].

You have a car with an unlimited gas tank and it costs cost[i] of gas to travel from station i to its next station (i+1). You begin the journey with an empty tank at one of the gas stations.

Return the starting gas station's index if you can travel around the circuit onc

[2020-10-05 04:43] tejasbirsingh commented on #294
I would like to contribute to the issue I created. Thanks!

[2020-10-05 04:44] rajapuranam commented on #291
Can you please assign this issue to me. @vJechsmayr

[2020-10-05 04:55] busybee23 opened #295 "0078 - Subsets"
## Description of the Problem
Given a set of distinct integers, nums, return all possible subsets (the power set).

Note: The solution set must not contain duplicate subsets.

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/subsets/)

[2020-10-05 05:00] stoicfeats commented on #295
Linked a PR with this issue #296 which will close this issue, thank you.

[2020-10-05 05:26] abhishakvarshney commented on #222
Hey! I can help you with this. Please assign it to me.

[2020-10-05 05:27] Calm-23 opened #299 "0016 - 3Sum Closest"
**DESCRIPTION**
Given an array nums of n integers and an integer target, find three integers in nums such that the sum is closest to target. Return the sum of the three integers. You may assume that each input would have exactly one solution.

**LINK**
[https://leetcode.com/problems/3sum-closest/](url)

[2020-10-05 05:31] TanayKulkarni commented on #299
can I work on This please!

[2020-10-05 05:32] mansisahu127 commented on #299
I am sorry. I created this issue by mistake. This problem has been already solved.
Sorry again.

[2020-10-05 05:32] #299 closed

[2020-10-05 05:42] Ayushmanglani opened #301 "0046 - Permutations"
## Description of the Problem
Given a collection of distinct integers, return all possible permutations.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/permutations//)

[2020-10-05 05:46] Calm-23 opened #303 "0567 - Permutations in String"
**Description of the Problem**

Given two strings s1 and s2, write a function to return true if s2 contains the permutation of s1. In other words, one of the first string's permutations is the substring of the second string.

Example 1:

Input: s1 = "ab" s2 = "eidbaooo"
Output: True
Explanation: s2 contains one permutation of s1 ("ba").
Example 2:

Input:s1= "ab" s2 = "eidboaoo"
Output: False

Con

[2020-10-05 05:46] mansisahu127 commented on #303
Please assign this issue to me. I would like to work on it.
Thank you.

[2020-10-05 05:50] FergusYip opened #304 "0141 - Linked List Cycle"
## Description of the Problem
Given `head`, the head of a linked list, determine if the linked list has a cycle in it.

There is a cycle in a linked list if there is some node in the list that can be reached again by continuously following the `next` pointer. Internally, `pos` is used to denote the index of the node that tail's `next` pointer is connected to. **Note that `pos` is not passed as a p

[2020-10-05 05:50] FergusYip commented on #304
Please assign this to me.

[2020-10-05 05:56] Achyut-sudo commented on #294
I would also like to work on this problem

[2020-10-05 05:56] ghost commented on #222
I'd like to contribute a solution of this problem??

[2020-10-05 06:03] MANISH007700 commented on #303
I would love to work on this problem ! Can i ? @Calm-23

[2020-10-05 06:58] stoicfeats commented on #291
hey, @rajapuranam can you please help me with linking the pull requests to issues, I'm having troubles in linking my PR to issues.

[2020-10-05 07:14] amoghrajesh commented on #291
Hey @rajapuranam, it is not an open issue. Please don't submit a solution unless you are assigned to it :(

[2020-10-05 07:24] ryanvarghese commented on #286
hey @Curiouspaul1 i would love to work on this . Can you please assign this to me ?

[2020-10-05 08:18] alifakbar111 opened #309 "0401 - Binary Watch"
## Description of the Problem
A binary watch has 4 LEDs on the top which represent the hours (0-11), and the 6 LEDs on the bottom represent the minutes (0-59).

Each LED represents a zero or one, with the least significant bit on the right.
For example, the above binary watch reads "3:25".

Given a non-negative integer n which represents the number of LEDs that are currently on, return all possibl

[2020-10-05 08:19] alifakbar111 commented on #309
Please assign this to me.

[2020-10-05 08:23] prachi-mutha opened #310 "0199 - Binary Tree Right Side View"
## Description of the Problem
Given a binary tree, imagine yourself standing on the right side of it, return the values of the nodes you can see ordered from top to bottom.

Example:

Input: [1,2,3,null,5,null,4]
Output: [1, 3, 4]
Explanation:

   1            <---
 /   \
2     3         <---
 \     \
  5     4       <---

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode

[2020-10-05 08:38] #310 closed

[2020-10-05 08:44] rajapuranam commented on #291
hi @amoghrajesh It is showing an open issue #291 in issues tab.

[2020-10-05 08:47] rajapuranam commented on #291
@busybee23 I don't know how exactly my pull requests are linked to issues.

[2020-10-05 08:49] amoghrajesh commented on #291
@rajapuranam looks like only ones assigned can get to PR. And the readme says that only the issue raiser will get the assignment

[2020-10-05 08:51] #275 closed

[2020-10-05 08:52] #222 closed

[2020-10-05 08:52] rajapuranam commented on #291
@amoghrajesh So now, If I want to contribute, then what I have to do exactly?? Should I open a new issue and ask for the assignment? Or should I take the already open issues??

[2020-10-05 08:53] vJechsmayr commented on #286
Closed - Problem already solved! Make Sure to **read Contribution Guideline** before creating an Issue!

[2020-10-05 08:53] #286 closed

[2020-10-05 09:00] vJechsmayr commented on #291
@rajapuranam When there is an Issue I created an noone is assigned (and no one commentend to assign) the you can comment so I assign you as soon as I'm online.
When there is no free Issue and you want to work on an LeetCode Problem that is not already solved (See Problemnumbers in `Code/LeetCode` if your wished Problem is not already solved & at the Open Issues if not already someone else created

[2020-10-05 09:02] #295 closed

[2020-10-05 09:03] #301 closed

[2020-10-05 09:04] #303 closed

[2020-10-05 09:05] #304 closed

[2020-10-05 09:07] rajapuranam commented on #291
@vJechsmayr Ohh, Now I got clarity about this. Thank You so much for the clarification. 😊

[2020-10-05 09:11] #164 closed

[2020-10-05 09:34] tejasbirsingh commented on #294
closes #XXXX

[2020-10-05 09:38] amoghrajesh commented on #291
Hey @vJechsmayr I am new to linking the issues to PR. Please let me know if I have linked it wrong

[2020-10-05 09:39] #263 closed

[2020-10-05 09:39] #273 closed

[2020-10-05 10:00] HOD101s opened #318 "0058 - Length of Last Word"
## Description of the Problem
Given a string s consists of upper/lower-case alphabets and empty space characters ' ', return the length of last word (last word means the last appearing word if we loop from left to right) in the string.

If the last word does not exist, return 0.

Note: A word is defined as a maximal substring consisting of non-space characters only.

### Explanation:
[code]

## Co

[2020-10-05 10:01] HOD101s commented on #318
Kindly assign this to me as there have been no issues for this problem.

[2020-10-05 10:01] HOD101s commented on #318
LeetCode Stats:
Runtime: 20 ms, faster than 98.88% of Python3 online submissions for Length of Last Word.

[2020-10-05 10:07] HOD101s commented on #318
More optimized solution compared to the previously given solution at
#289

[2020-10-05 10:12] rajapuranam opened #319 "0010 - Regular Expression Matching"
## Description of the Problem
Given an input string (s) and a pattern (p), implement regular expression matching with support for '.' and '*' where:

'.' Matches any single character.​​​​
'*' Matches zero or more of the preceding element.
The matching should cover the entire input string (not partial).

Example 1:
Input: s = "aa", p = "a"
Output: false
Explanation: "a" does not match the entire st

[2020-10-05 10:12] rajapuranam commented on #319
Please assign this issue to me.

[2020-10-05 10:15] PrachiSinghal86 opened #320 "1046 - LeetCode Problem Title"
## Description of the Problem
You may copy that from LeetCode
We have a collection of stones, each stone has a positive integer weight.

Each turn, we choose the two heaviest stones and smash them together.  Suppose the stones have weights x and y with x <= y.  The result of this smash is:

If x == y, both stones are totally destroyed;
If x != y, the stone of weight x is totally destroyed, and the

[2020-10-05 10:31] IhebHaboubi commented on #320
Hi, can I work on this one ?

[2020-10-05 10:33] anuranjanpandey opened #325 "1009 - Complement of Base 10 Integer"
## Description of the Problem
Every non-negative integer N has a binary representation.  For example, 5 can be represented as "101" in binary, 11 as "1011" in binary, and so on.  Note that except for N = 0, there are no leading zeroes in any binary representation.

The complement of a binary representation is the number in binary you get when changing every 1 to a 0 and 0 to a 1.  For example, the

[2020-10-05 10:34] anuranjanpandey commented on #325
Please assign this to me.

[2020-10-05 10:37] HariKrishnaShivs commented on #289
Hi,I want to work on this issue

[2020-10-05 10:49] PrachiSinghal86 commented on #320
Please assign this to me

[2020-10-05 11:15] anusharp97 opened #328 "0198 - House Robber"
## House Robber
#### Difficulty level - Easy
You are a professional robber planning to rob houses along a street. Each house has a certain amount of money stashed, the only constraint stopping you from robbing each of them is that adjacent houses have security system connected and it will automatically contact the police if two adjacent houses were broken into on the same night.

Given a list of n

[2020-10-05 11:15] anusharp97 commented on #328
Please assign this to me, also there are no issues related to this problem.

[2020-10-05 11:22] adi0311 opened #329 "1611 - Minimum One Bit Operations to Make Integers Zero"
## Description of the Problem
Given an integer n, you must transform it into 0 using the following operations any number of times:

* Change the rightmost (0th) bit in the binary representation of n.
* Change the ith bit in the binary representation of n if the (i-1)th bit is set to 1 and the (i-2)th through 0th bits are set to 0.

Return the minimum number of operations to transform n into 0.

##

[2020-10-05 11:23] adi0311 commented on #329
Can you please assign this issue to me?

[2020-10-05 11:41] PrachiSinghal86 opened #330 "0746- Min Cost Climbing Stairs"
## Description of the Problem
On a staircase, the i-th step has some non-negative cost cost[i] assigned (0 indexed).

Once you pay the cost, you can either climb one or two steps. You need to find minimum cost to reach the top of the floor, and you can either start from the step with index 0, or the step with index 1.
## Code
[code]

## Link To The LeetCode Problem
https://leetcode.com/problems/mi

[2020-10-05 11:43] PrachiSinghal86 commented on #330
Please assign this to me

[2020-10-05 11:50] nbhanu1311 commented on #289
class Solution {
public:
    int lengthOfLastWord(string s) {
        int len = s.length();
        int i = len - 1, j = 0;
        while(s[i] == ' '){
            i--;
        }
        while(i >=0 && ((s[i] >= 'a' && s[i] <= 'z') || (s[i] >= 'A' && s[i] <= 'Z'))){
            i--;
            j++;
        }
        return j;
    }
};

what about this solution..?

[2020-10-05 11:54] c-utkarsh opened #331 "0022 - Generate Parentheses"
## Description of the Problem
Given `n` pairs of parentheses, write a function to generate all combinations of well-formed parentheses.

**Example 1:**
[code]
**Example 2:**
[code]
**Constraints:**
`1 <= n <= 8`

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/generate-parentheses/)

[2020-10-05 11:55] c-utkarsh commented on #331
Hi @vJechsmayr, I would like to work on this.

[2020-10-05 12:20] Curiouspaul1 commented on #286
I'm confused when you say check to see if the problem hasn't been implemented do you mean to check whether abosolutely no one has written and submitted a soultion to the problem on leetcode?

[2020-10-05 12:25] c-utkarsh opened #332 "0063 - Unique Paths II"
## Description of the Problem
A robot is located at the top-left corner of a `m x n` grid (marked 'Start' in the diagram below).

The robot can only move either down or right at any point in time. The robot is trying to reach the bottom-right corner of the grid (marked 'Finish' in the diagram below).

Now consider if some obstacles are added to the grids. How many unique paths would there be?

An

[2020-10-05 12:26] c-utkarsh commented on #332
Hi @vJechsmayr, I would like to work on this.

[2020-10-05 12:53] anupamabauri opened #333 "0013 - Roman to Integer"
## Description of the Problem
Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is wr

[2020-10-05 12:56] anupamabauri commented on #333
Please assign this issue to me. I would like to work on this

[2020-10-05 13:00] nikhil05-code commented on #333
Please assign it to me.

[2020-10-05 13:07] amoghrajesh opened #334 "0299 - Bulls and Cows"
You are playing the Bulls and Cows game with your friend.

You write down a secret number and ask your friend to guess what the number is. When your friend makes a guess, you provide a hint with the following info:

The number of "bulls", which are digits in the guess that are in the correct position.
The number of "cows", which are digits in the guess that are in your secret number but are locate

[2020-10-05 13:08] amoghrajesh commented on #334
Please assign this to me @vJechsmayr

[2020-10-05 13:09] shanirub commented on #127
Hi @vJechsmayr ,

I submitted my solution to LeetCode and got "Time Limit Exceeded". That's weird, because the problem description said nothing about time constraints. May I PR my solution anyway? Or should I work on my solution and get it to work faster?

Thanks,
Shani

[2020-10-05 13:33] spoorgholi74 opened #336 "0888 - LeetCode Problem Title"
## Description of the Problem
Alice and Bob have candy bars of different sizes: A[i] is the size of the i-th bar of candy that Alice has, and B[j] is the size of the j-th bar of candy that Bob has.

Since they are friends, they would like to exchange one candy bar each so that after the exchange, they both have the same total amount of candy.  (The total amount of candy a person has is the sum of

[2020-10-05 13:34] spoorgholi74 commented on #336
@vJechsmayr can you please assign this to me?

[2020-10-05 13:58] stoicfeats commented on #291
@rajapuranam yes you have to first open an issue then link a PR to your issue created by yourself then @vJechsmayr will assign you and merge your work whenever she's online, make sure it's not spam because we make it really difficult for her to manage so many PRs.

[2020-10-05 14:09] busybee23 opened #338 "0347 - Top K Frequent Elements"
## Description of the Problem
Given a non-empty array of integers, return the k most frequent elements.

Example 1:

Input: nums = [1,1,1,2,2,3], k = 2
Output: [1,2]
Example 2:

Input: nums = [1], k = 1
Output: [1]
Note:

You may assume k is always valid, 1 ≤ k ≤ number of unique elements.
Your algorithm's time complexity must be better than O(n log n), where n is the array's size.
It's guaranteed

[2020-10-05 14:11] kajal1122 commented on #338
assign it to me

[2020-10-05 14:12] stoicfeats commented on #338
#339 closes this issue.

[2020-10-05 14:13] stoicfeats commented on #338
You should try creating your own issue first then link a PR to it, chances will be higher 👍🏽
Thank you.

[2020-10-05 14:25] wanda15tw opened #340 "1592 - Rearrange Spaces Between Words"
## Description of the Problem
You are given a string text of words that are placed among some number of spaces. Each word consists of one or more lowercase English letters and are separated by at least one space. It's guaranteed that text contains at least one word.

Rearrange the spaces so that there is an equal number of spaces between every pair of adjacent words and that number is maximized. I

[2020-10-05 14:30] wanda15tw opened #342 "1464 - Maximum Product of Two Elements in an Array"
## Description of the Problem
Given the array of integers nums, you will choose two different indices `i` and `j` of that array. Return the maximum value of `(nums[i]-1)*(nums[j]-1)`.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/maximum-product-of-two-elements-in-an-array/)

[2020-10-05 14:34] BassCoder2808 commented on #342
Can you assign this issue to me ?

[2020-10-05 14:38] shivangigoel1302 commented on #340
Can you assign this to me. I would like to do it in C++

[2020-10-05 14:41] ishika161 opened #343 "0832 - Flipping an Image"
## Description of the Problem
Given a binary matrix A, we want to flip the image horizontally, then invert it, and return the resulting image.

To flip an image horizontally means that each row of the image is reversed.  For example, flipping [1, 1, 0] horizontally results in [0, 1, 1].

To invert an image means that each 0 is replaced by 1, and each 1 is replaced by 0. For example, inverting [0,

[2020-10-05 14:42] wanda15tw commented on #342
Please assign this issue to me @vJechsmayr

[2020-10-05 14:42] wanda15tw commented on #340
Please assign this issue to me @vJechsmayr

[2020-10-05 14:43] ishika161 commented on #343
Please assign me this issue @vJechsmayr

[2020-10-05 14:53] LenartBucar opened #344 "0098 - Validate Binary Search Tree"
## Description of the Problem
Given a binary tree, determine if it is a valid binary search tree (BST).

Assume a BST is defined as follows:

The left subtree of a node contains only nodes with keys less than the node's key.
The right subtree of a node contains only nodes with keys greater than the node's key.
Both the left and right subtrees must also be binary search trees.

Example 1:

[code]

[2020-10-05 14:53] LenartBucar commented on #344
I would like to work on this issue.

[2020-10-05 15:03] busybee23 opened #346 "0086 - Partition List"
## Description of the Problem
Given a linked list and a value x, partition it such that all nodes less than x come before nodes greater than or equal to x.

You should preserve the original relative order of the nodes in each of the two partitions.

Example:

Input: head = 1->4->3->2->5->2, x = 3
Output: 1->2->2->4->3->5

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/par

[2020-10-05 15:07] afeefaa333 commented on #331
Shall I try this problem?

[2020-10-05 15:09] stoicfeats commented on #346
#339 closes both #338 and #346

[2020-10-05 15:09] Ojaswi2000 opened #347 "118-The Pascal's triangle in Python 3"
## Given a non-negative integer numRows, generate the first numRows of Pascal's triangle.In Pascal's triangle, each number is the sum of the two numbers directly above it.
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/pascals-triangle/)

[2020-10-05 15:10] ishika161 opened #348 "1380 - Lucky Numbers in a Matrix"
## Description of the Problem
Given a m * n matrix of distinct numbers, return all lucky numbers in the matrix in any order.

A lucky number is an element of the matrix such that it is the minimum element in its row and maximum in its column.

Example 1:

Input: matrix = [[3,7,8],[9,11,13],[15,16,17]]
Output: [15]
Explanation: 15 is the only lucky number since it is the minimum in its row and the

[2020-10-05 15:11] ishika161 commented on #348
Please assign me this issue @vJechsmayr

[2020-10-05 15:12] gaom25 commented on #347
I want to try this

[2020-10-05 15:28] Ojaswi2000 commented on #347
Sure @ovasgus ..Go Ahead

[2020-10-05 15:46] ishika161 opened #353 "1374-Generate a String With Characters That Have Odd Counts"
## Description of the Problem
Given an integer n, return a string with n characters such that each character in such string occurs an odd number of times.

The returned string must contain only lowercase English letters. If there are multiples valid strings, return any of them.

Example 1:

Input: n = 4
Output: "pppz"
Explanation: "pppz" is a valid string since the character 'p' occurs three times

[2020-10-05 15:47] ishika161 commented on #353
Please assign this issue to me @vJechsmayr

[2020-10-05 16:01] afeefaa333 opened #354 "0125 - Valid Palindrome"
## Description of the Problem
Given a string, determine if it is a palindrome, considering only alphanumeric characters and ignoring cases.

Note: For the purpose of this problem, we define empty string as valid palindrome.

Example 1:

Input: "A man, a plan, a canal: Panama"
Output: true
Example 2:

Input: "race a car"
Output: false

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](http

[2020-10-05 16:03] afeefaa333 commented on #354
Please assign this to me, I can solve this

[2020-10-05 16:08] anupamabauri opened #355 "0048 - Rotate Image"
## Description of the Problem

You are given an n x n 2D matrix representing an image, rotate the image by 90 degrees (clockwise).

You have to rotate the image in-place, which means you have to modify the input 2D matrix directly. DO NOT allocate another 2D matrix and do the rotation.

Example 1:

Input: matrix = [[1,2,3],[4,5,6],[7,8,9]]
Output: [[7,4,1],[8,5,2],[9,6,3]]
Example 2:

Input: matri

[2020-10-05 16:09] anupamabauri commented on #355
Please assign this issue to me

[2020-10-05 16:22] DevEliran opened #356 "1323## - Maximum 69 Number"
## Description of the Problem
Given a positive integer num consisting only of digits 6 and 9.

Return the maximum number you can get by changing at most one digit (6 becomes 9, and 9 becomes 6).

Example 1:

Input: num = 9669
Output: 9969
Explanation:
Changing the first digit results in 6669.
Changing the second digit results in 9969.
Changing the third digit results in 9699.
Changing the fourth d

[2020-10-05 16:25] Harsh-Udai commented on #356
@DevEliran  can you assign me this

[2020-10-05 16:42] ralph44 opened #357 "1189 - Maximum Number of Balloons"
## Description of the Problem
Given a string text, you want to use the characters of text to form as many instances of the word "balloon" as possible.

You can use each character in text at most once. Return the maximum number of instances that can be formed.

Example 1:

Input: text = "nlaebolko"
Output: 1
Example 2:

Input: text = "loonbalxballpoon"
Output: 2
Example 3:

Input: text = "leetcode"

[2020-10-05 16:44] ralph44 commented on #357
Please assign this issue to me @vJechsmayr

[2020-10-05 17:03] TrushaT opened #359 "1605 - Find Valid Matrix Given Row and Column Sums"
## Description of the Problem
You are given two arrays rowSum and colSum of non-negative integers where rowSum[i] is the sum of the elements in the ith row and colSum[j] is the sum of the elements of the jth column of a 2D matrix. In other words, you do not know the elements of the matrix, but you do know the sums of each row and column.

Find any matrix of non-negative integers of size rowSum.len

[2020-10-05 17:04] TrushaT commented on #359
Please assign this issue to me @vJechsmayr

[2020-10-05 17:05] ajyan commented on #354
Hi, I'd like to take this as an issue!

[2020-10-05 17:09] Swatigupta-droid opened #360 "Create 1568_Python_Program_To_Split_And_Join_A_String.py"
# CODE
def split_string(string):
    list_string = string.split(' ')
    return list_string
def join_string(list_string):
    string = '-'.join(list_string)
    return string
if __name__ == '__main__':
    string = 'coding is awesome'
    list_string = split_string(string)
    print(list_string)
    new_string = join_string(list_string)
    print(new_string)

[2020-10-05 17:10] RadientBrain commented on #360
please assign this to me @Swatigupta-droid

[2020-10-05 17:19] haard19 commented on #354
I have submitted the solution and have performed all the checks for opening PR: https://github.com/vJechsmayr/PythonAlgorithms/pull/362
Kindly review and merge.

[2020-10-05 17:28] HarlockOfficial commented on #356
@DevEliran can you assign this to me please?

[2020-10-05 17:34] anupamabauri opened #363 "0047 - Permutations II"
## Description of the Problem
Given a collection of numbers that might contain duplicates, return all possible unique permutations.

Example:

Input: [1,1,2]
Output:
[
  [1,1,2],
  [1,2,1],
  [2,1,1]
]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/permutations-ii/)

[2020-10-05 17:35] anupamabauri commented on #363
Please assign this issue to me

[2020-10-05 17:42] anupamabauri opened #364 "0088 - Merge Sorted Array"
## Description of the Problem
You may copy that from LeetCode

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/merge-sorted-array/)

[2020-10-05 17:43] anupamabauri commented on #364
Please assign this to me

[2020-10-05 17:45] geekyvedic commented on #360
@Swatigupta-droid  why is "**if name == 'main':**" used

[2020-10-05 17:52] SobhanBera commented on #364
Can you assign this work to me.

[2020-10-05 17:59] Mrsterius commented on #363
I would like to solve this issue using recursion. Please assign if it seems fit.

[2020-10-05 18:02] Mrsterius commented on #364
Please assign to me @vJechsmayr

[2020-10-05 18:08] Achyut-sudo commented on #294
hey I am very new to Github so by linking you mean I just have to write "issue- #316" to the commit comment before creating a pull request and also naming the branch "#316"
Thanks in advance!

[2020-10-05 18:13] RadientBrain commented on #360
@geekyvedic hope you will understand it:

## <code>  if \_\_name\_\_ == '\_\_main\_\_' </code>

* It actually tells the python interpreter to check whether the current python code is called by another file or not.
If it is called by another file then the code below this line will not be executed, else it will.

[2020-10-05 18:16] RadientBrain commented on #360
@Swatigupta-droid and @vJechsmayr, I have made the PR numbered #365 which resolves this issue.
please merge it and close this issue!

[2020-10-05 18:20] HarlockOfficial commented on #355
please assign this issue to me

[2020-10-05 18:24] prackode commented on #333
Please assign this issue to me.

[2020-10-05 18:38] Swarn10 opened #367 "0036 - Valid Sudoku"
## Description of the Problem
Determine if a 9 x 9 Sudoku board is valid. Only the filled cells need to be validated according to the following rules:

- Each row must contain the digits 1-9 without repetition.
- Each column must contain the digits 1-9 without repetition.
- Each of the nine 3 x 3 sub-boxes of the grid must contain the digits 1-9 without repetition.

Note:
- A Sudoku board (partial

[2020-10-05 18:39] Swarn10 commented on #367
@vJechsmayr Please assign this issue to me. Will be happy to contribute.

[2020-10-05 18:53] Vineet-Dhaimodker opened #368 "1480 - Running Sum of 1d Array"
## Description of the Problem
Given an array nums. We define a running sum of an array as runningSum[i] = sum(nums[0]…nums[i]).

Return the running sum of nums.

## Example 1:
[code]
## Example 2:
[code]
## Example 3:
[code]
## Code
[code]

## Link To The LeetCode Problem
[Running Sum of 1d Array](https://leetcode.com/problems/running-sum-of-1d-array/)

[2020-10-05 18:54] Vineet-Dhaimodker commented on #368
@vJechsmayr Please assign this issue to me. I am happy to contribute.

[2020-10-05 19:15] Swatigupta-droid commented on #360
@RadientBrain it means if the module runs in main program the variable name will be considered as main,
And if import module from some other module, it will set to name of the module it is being imported.
Modules are the python files

[2020-10-05 19:19] h5jam opened #369 "0561 - Array Partition I"
## Description of the Problem
First, given array is sorted. And the sum was obtained by increasing the index of the array by two. That is sum of min(ai, bi) at problem.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/array-partition-i/)

[2020-10-05 19:20] Vineet-Dhaimodker opened #370 "1431 - Kids With the Greatest Number of Candies"
## Description of the Problem
Given the array candies and the integer extraCandies, where candies[i] represents the number of candies that the ith kid has.

For each kid check if there is a way to distribute extraCandies among the kids such that he or she can have the greatest number of candies among them. Notice that multiple kids can have the greatest number of candies.

## Example 1:
[code]
##

[2020-10-05 19:20] Vineet-Dhaimodker commented on #370
@vJechsmayr Please assign this issue to me. I am happy to contribute.

[2020-10-05 19:22] ghost commented on #36
Hi! Is this issue still open? If so I would like to work on this. @vJechsmayr

[2020-10-05 19:22] stevehan00 commented on #369
Please assign this issue to me

[2020-10-05 19:25] AldoTu commented on #368
Hi @Vineet-Dhaimodker, @vJechsmayr , uploaded PR #371 as a solution. 👍🏻

[2020-10-05 19:27] DhawalKhapre commented on #342
I would like to solve this problem

[2020-10-05 19:38] Dave-Browne commented on #367
@vJechsmayr Happy to give a python solution to. Big fan of Sudoku.

[2020-10-05 19:47] cscipher commented on #364
please can u assign this to me ? @vJechsmayr

[2020-10-05 20:08] Vineet-Dhaimodker commented on #368
@AldoTu I think you need to be assigned to an issue before uploading a PR. Clearly mentioned in the Contributing guidelines.

[2020-10-05 20:17] AldoTu commented on #368
@Vineet-Dhaimodker you are right... I missed that file :( just saw it.

[2020-10-05 20:47] AkshatBhat opened #373 "0268 - Missing Number"
## Description of the Problem
Given an array nums containing n distinct numbers in the range [0, n], return the only number in the range that is missing from the array.

**Follow up:** Could you implement a solution using only O(1) extra space complexity and O(n) runtime complexity?

## Example 1
[code]

## Example 2
[code]

## Example 3
[code]

## Example 4
[code]

## Constraints
[code]

## Code

[2020-10-05 20:47] AkshatBhat commented on #373
@vJechsmayr Please assign this issue to me. I am happy to contribute.

[2020-10-05 20:50] AryashDubey commented on #373
Please Assign It To Me .I will make it A.S.A.P

[2020-10-05 21:02] AryashDubey commented on #368
I can do it Please Assign me!

[2020-10-05 21:13] riwim opened #374 "0414 - Third Maximum Number"
## Description of the Problem
Given a **non-empty** array of integers, return the **third** maximum number in this array. If it does not exist, return the maximum number. The time complexity must be in O(n).

### Example 1

[code]

### Example 2

[code]

### Example 3

[code]

## Code

[code]

## Link To The LeetCode Problem
[LeetCode 414](https://leetcode.com/problems/third-maximum-number/)

[2020-10-05 21:15] rsconsuegra opened #375 "0231 - LeetCode Problem Title"
## Description of the Problem
Given an integer n, write a function to determine if it is a power of two.

## Code
[code]

## Link To The LeetCode Problem
https://leetcode.com/problems/power-of-two/

[2020-10-05 21:19] AryashDubey commented on #353
Please Assign It To me!

[2020-10-05 21:22] AryashDubey commented on #344
Please Assign It To me!

[2020-10-05 21:24] AryashDubey commented on #374
Please Assign It To me!

[2020-10-05 21:56] A7med650 commented on #374
Please Assign It To me!

[2020-10-05 22:36] ExpectoPatrom opened #381 "0013 - Roman to Integer"
## Description of the Problem
Roman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is wr

[2020-10-05 22:41] deathname commented on #381
May I work on this issue ?

[2020-10-05 22:46] #381 closed

[2020-10-05 22:48] ExpectoPatrom opened #382 "0104 - Maximum Depth of Binary Tree"
## Description of the Problem
Given a binary tree, find its maximum depth.

The maximum depth is the number of nodes along the longest path from the root node down to the farthest leaf node.

Note: A leaf is a node with no children.

Example:

Given binary tree [3,9,20,null,null,15,7],
return its depth = 3.
## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/maximum-depth-of-b

[2020-10-05 22:49] nivalderramas commented on #382
Can I work on this one?

[2020-10-05 22:50] deathname commented on #381
Is this issue already merged ?

[2020-10-06 00:01] TobiSan5 opened #383 "0123 - Best Time to Buy and Sell Stock III"
## Description of the Problem
Say you have an array for which the ith element is the price of a given stock on day i.

Design an algorithm to find the maximum profit. You may complete at most two transactions.

Note: You may not engage in multiple transactions at the same time (i.e., you must sell the stock before you buy again).

## Code
[code]

## Link To The LeetCode Problem
[LeetCode 123](http

[2020-10-06 00:29] OfiliPatrick opened #384 "0079 - Word Search"
## Description of the Problem
Given a 2D board and a word, find if the word exists in the grid.

The word can be constructed from letters of sequentially adjacent cell, where "adjacent" cells are those horizontally or vertically neighboring. The same letter cell may not be used more than once.

Example:

board =
[
  ['A','B','C','E'],
  ['S','F','C','S'],
  ['A','D','E','E']
]

Given word = "ABCCE

[2020-10-06 00:30] OfiliPatrick commented on #384
I would like to work on this issue.

[2020-10-06 00:35] Deepak2417 commented on #383
Please assign it to me.

[2020-10-06 00:38] chw9 opened #385 "1582 - Special Positions in a Binary Matrix"
## Description of the Problem

Given a rows x cols matrix mat, where mat[i][j] is either 0 or 1, return the number of special positions in mat.

A position (i,j) is called special if mat[i][j] == 1 and all other elements in row i and column j are 0 (rows and columns are 0-indexed).

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/special-positions-in-a-bina

[2020-10-06 00:38] chw9 commented on #385
Please assign me to this issue

[2020-10-06 00:44] olunusib commented on #385
would love to tackle this

[2020-10-06 01:25] RadientBrain commented on #360
@Swatigupta-droid  I think that what I explained was just the same as your explanation but in simpler words. But yes if @geekyvedic  was searching for a more precise definition then your definition is much more precise than mine.

(Hoping to get PR no. #365 to be merged soon 😃 )

[2020-10-06 02:09] Suyyashaa commented on #382
Can I work on this?

[2020-10-06 02:11] Suyyashaa commented on #385
Can I work on it?

[2020-10-06 02:31] Sayantan-world commented on #383
Hey, I want to write a code in C++ can you assign it to me?

[2020-10-06 03:13] abhishekpatel946 commented on #382
Hey @ExpectoPatrom,

Can I work on this problem?

[2020-10-06 03:47] PravunathSingh commented on #383
Hey, @TobiSan5 can you please assign this issue to me. This problem seems interesting and I would like to work on it.

[2020-10-06 03:51] preety311 commented on #373
Please assign this to me

[2020-10-06 03:53] PravunathSingh commented on #382
Hey, @ExpectoPatrom can I work on this issue?

[2020-10-06 04:05] sadn1ck commented on #32
Hey, so I had a look at https://github.com/joshcai/leetcode-sync, so what I understood was that I have to send a request with the code to /problems/problem-name/submit, with the question id, language and code. (along with the CSRF Token and the leetcode session token)

![image](https://user-images.githubusercontent.com/16396161/95157381-772fdd80-07b6-11eb-8e37-798a3ad84e74.png)

The previous endpo

[2020-10-06 04:14] sanujana045 commented on #385
i want to work on this

[2020-10-06 04:17] sanujana045 commented on #356
I want to do this

[2020-10-06 04:26] yogeshsingh01 commented on #32
Great 👍

On Tue, 6 Oct, 2020, 9:35 AM Anik Das, <notifications@github.com> wrote:

[2020-10-06 04:31] IamAbhiKaushik commented on #383
Hey @TobiSan5, Can I do this task?

[2020-10-06 04:41] ghost commented on #373
Hey! I would like to work on this problem. Please assign it to me.

[2020-10-06 05:08] khushi2031 commented on #373
def printRepeating(arr, size):

    print("The repeating elements are: ")

    for i in range(0, size):

        if arr[abs(arr[i])] >= 0:
            arr[abs(arr[i])] = -arr[abs(arr[i])]
        else:
            print (abs(arr[i]), end = " ")

# Driver code
arr = [1, 2, 3, 1, 3, 6, 6]
arr_size = len(arr)

printRepeating(arr, arr_size)
  # @

[2020-10-06 05:14] gaurangisinha commented on #382
Hello, @ExpectoPatrom Can I work on this? Please assign it to me, I will be grateful as this is my first time in open source.

[2020-10-06 05:24] Kishore-abhimanyu commented on #367
I like to work on this.Could you please assign me on this?

[2020-10-06 05:50] TechTarun opened #394 "39. Combination Sum"
## Description of the Problem
Given an array of distinct integers candidates and a target integer target, return a list of all unique combinations of candidates where the chosen numbers sum to target. You may return the combinations in any order.

The same number may be chosen from candidates an unlimited number of times. Two combinations are unique if the frequency of at least one of the chosen n

[2020-10-06 05:50] TechTarun commented on #394
I want to add my accepted solution for this issue. Not only for this, I will also add my accepted solutions for combination sum 2, 3, 4 and 5. Please assign it to me.

[2020-10-06 05:51] Gauravsaha-97 commented on #394
I would like to work on this issue, if possible.

[2020-10-06 05:55] vJechsmayr commented on #32
@sadn1ck Wow thats great, Maybe we can find some answers in the github or github-actions API/FAQ how to access to the PR-File?

[2020-10-06 06:06] sadn1ck commented on #32
@vJechsmayr Yeah I am currently scouring the docs, if I find something I will let you know. If you find something, do let me know as well.

Also, do we have a gitter or a communication app of some sort? It would simplify collaboration, is all. 😅

[2020-10-06 06:18] yogeshsingh01 commented on #32
He is git api to find list of files

"GET /repos/:owner/:repo/pulls/:pull_number/files"

Check following link for further reference
https://developer.github.com/v3/pulls/#list-pull-requests-files

Sorry, currently busy in work. Else would have done it.

I hope these link will help.

On Tue, 6 Oct, 2020, 11:36 AM Anik Das, <notifications@github.com> wrote:

[2020-10-06 06:19] sadn1ck commented on #32
Great! I'll start on it as soon as I can.

[2020-10-06 06:25] vJechsmayr commented on #32
I tested the [LeetCode Sync Action](https://github.com/joshcai/leetcode-sync) on my other [Repo](https://github.com/vJechsmayr/LeetCodeProblems_Repository) - to see how it works: It syncs the submitted Problems FROM LeetCode TO Github - not the other way 😢
@sadn1ck Have you found something the other way? From Github to LeetCode?

I'm back in 9h - go to work now 😸

[2020-10-06 06:32] vJechsmayr commented on #32
I'm almost new to gitter [Gitter](https://gitter.im/vJechsmayrPythonAlgorithms) (just used it 2-3 times) to I hope that community I created will help? I'm open for suggestions 😸

[2020-10-06 06:33] sadn1ck commented on #32
Yeah I just looked at the repo for the how the requests are sent (the params and endpoints).

Here, I will write a script which uses that, and which runs in the workflow, and sends some API calls to leetcode.

Hoping the script method will work haha.

[2020-10-06 07:07] vJechsmayr commented on #127
@shanirub Please try make it faster to the Solution passes the Test and we avoid the "Time Limit Exceeded"

[2020-10-06 08:01] #289 closed

[2020-10-06 08:04] #294 closed

[2020-10-06 08:06] vJechsmayr commented on #318
PR does not follow Contribution Guidelines - closed

Please make sure there is not already an Issue Open/Problem Solved (Code in Folder) with the ProblemNr you want to solve!

[2020-10-06 08:06] #318 closed

[2020-10-06 08:08] tejasbirsingh opened #395 "0213 - House Robber II"
## Description of the Problem
You are a professional robber planning to rob houses along a street. Each house has a certain amount of money stashed. All houses at this place are arranged in a circle. That means the first house is the neighbor of the last one. Meanwhile, adjacent houses have a security system connected, and it will automatically contact the police if two adjacent houses were broken

[2020-10-06 08:08] tejasbirsingh commented on #395
I would like to contribute on this Issue that I created. Thanks!!

[2020-10-06 08:34] #338 closed

[2020-10-06 08:34] #346 closed

[2020-10-06 08:48] #320 closed

[2020-10-06 08:48] #330 closed

[2020-10-06 09:13] #344 closed

[2020-10-06 09:15] #347 closed

[2020-10-06 09:19] vJechsmayr commented on #356
@DevEliran Do you work on that Issue on your own?

[2020-10-06 09:23] vJechsmayr commented on #360
Issue Closed - @Swatigupta-droid Please use the Issue-Template I Created when you create a new Issue!

[2020-10-06 09:23] #360 closed

[2020-10-06 09:28] vJechsmayr commented on #364
@Mrsterius @24Cipher The one who created a Issue will be prefered for assignment!

[2020-10-06 09:29] vJechsmayr commented on #367
@Dave-Browne @Kishore-abhimanyu The Creator of the Issue will be prefered to assignment

[2020-10-06 09:31] vJechsmayr commented on #368
@AldoTu @AryashDubey Please consider Contribution Guidelines - The one who Created an Issue will prefered be assigned to the issue

[2020-10-06 09:35] #374 closed

[2020-10-06 09:39] vJechsmayr commented on #383
@TobiSan5 Do you work on that issue on your own?

@Sayantan-world NO, this Repo is **Python** only!

[2020-10-06 09:41] #384 closed

[2020-10-06 09:43] vJechsmayr commented on #394
Closed - Problem Already Solved - Please Read Contribution Guidelines before creating an Issue & Check if your Problem is already solved in the code Folder

[2020-10-06 09:43] #394 closed

[2020-10-06 09:52] #375 closed

[2020-10-06 09:54] #340 closed

[2020-10-06 09:56] #342 closed

[2020-10-06 10:03] #333 closed

[2020-10-06 10:07] #334 closed

[2020-10-06 10:09] #325 closed

[2020-10-06 10:11] vJechsmayr commented on #6
@adamcakg Are you still working on this or can I unassign you?

[2020-10-06 10:11] vJechsmayr commented on #9
@VaibhaveS Do you still working on this, or can I unassign you?

[2020-10-06 10:12] vJechsmayr commented on #64
@devanshi-katyal Are you still working on this, or can I unassign you?

[2020-10-06 10:31] VaibhaveS commented on #9
@vJechsmayr Yes, I will work on this when i get free time.

[2020-10-06 14:38] shubhamc1200 opened #405 "0100 - Same Tree"
## Description of the Problem

Given two binary trees, write a function to check if they are the same or not.

Two binary trees are considered the same if they are structurally identical and the nodes have the same value.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/same-tree/)

[2020-10-06 14:38] shubhamc1200 commented on #405
Please assign this to me, also there are no issues related to this problem.

[2020-10-06 14:49] AshishVarshneyy opened #406 "1108## Defanging an IP Address"
## Description of the Problem
Given a valid (IPv4) IP address, return a defanged version of that IP address.

A defanged IP address replaces every period "." with "[.]".

Example 1:

Input: address = "1.1.1.1"
Output: "1[.]1[.]1[.]1"

Example 2:

Input: address = "255.100.50.0"
Output: "255[.]100[.]50[.]0"

Constraints:
The given address is a valid IPv4 address.

## Code
[code]

## Link To The Lee

[2020-10-06 14:49] AshishVarshneyy commented on #406
I would like to contribute on this Issue that I created. Thanks!!

[2020-10-06 15:00] AnweshaSen commented on #406
I want to work on it :)

[2020-10-06 15:43] OfiliPatrick opened #409 "0102 - Binary Tree Level Order Traversal"
## Description of the Problem
Given a binary tree, return the level order traversal of its nodes' values. (ie, from left to right, level by level).

For example:
Given binary tree [3,9,20,null,null,15,7],
    3
   / \
  9  20
    /  \
   15   7
return its level order traversal as:
[
  [3],
  [9,20],
  [15,7]
]

## Code
[code]

## Link To The LeetCode Problem
[Leetcode](https://leetcode.com/problem

[2020-10-06 15:44] Halix267 commented on #409
Hey @OfiliPatrick . Can i work on this issue

[2020-10-06 15:45] OfiliPatrick commented on #409
I would like to also contribute through this problem.

[2020-10-06 15:48] Halix267 commented on #409
Oh sorry . But I saw help wanted tag . So i had ask for the issue

[2020-10-06 15:50] OfiliPatrick commented on #409
No worries, I was already working on this issue but you could create a new issue yourself and work on it. It's much better.

[2020-10-06 16:40] Kishore-abhimanyu opened #415 "4141 - Add Hill cipher encryption"

[2020-10-06 16:42] Kishore-abhimanyu commented on #415
I would like to work on this. Can you please assign me to this?

[2020-10-06 16:51] Vaibhhav7860 commented on #368
@Vineet-Dhaimodker Sir please assign this issue to me . I can easily contribute to it.

[2020-10-06 16:54] Vaibhhav7860 commented on #364
@anupamabauri Sir please assign this issue to me. I can easily contribute to it.

[2020-10-06 17:38] Vineet-Dhaimodker commented on #368
#400

[2020-10-06 17:51] Vineet-Dhaimodker commented on #369
@h5jam How did you link the PR that closes this issue?

[2020-10-06 18:01] stevehan00 commented on #369
If you enter the '#' key in your PR write, you'll see drop menu. Then, Enter your issue nubmer like this -> #368

[2020-10-06 18:06] Vineet-Dhaimodker commented on #369
Thanks a lot!

[2020-10-06 18:32] chw9 opened #419 "0367 - Valid Perfect Square"
## Description of the Problem
Given a positive integer num, write a function which returns True if num is a perfect square else False.

Follow up: Do not use any built-in library function such as sqrt.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/valid-perfect-square/)

[2020-10-06 18:32] chw9 commented on #419
please assign me to this issue

[2020-10-06 18:42] MaryWeeb opened #420 "973 - K Closest Points to Origin"

[2020-10-06 18:42] Martmists-GH commented on #420
I'd like to do this one myself.

[2020-10-06 18:48] HOD101s opened #421 "0112 - Path Sum"
## Description of the Problem
You may copy that from LeetCode
Given a binary tree and a sum, determine if the tree has a root-to-leaf path such that adding up all the values along the path equals the given sum.

## Note: A leaf is a node with no children.

## Example:
Given the below binary tree and sum = 22,
[code]
return true, as there exist a root-to-leaf path 5->4->11->2 which sum is 22.

## C

[2020-10-06 18:49] HOD101s commented on #421
Kindly assign this issue to me as there is no other issue for this problem

[2020-10-06 18:57] HOD101s opened #422 "1460 - Make Two Arrays Equal by Reversing Sub-arrays"
## Description of the Problem
Given two integer arrays of equal length target and arr.

In one step, you can select any non-empty sub-array of arr and reverse it. You are allowed to make any number of steps.

Return True if you can make arr equal to target, or False otherwise.

## Example 1:
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/make-two-a

[2020-10-06 18:58] HOD101s commented on #422
Kindly Assign issue to me, as there is no issue against this problem

[2020-10-06 19:08] HOD101s opened #424 "1441 - Build an Array With Stack Operations"
## Description of the Problem
Given an array target and an integer n. In each iteration, you will read a number from  list = {1,2,3..., n}.

Build the target array using the following operations:

Push: Read a new element from the beginning list, and push it in the array.
Pop: delete the last element of the array.
If the target array is already built, stop reading more elements.
You are guaranteed

[2020-10-06 19:09] HOD101s commented on #424
Kindly assign this issue to me as the problem has no issue against it
I would be glad to contribute a solution @vJechsmayr

[2020-10-06 19:14] HOD101s commented on #421
I would be glad to contribute a solution @vJechsmayr

[2020-10-06 19:15] HOD101s commented on #422
I would be glad to contribute a solution @vJechsmayr

[2020-10-06 19:37] Dave-Browne opened #425 "0043 - Multiply Strings"
## Description of the Problem
Given two non-negative integers num1 and num2 represented as strings, return the product of num1 and num2, also represented as a string.

## Example
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/multiply-strings/)

[2020-10-06 19:39] Dave-Browne opened #426 "0080 - Remove Duplicates from Sorted Array II"
## Description of the Problem
Given a sorted array nums, remove the duplicates in-place such that duplicates appeared at most twice and return the new length.
Do not allocate extra space for another array, you must do this by modifying the input array in-place with O(1) extra memory.

## Example
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/remove

[2020-10-06 19:40] Dave-Browne commented on #426
@vJechsmayr Please assign this issue to me. I'll be happy to provide the solution.

[2020-10-06 19:41] dennis-pg commented on #425
Can look into this

[2020-10-06 19:42] Dave-Browne commented on #425
@vJechsmayr Please assign this to me, i'll be happy to provide the solution.

[2020-10-06 20:08] TobiSan5 commented on #383
Yes, I've got a solution.

[2020-10-06 20:54] niftyNitin opened #428 "0458 - Poor Pigs"
## Description of the Problem
There are 1000 buckets, one and only one of them is poisonous, while the rest are filled with water. They all look identical. If a pig drinks the poison it will die within 15 minutes. What is the minimum amount of pigs you need to figure out which bucket is poisonous within one hour?

Answer this question, and write an algorithm for the general case.

General case:

I

[2020-10-06 20:55] niftyNitin commented on #428
Can you assign this problem to me? I would like to work on the solution with a proper documentation

[2020-10-06 21:46] va3ndf commented on #64
I have a solution ready to go.

[2020-10-06 22:42] riwim opened #430 "0500 - Keyboard Row"
## Description of the Problem

Given a List of words, return the words that can be typed using letters of **alphabet** on only one row's of American keyboard like the image below.

![American keyboard](https://assets.leetcode.com/uploads/2018/10/12/keyboard.png)

### Example

[code]

### Note

1. You may use one character in the keyboard more than once.
1. You may assume the input string will only

[2020-10-06 23:26] adityaarakeri opened #432 "14## - longest-common-prefix"
## Description of the Problem
#### Longest Common Prefix
Write a function to find the longest common prefix string amongst an array of strings.
If there is no common prefix, return an empty string "".
Example 1:
Input: ["flower","flow","flight"]
Output: "fl"

Example 2:
Input: ["dog","racecar","car"]
Output: ""
Explanation: There is no common prefix among the input strings.

## Code
LeetCode/0014_

[2020-10-06 23:27] adityaarakeri commented on #432
please assign this to me, thanks

[2020-10-07 01:21] reyjoshuamacarat commented on #426
@vJechsmayr can I work on this issue?

[2020-10-07 01:26] reyjoshuamacarat commented on #419
i can work on this issue @chw9 please assign me

[2020-10-07 02:43] joy2306 commented on #425
@Dave-Browne if this issue is still open i want to try it , can u assign it to me please?

[2020-10-07 02:46] joy2306 commented on #422
@vJechsmayr  kindly assign this to me i want to give it a try

[2020-10-07 03:07] GorettiRivera commented on #425
@Dave-Browne
Could you please assign me  this issue?

[2020-10-07 03:23] anirudhvsp opened #435 "0279 - Perfect Squares"
## Description of the Problem
Given a positive integer n, find the least number of perfect square numbers (for example, 1, 4, 9, 16, ...) which sum to n.

Example 1:

Input: n = 12
Output: 3
Explanation: 12 = 4 + 4 + 4.
Example 2:

Input: n = 13
Output: 2
Explanation: 13 = 4 + 9.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/perfect-squares/description/)

[2020-10-07 03:24] anirudhvsp commented on #435
Please assign this problem to me

[2020-10-07 04:21] sadn1ck commented on #32
https://github.com/sadn1ck/PythonAlgorithms/commit/8ff18feb561183a69a7ac78a378d22970c86b76f

I have made a commit, with the base of the script setup, I am able to craft the request, but on POSTing, I get a 500 server error. :|

(for testing locally, just set the sample.env values)

[2020-10-07 04:48] HOD101s commented on #422
@joy2306 kindly read Contributing guidelines.

[2020-10-07 05:03] vaderjunior commented on #430
Hey,
I would like to do this.
Can you assign this to me?

[2020-10-07 05:10] sajeevan16 commented on #435
assign me

[2020-10-07 05:34] Rollerss opened #437 "1023 - Camelcase Matching"
## Description of the Problem
A query word matches a given pattern if we can insert lowercase letters to the pattern word so that it equals the query. (We may insert each character at any position, and may insert 0 characters.)

Given a list of queries, and a pattern, return an answer list of booleans, where answer[i] is true if and only if queries[i] matches the pattern.

## Example 1:
[code]

##

[2020-10-07 05:35] Rollerss commented on #437
Please assign this issue to me. Thank you.

[2020-10-07 06:13] Dave-Browne opened #440 "0082 - Remove Duplicates from Sorted List II"
## Description of the Problem
Given a sorted linked list, delete all nodes that have duplicate numbers, leaving only distinct numbers from the original list.
Return the linked list sorted as well.

## Example
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/remove-duplicates-from-sorted-list-ii/)

[2020-10-07 06:13] Dave-Browne commented on #440
Please assign the issue to me. Thanks

[2020-10-07 06:16] Dave-Browne commented on #425
@GorettiRivera @dennis-pg Check the Readme and Contribution files. You need to find a problem on Leetcode that hasn't already been solved here and create an issue. The issue will be assigned to the person who created it.

[2020-10-07 06:27] adityaarakeri opened #441 "0162## - Add solution to Find Peak Element problem"
## Description of the Problem
#### Find a Peak Element
A peak element is an element that is greater than its neighbors.
Given an input array nums, where nums[i] ≠ nums[i+1], find a peak element and return its index.
The array may contain multiple peaks, in that case return the index to any one of the peaks is fine.
You may imagine that nums[-1] = nums[n] = -∞.
Example 1:
[code]
Example 2:
[code]
F

[2020-10-07 06:38] adityaarakeri commented on #441
Please assign this to me, thanks

[2020-10-07 07:10] GorettiRivera opened #443 "1249 - Minimum Remove to Make Valid Parentheses"
## Description of the Problem
Given a string s of '(' , ')' and lowercase English characters.

Your task is to remove the minimum number of parentheses ( '(' or ')', in any positions ) so that the resulting parentheses string is valid and return any valid string.

Formally, a parentheses string is valid if and only if:

It is the empty string, contains only lowercase characters, or
It can be writt

[2020-10-07 07:11] GorettiRivera opened #444 "1249 - Minimum Remove to Make Valid Parentheses"
## Description of the Problem
Given a string s of '(' , ')' and lowercase English characters.

Your task is to remove the minimum number of parentheses ( '(' or ')', in any positions ) so that the resulting parentheses string is valid and return any valid string.

Formally, a parentheses string is valid if and only if:

It is the empty string, contains only lowercase characters, or
It can be writt

[2020-10-07 07:13] #443 closed

[2020-10-07 07:15] GorettiRivera commented on #444
@vJechsmayr  Could you please assign this to me? Thanks!

[2020-10-07 07:39] kanchitank commented on #435
[code]

[2020-10-07 07:40] kanchitank commented on #435
@anirudhvsp Will this work?

[2020-10-07 08:05] kanchitank commented on #435
#445

[2020-10-07 08:12] anupamabauri commented on #364
#402

[2020-10-07 08:41] anirudhvsp commented on #435
@kanchitank I already have the solution, I was asking for the repo maintainer to assign this particular problem to me so that I can a make pull request

[2020-10-07 08:53] spoorgholi74 opened #448 "0929 - Unique Email Addresses"
## Description of the Problem
Every email consists of a local name and a domain name, separated by the @ sign.

For example, in alice@leetcode.com, alice is the local name, and leetcode.com is the domain name.

Besides lowercase letters, these emails may contain '.'s or '+'s.

If you add periods ('.') between some characters in the local name part of an email address, mail sent there will be forwa

[2020-10-07 08:53] spoorgholi74 commented on #448
Please assign this to me.

[2020-10-07 09:09] kanchitank commented on #435
@anirudhvsp Oh so I cannot contribute to this?

[2020-10-07 10:14] sourabmaity commented on #448
i am also interested

[2020-10-07 10:36] vmgmreddy opened #449 "0067 - Add Binary"
## Description of the Problem
Given two binary strings, return their sum (also a binary string).

The input strings are both non-empty and contains only characters 1 or 0.

Example 1:
[code]
Example 2:
[code]

Constraints:

Each string consists only of '0' or '1' characters.
1 <= a.length, b.length <= 10^4
Each string is either "0" or doesn't contain any leading zero.

## Code
[code]

## Link To T

[2020-10-07 10:42] vmgmreddy commented on #449
please assign this problem to me!

[2020-10-07 10:46] mkiglics commented on #449
I would like to work on this one

[2020-10-07 10:56] mkiglics opened #452 "0200 - Number of Islands"
## Description of the Problem
Given a 2d grid map of '1's (land) and '0's (water), count the number of islands. An island is surrounded by water and is formed by connecting adjacent lands horizontally or vertically. You may assume all four edges of the grid are all surrounded by water.

__Example 1:__

[code]
__Example 2:__

[code]
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https:/

[2020-10-07 10:56] mkiglics commented on #452
I would like to work on this one

[2020-10-07 10:58] yogeshsingh01 commented on #32
I am unable to understand, what is error. Could you provide some more information. @sadn1ck

[2020-10-07 11:08] sadn1ck commented on #32
![image](https://user-images.githubusercontent.com/16396161/95323347-a714d900-08bb-11eb-80a4-b6f17de194b6.png)

So basically I made the request how it happens when you click submit in leetcode, but I get an internal server error when I actually make the request. Sometimes I get 429, and sometimes 500 status codes. @yogeshsingh01

You can join the gitter above, easier to talk 😃 [Gitter Link](https:

[2020-10-07 11:08] anirudhvsp commented on #435
You can, but you'll need to make a separate issue stating the problem you wish to solve and if the maintainer assigns said problem to you then you can make a pull request and your solution would be merged with the master branch.

[2020-10-07 11:12] Krishna-Sivakumar commented on #452
I'd like to try this one

[2020-10-07 11:16] anirudhvsp commented on #435
Apologies, It was negligence on my part.
I did not realize I had to link a pull request to the issue, I was waiting for the problem to be assigned to me.
If you have already made a pull request then you can contribute to the repo.

[2020-10-07 11:23] HOD101s commented on #424
Kindly assign issue to me so i can make PR

[2020-10-07 11:23] HOD101s commented on #421
Kindly assign issue to me so i can make PR

[2020-10-07 11:36] Rupa-421 commented on #448
I'm also interested.Can you add me too?

[2020-10-07 13:19] sark-2110 opened #454 "38 - Count And Say"
## Description of the Problem
The count-and-say sequence is the sequence of integers with the first five terms as following:

1.     1
2.     11
3.     21
4.     1211
5.     111221
1 is read off as "one 1" or 11.
11 is read off as "two 1s" or 21.
21 is read off as "one 2, then one 1" or 1211.

Given an integer n where 1 ≤ n ≤ 30, generate the nth term of the count-and-say sequence. You can do so r

[2020-10-07 13:20] khandelwalsarvesh commented on #454
please assign this to me.

[2020-10-07 13:55] #364 closed

[2020-10-07 13:57] vJechsmayr commented on #383
Great! Make sure to link this issue when creating a PR.

[2020-10-07 13:59] #409 closed

[2020-10-07 14:00] aishuo07 commented on #440
please assign this task to me

[2020-10-07 14:01] vJechsmayr commented on #415
closed - please use Issue-Template!

[2020-10-07 14:01] #415 closed

[2020-10-07 14:03] vJechsmayr commented on #421
Hi @HOD101s !

Please consider that I have a fulltimejob and cannot be online 24/7 - For the time between 10pm-5pm on workday I have to sleep&work - as soon as I get some free time I work through the Issues/PRs. 😸

[2020-10-07 14:07] #425 closed

[2020-10-07 14:09] #430 closed

[2020-10-07 14:11] vJechsmayr commented on #432
Not assigned to the linked issue - please consider Contributing Guidelines

[2020-10-07 14:11] #432 closed

[2020-10-07 14:12] illusionrs commented on #435
we have to submit solution with problem by ourself choice in python?

[2020-10-07 14:13] vJechsmayr commented on #435
@anirudhvsp Go for it! The Creator of an issue gets prefered assigned to it.

[2020-10-07 14:18] illusionrs commented on #435
please assign to mer

[2020-10-07 14:19] illusionrs commented on #435
please assign me a problem

[2020-10-07 14:21] vJechsmayr commented on #449
Issue with Problem 67 is already open - please find another Problem you want to solve 😸

[2020-10-07 14:21] #449 closed

[2020-10-07 14:22] vJechsmayr commented on #454
Problem already solved! Please ready Contribution Guidelines before creating an Issue/PR

[2020-10-07 14:22] #454 closed

[2020-10-07 14:23] vJechsmayr commented on #435
@illusionrs Sorry - the creator of the Issue gets assigned prefered

[2020-10-07 14:53] HOD101s commented on #421
Hi @vJechsmayr apologies if I came off as slightly over-persuasive. Just eager to contribute. We all really appreciate and are grateful for the efforts you're taking on these repos. Thank you!

[2020-10-07 14:55] prackode commented on #64
Please assign it to me. I have a solution.

[2020-10-07 14:58] prackode commented on #9
Please assign it to me. I have a ready to go solution..

[2020-10-07 15:16] Zaman3027 opened #464 "0014 - Longest Common Prefix"
## Description of the Problem
Write a function to find the longest common prefix string amongst an array of strings.

If there is no common prefix, return an empty string "".

Example 1:

Input: strs = ["flower","flow","flight"]
Output: "fl"

Example 2:

Input: strs = ["dog","racecar","car"]
Output: ""
Explanation: There is no common prefix among the input strings.

## Code
[code]

## Link To The

[2020-10-07 15:17] Double77x commented on #464
Can you assign this to me please, thank you.

[2020-10-07 15:18] Zaman3027 commented on #464
I want to get assigned on this

[2020-10-07 15:19] sourabmaity commented on #464
i want to work in this issue

[2020-10-07 15:25] sumasreeeduru commented on #435
Can you assign me anything

[2020-10-07 16:15] Sounakde commented on #356
@DevEliran Can you assign me to this issue?

[2020-10-07 16:24] Eliran-Turgeman commented on #356
@vJechsmayr Yes, I would like to

[2020-10-07 16:34] Aditya489 commented on #441
can you please assign me this task

[2020-10-07 16:35] Aditya489 commented on #437
please assign me this task

[2020-10-07 16:51] Aditya489 commented on #440
please assign the issue to me i would like to work on this! thank you

[2020-10-07 17:29] GorettiRivera commented on #444
closes #444

[2020-10-07 17:29] #444 closed

[2020-10-07 19:16] bhartish commented on #426
@vJechsmayr please assign this issue to me.

[2020-10-07 19:17] Shivansh-Malhotra commented on #426
@vJechsmayr please assign this issue to me.

[2020-10-07 19:18] bhartish commented on #9
@vJechsmayr please assign this problem to me. I have a solution.

[2020-10-07 19:21] bhartish commented on #356
@DevEliran  please assign this problem to me.

[2020-10-07 19:25] Shivansh-Malhotra commented on #368
@vJechsmayr please it to me.

[2020-10-07 19:27] Shivansh-Malhotra commented on #356
@DevEliran i think i can solve it, please assign this to me.

[2020-10-07 22:20] tothmiklos99 opened #474 "0343 - Integer Break"
## Description of the Problem
Given a positive integer n, break it into the sum of at least two positive integers and maximize the product of those integers. Return the maximum product you can get.

**Example 1:**
[code]
**Example 2:**
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/integer-break/)

[2020-10-07 22:21] tothmiklos99 commented on #474
I'd like to work on this.

[2020-10-07 23:38] MaferMazu opened #476 "0006 - ZigZag Conversion"
## Description of the Problem
The string `"PAYPALISHIRING"` is written in a zigzag pattern on a given number of rows like this: (you may want to display this pattern in a fixed font for better legibility)
[code]
And then read line by line: `"PAHNAPLSIIGYIR"`

Write the code that will take a string and make this conversion given a number of rows:

`string convert(string s, int numRows);`

Example 1

[2020-10-07 23:38] MaferMazu commented on #476
I'd like to work on this.

[2020-10-08 01:13] ghost commented on #373
Hi,Can I Contribute on this?

[2020-10-08 04:40] Achyut-sudo commented on #476
I would also like to work on this

[2020-10-08 05:21] sark-2110 opened #480 "0100 - LeetCode Problem Title"
## Description of the Problem
Given two binary trees, write a function to check if they are the same or not.

Two binary trees are considered the same if they are structurally identical and the nodes have the same value.

Example 1:
[code]
Example 2:
[code]
Example 3:
[code]
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/same-tree/)

[2020-10-08 05:21] khandelwalsarvesh commented on #480
Can you assign me this?

[2020-10-08 05:39] tegamax commented on #9
please assign this to me, I have already committed the solution . 14, Longest Common Prefix #477

[2020-10-08 06:28] Achyut-sudo commented on #476
can I use CamelCase ?
(i.e instead of "string convert"  can I use "StringConvert")

[2020-10-08 07:13] ghost opened #482 "0985 - Sum of Even Numbers After Queries"
## Description of the Problem

We have an array A of integers, and an array queries of queries.

For the i-th query val = queries[i][0], index = queries[i][1], we add val to A[index].  Then, the answer to the i-th query is the sum of the even values of A.

(Here, the given index = queries[i][1] is a 0-based index, and each query permanently modifies the array A.)

Return the answer to all queries.

[2020-10-08 07:28] tzvog commented on #482
can you assign me this?

[2020-10-08 08:17] Aditya489 commented on #428
can you assign me this task? i would like to work on this

[2020-10-08 08:21] tzvog opened #484 "0169 - Majority Element"
## Description of the Problem
Given an array of size n, find the majority element. The majority element is the element that appears more than ⌊ n/2 ⌋ times.

You may assume that the array is non-empty and the majority element always exist in the array.

Example 1:

Input: [3,2,3]
Output: 3
Example 2:

Input: [2,2,1,1,1,2,2]
Output: 2

## Code
[code]

## Link To The LeetCode Problem
https://leetcod

[2020-10-08 08:22] tzvog commented on #484
can you please assign me this?

[2020-10-08 10:01] wibbn commented on #476
I'd also like to work with this problem

[2020-10-08 10:13] HOD101s commented on #6
@adamcakg kindly update as I would like to work on this problem

[2020-10-08 10:23] soum-sr opened #487 "1559 - Detect Cycles in 2D Grid"
## Description of the Problem

Given a 2D array of characters grid of size m x n, you need to find if there exists any cycle consisting of the same value in grid.

A cycle is a path of length 4 or more in the grid that starts and ends at the same cell. From a given cell, you can move to one of the cells adjacent to it - in one of the four directions (up, down, left, or right), if it has the same v

[2020-10-08 10:23] soum-sr commented on #487
I would like to be assigned to this issue. Thank you

[2020-10-08 10:26] wibbn commented on #476
#486

[2020-10-08 11:29] SRINIDHI-G commented on #435
could u assign this problem

[2020-10-08 11:57] sanujana045 commented on #482
@striver005 Assign me to this .. :)

[2020-10-08 12:35] alvacat commented on #17
@vJechsmayr Can I work on this one?

[2020-10-08 14:20] anirudhvsp commented on #435
Awesome, I have made a pull request for this problem but for some reason I am unable to link it to this issue, I have mentioned this issue in one of the commits though.

[2020-10-08 14:56] kevin454475 opened #488 "0028 - Implement strStr()"
## Description of the Problem
Implement strStr().

Return the index of the first occurrence of needle in haystack, or -1 if needle is not part of haystack.

Clarification:

What should we return when needle is an empty string? This is a great question to ask during an interview.

For the purpose of this problem, we will return 0 when needle is an empty string. This is consistent to C's strstr() an

[2020-10-08 15:08] Gitesh1209 commented on #488
can i do

[2020-10-08 15:09] trip-mahak opened #490 "1221_Split_ a_String_in_Balanced_Strings.py"
## Description of the Problem
Balanced strings are those who have equal quantity of 'L' and 'R' characters.

Given a balanced string s split it in the maximum amount of balanced strings.

Return the maximum amount of splitted balanced strings.

Example 1:

Input: s = "RLRRLLRLRL"
Output: 4
Explanation: s can be split into "RL", "RRLL", "RL", "RL", each substring contains same number of 'L' and 'R'

[2020-10-08 15:11] rebelfire888 commented on #490
Please assign it to me.

[2020-10-08 17:16] Karnak123 opened #492 "1346 - Check If N and Its Double Exist"
## Description of the Problem
Given an array `arr` of integers, check if there exists two integers `N` and `M` such that `N` is the double of `M` ( i.e. `N = 2 * M`).

More formally check if there exists two indices i and j such that :

[code]

Example 1:
[code]
Example 2:
[code]
Example 3:
[code]

Constraints:
[code]
## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/

[2020-10-08 17:16] Karnak123 commented on #492
@vJechsmayr May I take up this issue?

[2020-10-08 17:39] Karnak123 opened #493 "1137 - N-th Tribonacci Number"
## Description of the Problem
The Tribonacci sequence Tn is defined as follows:

T0 = 0, T1 = 1, T2 = 1, and Tn+3 = Tn + Tn+1 + Tn+2 for n >= 0.

Given `n`, return the value of Tn.

Example 1:
[code]
Example 2:
[code]

Constraints:
```0 <= n <= 37```
The answer is guaranteed to fit within a 32-bit integer, ie. ```answer <= 2^31 - 1```.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](ht

[2020-10-08 17:39] Karnak123 commented on #493
@vJechsmayr may I take up this issue?

[2020-10-08 17:51] Sounakde commented on #490
@vJechsmayr Can I be assigned to this issue?

[2020-10-08 17:53] trip-mahak commented on #490
How can i assign you? I tried but didn't find that option

On Thu, 8 Oct, 2020, 11:21 PM Sounakde, <notifications@github.com> wrote:

[2020-10-08 18:20] mkiglics opened #495 "0165 - Compare Version Numbers"
## Description of the Problem
Given two version numbers, version1 and version2, compare them.

Version numbers consist of one or more revisions joined by a dot '.'. Each revision consists of digits and may contain leading zeros. Every revision contains at least one character. Revisions are 0-indexed from left to right, with the leftmost revision being revision 0, the next revision being revision 1

[2020-10-08 18:20] mkiglics commented on #495
I would like to be assigned to this. Thanks

[2020-10-08 18:23] princesinghtomar opened #496 "10. Regular Expression Matching"
## Description of the Problem
Given an input string (s) and a pattern (p), implement regular expression matching with support for '.' and '*' where:

    '.' Matches any single character.​​​​
    '*' Matches zero or more of the preceding element.

The matching should cover the entire input string (not partial).

Example 1:

Input: s = "aa", p = "a"
Output: false
Explanation: "a" does not match the

[2020-10-08 18:23] princesinghtomar commented on #496
I would like to do this.

[2020-10-08 19:07] princesinghtomar opened #497 "0022 - Generate Parentheses"
## Description of the Problem
Given n pairs of parentheses, write a function to generate all combinations of well-formed parentheses.

Example 1:

Input: n = 3
Output: ["((()))","(()())","(())()","()(())","()()()"]

Example 2:

Input: n = 1
Output: ["()"]

Constraints:

    1 <= n <= 8

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/generate-parentheses/)

[2020-10-08 19:07] princesinghtomar commented on #497
i will like to do this one myself

[2020-10-08 19:15] kevin454475 opened #499 "0046 - Permutations"
## Description of the Problem
Given a collection of distinct integers, return all possible permutations.

Example:

Input: [1,2,3]
Output:
[
  [1,2,3],
  [1,3,2],
  [2,1,3],
  [2,3,1],
  [3,1,2],
  [3,2,1]
]

## Code
[code]

## Link To The LeetCode Problem
https://leetcode.com/problems/permutations/

[2020-10-08 19:18] kevinbeirne1 commented on #499
Missed that file was already uploaded

[2020-10-08 20:02] matheusphalves opened #500 "0257 - Binary Tree Paths"
## Description of the Problem
Given a binary tree, return all root-to-leaf paths.

**Note**: A leaf is a node with no children.

**Example**:
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/binary-tree-paths)

[2020-10-08 23:11] TheOrangePuff opened #502 "1018 - Binary Prefix Divisible By 5"
Given an array A of 0s and 1s, consider N_i: the i-th subarray from A[0] to A[i] interpreted as a binary number (from most-significant-bit to least-significant-bit.)

Return a list of booleans answer, where answer[i] is true if and only if N_i is divisible by 5.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/binary-prefix-divisible-by-5/)

[2020-10-08 23:32] frank731 commented on #502
Can I be assigned this?

[2020-10-08 23:42] frank731 opened #503 "1053 - Previous Permutation With One Swap"
## Description of the Problem
Given an array A of positive integers (not necessarily distinct), return the lexicographically largest permutation that is smaller than A, that can be made with one swap (A swap exchanges the positions of two numbers A[i] and A[j]).  If it cannot be done, then return the same array.

## Code
class Solution:
    def prevPermOpt1(self, A: List[int]) -> List[int]:

## Li

[2020-10-08 23:42] frank731 commented on #503
Can I do this one myself?

[2020-10-08 23:59] daniel-vdp commented on #502
I've made the issue so I can solve it. I've just putting a pull request through now.

[2020-10-09 02:25] Gauravsaha-97 commented on #497
I would like to work on this issue, if possible.

[2020-10-09 06:59] tejasbirsingh opened #508 "0337 - House Robber III"
## Description of the Problem
The thief has found himself a new place for his thievery again. There is only one entrance to this area, called the "root." Besides the root, each house has one and only one parent house. After a tour, the smart thief realized that "all houses in this place forms a binary tree". It will automatically contact the police if two directly-linked houses were broken into on

[2020-10-09 07:48] TobiSan5 commented on #383
**Failed to pass, dropping this issue**
I met difficulties when trying to validate my solution with Leetcode. My solution was based on iteration, and it is not effective enough when the algorithm gets validated with a list of 1000 items. Due to time-restraints, I will not pursue a solution to this problem, and it should be assigned to someone else.

[2020-10-09 08:21] Sounakde commented on #490
You may ask @vJechsmayr for help on that.

[2020-10-09 08:58] vibhoragarwal019 commented on #435
assign the problem

[2020-10-09 09:51] PriyanshTri commented on #493
assign me .

[2020-10-09 10:06] PriyanshTri commented on #437
assign this to me. thankyou

[2020-10-09 10:07] PriyanshTri commented on #348
assign this to me. thanks

[2020-10-09 10:40] OMEGAeNcore opened #509 "0215 - Kth Largest Element in an Array"
## Description of the Problem
Find the kth largest element in an unsorted array. Note that it is the kth largest element in the sorted order, not the kth distinct element.

Example 1:

Input: [3,2,1,5,6,4] and k = 2
Output: 5
Example 2:

Input: [3,2,3,1,2,4,5,5,6] and k = 4
Output: 4

Note:
You may assume k is always valid, 1 ≤ k ≤ array's length.

## Code
[code]

## Link To The LeetCode Problem
[

[2020-10-09 10:40] OMEGAeNcore commented on #509
I would like to be assigned to this

[2020-10-09 10:42] krateepareek commented on #435
Could you please assign this problem to me.

[2020-10-09 11:26] krateepareek commented on #435
would you assign me this problem

[2020-10-09 12:13] rkkksss opened #511 "0237 - Delete Node in a Linked List"
## Description of the Problem
Write a function to delete a node in a singly-linked list. You will not be given access to the head of the list, instead you will be given access to the node to be deleted directly.

It is guaranteed that the node to be deleted is not a tail node in the list.

**Example 1:**
[code]
**Example 2:**
[code]
**Example 3:**
[code]
**Example 4:**
[code]
**Example 5:**
[code]

[2020-10-09 12:14] rkkksss commented on #511
Hi @vJechsmayr, I would like to work on this :)

[2020-10-09 13:33] Achyut-sudo commented on #476
I have completed this Stru=ingConvert function. do I need to add code to take input? (not specified in issue)
and if yes I am supposed to do that then please let me know the format of input for example is it in form of
S = "PAYPALISHIRING" n = 3     (i.e. do i need to filter out "s = " and " n = ")
or it's just
"PAYPALISHIRING" 3    (i.e  just get take a string and an int from a single separate da

[2020-10-09 16:21] prakhar-agarwall commented on #509
I'd like to take up this issue.

[2020-10-09 17:13] Achyut-sudo commented on #476
![leewtcode _doubt](https://user-images.githubusercontent.com/71660666/95612202-a37e7f00-0a80-11eb-86ad-dadd4794c793.jpg)
stdout == expected still wrong ??? (i am very sorry to ask so much. I am very new to this )

[2020-10-09 17:30] camilosalazar98 commented on #509
If no one has submitted to this one can I have it? :D

[2020-10-09 18:21] vJechsmayr commented on #9
@tegamax Sorry you are not assigned - @VaibhaveS will upload as soon as possible

[2020-10-09 18:22] vJechsmayr commented on #17
@alvacat Go for it :)

[2020-10-09 18:25] #64 closed

[2020-10-09 18:27] #348 closed

[2020-10-09 18:29] #343 closed

[2020-10-09 18:29] #353 closed

[2020-10-09 18:32] #368 closed

[2020-10-09 18:36] vJechsmayr commented on #383
@Deepak2417 You are the next one in line - would you still like to work on this issue?

[2020-10-09 18:37] #421 closed

[2020-10-09 18:39] #426 closed

[2020-10-09 18:41] vJechsmayr commented on #428
@Aditya489 There is already @niftyNitin assigned to it. If there is no PR in the next 14days I will assign it to you. If you like to participate in the meantime you can look for an problem that is not solved & no open issue

[2020-10-09 18:42] vJechsmayr commented on #435
@anirudhvsp let me see if i can find it... there are pretty much PRs at the moment

[2020-10-09 18:43] #437 closed

[2020-10-09 18:45] #440 closed

[2020-10-09 18:47] vJechsmayr commented on #464
Please Read Contribution Guidelines - closed as **spam** Issue already open!

[2020-10-09 18:47] #464 closed

[2020-10-09 18:47] AditSoni opened #519 "0125## - Valid Palindrome"
## Description of the Problem
Given a string, determine if it is a palindrome, considering only alphanumeric characters and ignoring cases.

Note: For the purpose of this problem, we define empty string as valid palindrome.

Example 1:

Input: "A man, a plan, a canal: Panama"
Output: true

Example 2:

Input: "race a car"
Output: false

Constraints:

    s consists only of printable ASCII character

[2020-10-09 18:48] #474 closed

[2020-10-09 18:49] vJechsmayr commented on #476
Closed - Issue already open!

[2020-10-09 18:49] #476 closed

[2020-10-09 18:50] vJechsmayr commented on #480
Issue already open - Closed please read Contribution Guidelines before creating an Issue

[2020-10-09 18:50] #480 closed

[2020-10-09 18:52] Achyut-sudo commented on #6
Can i work on this

[2020-10-09 18:52] #484 closed

[2020-10-09 18:53] vJechsmayr commented on #488
Problem already solved/Issue already open

CLOSED

[2020-10-09 18:53] #488 closed

[2020-10-09 18:55] vJechsmayr commented on #490
@trip-mahak I guess you want to work on that Issue on your own.

If not please let me know - so I can assign @Sounakde instead 😸

[2020-10-09 18:57] AditSoni commented on #519
#520 Made a pull request

[2020-10-09 18:58] vJechsmayr commented on #496
Issue Already open! Please make sure to check that first before creating an Issue

[2020-10-09 18:58] #496 closed

[2020-10-09 18:59] vJechsmayr commented on #497
There is already an open Issue for that Problem - Please make sure to check that first

[2020-10-09 18:59] #497 closed

[2020-10-09 19:02] #502 closed

[2020-10-09 19:04] #503 closed

[2020-10-09 19:06] vJechsmayr commented on #509
@prakhar-agarwall @camilosalazar98 - The Creator will always get assigned prefered - Please consider that I'm not online 24/7 so when the Issue-Creator had already written that he/she wants to work on it I assign them as soon as I'm online

[2020-10-09 19:06] #511 closed

[2020-10-09 19:08] vJechsmayr commented on #519
@AditSoni There is already an Issue for that Problem open - please check that first before creating an Issue 😸

[2020-10-09 19:08] #519 closed

[2020-10-09 19:09] #435 closed

[2020-10-09 19:11] #395 closed

[2020-10-09 19:12] jindalsachin opened #521 "0448 - Find All Numbers Disappeared in an Array"
**Description of the problem**

Given an array of integers where 1 ≤ a[i] ≤ n (n = size of array), some elements appear twice and others appear once.

Find all the elements of [1, n] inclusive that do not appear in this array.

Could you do it without extra space and in O(n) runtime? You may assume the returned list does not count as extra space.

Example:

Input:
[4,3,2,7,8,2,3,1]

Output:
[5,6]

[2020-10-09 19:13] sj538 commented on #521
Please assign this to me.

[2020-10-09 19:13] #354 closed

[2020-10-09 19:14] #373 closed

[2020-10-09 19:16] AditSoni opened #522 "0093## Restore IP Addresses"
## Description of the Problem
Given a string s containing only digits, return all possible valid IP addresses that can be obtained from s. You can return them in any order.

A valid IP address consists of exactly four integers, each integer is between 0 and 255, separated by single dots and cannot have leading zeros. For example, "0.1.2.201" and "192.168.1.1" are valid IP addresses and "0.011.255.

[2020-10-09 19:17] #370 closed

[2020-10-09 19:22] #369 closed

[2020-10-09 19:24] #328 closed

[2020-10-09 19:25] #359 closed

[2020-10-09 19:26] #252 closed

[2020-10-09 19:27] #385 closed

[2020-10-09 19:29] #331 closed

[2020-10-09 19:30] #332 closed

[2020-10-09 19:31] #382 closed

[2020-10-09 19:32] #367 closed

[2020-10-09 19:33] #319 closed

[2020-10-09 19:35] #336 closed

[2020-10-09 19:36] Deepak2417 commented on #521
I am eager to solve this problem with complexity as mentioned. Kindly assign this to me.

[2020-10-09 19:40] #363 closed

[2020-10-09 19:42] #329 closed

[2020-10-09 19:43] #405 closed

[2020-10-09 19:44] #452 closed

[2020-10-09 19:45] #406 closed

[2020-10-09 19:46] #419 closed

[2020-10-09 19:47] #357 closed

[2020-10-09 19:48] #422 closed

[2020-10-09 19:49] #424 closed

[2020-10-09 19:52] #127 closed

[2020-10-09 19:54] #218 closed

[2020-10-09 19:56] #153 closed

[2020-10-09 19:59] #490 closed

[2020-10-09 20:01] #500 closed

[2020-10-09 20:04] #35 closed

[2020-10-09 20:07] #522 closed

[2020-10-09 20:10] #420 closed

[2020-10-09 21:48] chw9 opened #526 "1588 - Sum Of All Odd Length Subarrays"
## Description of the Problem
Given an array of positive integers arr, calculate the sum of all possible odd-length subarrays.

A subarray is a contiguous subsequence of the array.

Return the sum of all odd-length subarrays of arr.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/sum-of-all-odd-length-subarrays/)

[2020-10-09 21:48] chw9 commented on #526
Please assign me to this issue

[2020-10-09 23:09] dangerworm opened #528 "1160 - Find Words That Can Be Formed by Characters"
## Description of the Problem
You are given an array of strings words and a string chars.

A string is good if it can be formed by characters from chars (each character can only be used once).

Return the sum of lengths of all good strings in words.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode 1160](https://leetcode.com/problems/find-words-that-can-be-formed-by-characters/)

[2020-10-09 23:35] livace opened #530 "1499 - Max Value of Equation"
## Description of the Problem
Given an array points containing the coordinates of points on a 2D plane, sorted by the x-values, where `points[i] = [x_i, y_i]` such that `x_i < x_j` for all `1 <= i < j <= points.length`. You are also given an integer `k`.

Find the maximum value of the equation `y_i + y_j + |x_i - x_j|` where `|x_i - x_j| <= k` and `1 <= i < j <= points.length`. It is guaranteed th

[2020-10-09 23:51] Gabriel-nps commented on #528
I would like to be assigned to this.

[2020-10-09 23:53] livace opened #532 "1250 - Check If It Is a Good Array"
## Description of the Problem
Given an array `nums` of positive integers. Your task is to select some subset of `nums`, multiply each element by an integer and add all these numbers. The array is said to be **good** if you can obtain a sum of `1` from the array by any possible subset and multiplicand.

Return `True` if the array is **good** otherwise return `False`.

## Code
[code]

## Link To The

[2020-10-09 23:53] livace commented on #532
Please assign it to me

[2020-10-09 23:53] livace commented on #530
Please assign it to me

[2020-10-09 23:54] dangerworm commented on #528
I was hoping I could be assigned this, as I've already done the work.

[2020-10-09 23:56] frank731 opened #534 "0443 - String Compression"
## Description of the Problem
Given an array of characters chars, compress it using the following algorithm:

Begin with an empty string s. For each group of consecutive repeating characters in chars:

If the group's length is 1, append the character to s.
Otherwise, append the character followed by the group's length.
The compressed string s should not be returned separately, but instead be store

[2020-10-09 23:56] frank731 commented on #534
I'll do this one

[2020-10-09 23:56] neaGaze opened #535 "0091 - Decode Ways"
## Description of the Problem
A message containing letters from A-Z is being encoded to numbers using the following mapping:
[code]
Given a non-empty string containing only digits, determine the total number of ways to decode it.

The answer is guaranteed to fit in a 32-bit integer.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/decode-ways/)

[2020-10-10 00:00] Gabriel-nps commented on #528
I see. Go ahead :)

[2020-10-10 00:11] dangerworm commented on #528
Thank you Gabriel.

[2020-10-10 00:42] Deepak2417 commented on #383
Yeah, sure.

[2020-10-10 00:46] livace opened #537 "0483 - Smallest Good Base"
## Description of the Problem
For an integer `n`, we call `k >= 2` a **good base** of `n`, if all digits of `n` base `k` are `1`.

Now given a string representing `n`, you should return the smallest good base of `n` in string format.

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/smallest-good-base/)

[2020-10-10 00:46] livace commented on #537
Please assign it to me

[2020-10-10 01:00] rkkksss opened #539 "0283 - Move Zeroes"
## Description of the Problem
Given an array nums, write a function to move all 0's to the end of it while maintaining the relative order of the non-zero elements.

**Example:**
[code]
**Note:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/move-zeroes/)

[2020-10-10 01:01] rkkksss commented on #539
Hi @vJechsmayr  accept this issue, please :)

[2020-10-10 01:19] rkkksss opened #541 "0771 - Jewels and Stones"
## Description of the Problem
You're given strings J representing the types of stones that are jewels, and S representing the stones you have.  Each character in S is a type of stone you have.  You want to know how many of the stones you have are also jewels.

The letters in J are guaranteed distinct, and all characters in J and S are letters. Letters are case sensitive, so "a" is considered a dif

[2020-10-10 01:24] livace opened #542 "1340 - Jump Game V"
## Description of the Problem
You may copy that from LeetCode
Given an array of integers `arr` and an integer `d`. In one step you can jump from index i to index:

- `i + x` where: `i + x < arr.length` and `0 < x <= d`

- `i - x` where: `i - x >= 0` and `0 < x <= d`

In addition, you can only jump from index `i` to index `j` if `arr[i] > arr[j]` and `arr[i] > arr[k]` for all indices k between `i`

[2020-10-10 01:25] livace commented on #542
Please assign it to me

[2020-10-10 01:31] rkkksss opened #545 "0258 - Add Digits"
## Description of the Problem
Given a non-negative integer num, repeatedly add all its digits until the result has only one digit.

**Example:**
[code]
Follow up:
Could you do it without any loop/recursion in O(1) runtime?

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/add-digits/)

[2020-10-10 01:52] xooseph commented on #167
Hi @vJechsmayr! Can you assign me this issue please?

[2020-10-10 02:47] LCVcode commented on #545
Can you please assign this to me?

[2020-10-10 03:00] sailok opened #548 "0368 - Largest Divisible Subset"
## Description of the Problem
Given a set of distinct positive integers, find the largest subset such that every pair (Si, Sj) of elements in this subset satisfies:
Si % Sj = 0 or Sj % Si = 0.

If there are multiple solutions, return any subset is fine.

## Code
[code]

## Link To The LeetCode Problem
[Largest Divisible Subset](https://leetcode.com/problems/largest-divisible-subset/)

[2020-10-10 03:01] sailok commented on #548
i'll do this one.

[2020-10-10 03:03] LCVcode opened #549 "1603 - Design Parking System"
## Description of the Problem
Design a parking system for a parking lot. The parking lot has three kinds of parking spaces: big, medium, and small, with a fixed number of slots for each size.

Implement the ParkingSystem class:

`ParkingSystem(int big, int medium, int small)` Initializes object of the ParkingSystem class. The number of slots for each parking space are given as part of the construc

[2020-10-10 03:03] LCVcode commented on #549
Please assign this issue to me

[2020-10-10 03:07] frank731 opened #550 "0437 - Path Sum III"
## Description of the Problem
You are given a binary tree in which each node contains an integer value.

Find the number of paths that sum to a given value.

The path does not need to start or end at the root or a leaf, but it must go downwards (traveling only from parent nodes to child nodes).

The tree has no more than 1,000 nodes and the values are in the range -1,000,000 to 1,000,000.

## Code

[2020-10-10 03:09] frank731 commented on #550
I'll do this problem

[2020-10-10 04:46] bhawesh96 opened #553 "1589 - Maximum Sum Obtained of Any Permutation"
## Description of the Problem
We have an array of integers, nums, and an array of requests where requests[i] = [starti, endi]. The ith request asks for the sum of nums[starti] + nums[starti + 1] + ... + nums[endi - 1] + nums[endi]. Both starti and endi are 0-indexed.

Return the maximum total sum of all requests among all permutations of nums.

Since the answer may be too large, return it modulo 1

[2020-10-10 04:46] bhawesh96 commented on #553
I'd like to take this up.

[2020-10-10 04:55] hpp3 opened #555 "0030 - Substring with Concatenation of All Words"
## Description of the Problem
You are given a string s and an array of strings words of the same length. Return all starting indices of substring(s) in s that is a concatenation of each word in words exactly once, in any order, and without any intervening characters.

You can return the answer in any order.
Example 1:

[code]

## Link To The LeetCode Problem
[Substring with Concatenation of All Wo

[2020-10-10 05:09] bhawesh96 opened #556 "0689 - Maximum Sum of 3 Non-Overlapping Subarrays"
## Description of the Problem
In a given array nums of positive integers, find three non-overlapping subarrays with maximum sum.

Each subarray will be of size k, and we want to maximize the sum of all 3*k entries.

Return the result as a list of indices representing the starting position of each interval (0-indexed). If there are multiple answers, return the lexicographically smallest one.

## Li

[2020-10-10 05:09] bhawesh96 commented on #556
I'd like to work on this

[2020-10-10 05:20] DhawalKhapre commented on #555
Please assign this issue to me

[2020-10-10 05:20] Achyut-sudo commented on #6
i have already worked on a copy of this issue #476  ant his #513 was submitted to that issue and even  if i have made all the requirements  that pr got closed by the onwer

[2020-10-10 05:21] DhawalKhapre commented on #173
I would liketo solve this issue. Please assign this to me

[2020-10-10 05:35] Achyut-sudo commented on #6
I have added this pr (#513 ) to an issue (#476 ) which was a copy of this issue so  it was closed by @vJechsmayr
and hence my pr was closed
so I am adding a new pr here

[2020-10-10 06:35] Achyut-sudo commented on #555
please assign me to  this issue

[2020-10-10 07:06] sailok opened #564 "0647 - Palindromic Substrings"
## Description of the Problem
Given a string, your task is to count how many palindromic substrings in this string.
The substrings with different start indexes or end indexes are counted as different substrings even they consist of the same characters.

## Code
[code]

## Link To The LeetCode Problem
[Palindromic Substrings](https://leetcode.com/problems/palindromic-substrings/)

[2020-10-10 07:06] sailok commented on #564
i'll do this one

[2020-10-10 08:45] Prajakta-collab commented on #167
Can you assign me this issue please ????

[2020-10-10 09:23] sree-gaya3 opened #568 "1599 - Maximum Profit of Operating a Centennial Wheel"
## Description of the Problem
You are the operator of a Centennial Wheel that has four gondolas, and each gondola has room for up to four people. You have the ability to rotate the gondolas counterclockwise, which costs you runningCost dollars.

You are given an array customers of length n where customers[i] is the number of new customers arriving just before the ith rotation (0-indexed). This mea

[2020-10-10 09:24] sree-gaya3 commented on #568
I would like to be assigned and contribute to this issue. Thank you

[2020-10-10 09:31] AditSoni opened #569 "0190## - Reverse Bits"
## Description of the Problem
Reverse bits of a given 32 bits unsigned integer.

Note:

    Note that in some languages such as Java, there is no unsigned integer type. In this case, both input and output will be given as a signed integer type. They should not affect your implementation, as the integer's internal binary representation is the same, whether it is signed or unsigned.
    In Java, the

[2020-10-10 09:36] sree-gaya3 opened #571 "1608 - Special Array With X Elements Greater Than or Equal X"
## Description of the Problem
You are given an array nums of non-negative integers. nums is considered special if there exists a number x such that there are exactly x numbers in nums that are greater than or equal to x.

Notice that x does not have to be an element in nums.

Return x if the array is special, otherwise, return -1. It can be proven that if nums is special, the value for x is unique

[2020-10-10 09:37] sree-gaya3 commented on #571
I would like to contribute the code for this issue. Thank you

[2020-10-10 09:39] AditSoni opened #573 "0191## -Number of 1 bits"
## Description of the Problem
Write a function that takes an unsigned integer and returns the number of '1' bits it has (also known as the Hamming weight).

Note:

    Note that in some languages such as Java, there is no unsigned integer type. In this case, the input will be given as a signed integer type. It should not affect your implementation, as the integer's internal binary representation i

[2020-10-10 09:49] sree-gaya3 opened #574 "1604 - Alert Using Same Key-Card Three or More Times in a One Hour Period"
## Description of the Problem
LeetCode company workers use key-cards to unlock office doors. Each time a worker uses their key-card, the security system saves the worker's name and the time when it was used. The system emits an alert if any worker uses the key-card three or more times in a one-hour period.

You are given a list of strings keyName and keyTime where [keyName[i], keyTime[i]] correspo

[2020-10-10 09:50] sree-gaya3 commented on #574
I would like to contribute the code for this issue. Thank you

[2020-10-10 09:55] hoseinfzad opened #576 "1593## - Show your machine information in command line"
## Description of the Problem
i want to show pc information in command line

## Code
def show_sensors():
    print("Python Version:{0.major}.{0.minor}".format(python_version()))
    for address in ip_addresses():
        print("IP Addresses: {0[1]} ({0[0]})".format(address))
        print("CPU Load: {:.1f}".format(cpu_load()))
        print("RAM Available: {} MiB".format(ram_available() / 1024**2)

[2020-10-10 09:58] SatyamYadav-cmd opened #577 "0043 - Multiply Strings"
## Description of the Problem
Given two non-negative integers num1 and num2 represented as strings, return the product of num1 and num2, also represented as a string.

Example 1:

Input: num1 = "2", num2 = "3"
Output: "6"
Example 2:

Input: num1 = "123", num2 = "456"
Output: "56088"
Note:

The length of both num1 and num2 is < 110.
Both num1 and num2 contain only digits 0-9.
Both num1 and num2 do

[2020-10-10 09:58] SatyamYadav-cmd commented on #577
I would like to be assigned to this

[2020-10-10 10:03] sree-gaya3 opened #578 "1606 - Find Servers That Handled Most Number of Requests"
## Description of the Problem
You have k servers numbered from 0 to k-1 that are being used to handle multiple requests simultaneously. Each server has infinite computational capacity but cannot handle more than one request at a time. The requests are assigned to servers according to a specific algorithm:

    The ith (0-indexed) request arrives.
    If all servers are busy, the request is dropped

[2020-10-10 10:03] sree-gaya3 commented on #578
I would like to contribute the code to this issue

[2020-10-10 10:54] tejasvicsr1 opened #579 "1480 - Running Sum of 1d array"
## Description of the Problem
Given an array nums. We define a running sum of an array as runningSum[i] = sum(nums[0]…nums[i]).

Return the running sum of nums.

Example 1:

Input: nums = [1,2,3,4]
Output: [1,3,6,10]
Explanation: Running sum is obtained as follows: [1, 1+2, 1+2+3, 1+2+3+4].

Example 2:

Input: nums = [1,1,1,1,1]
Output: [1,2,3,4,5]
Explanation: Running sum is obtained as follows:

[2020-10-10 10:54] tejasvicsr1 commented on #579
I would like to be assigned to this issue.

[2020-10-10 11:04] coffeebenzene opened #580 "0532 - K_diff_Pairs_in_an_Array (Need rename)"
## Description of the Problem
This problem has already been solved. But it is named wrongly as 0523_K_diff_Pairs_in_an_Array.py

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/k-diff-pairs-in-an-array/)

[2020-10-10 11:17] tejasvicsr1 opened #584 "1470 - Shuffle the Array"
## Description of the Problem
Given the array nums consisting of 2n elements in the form [x1,x2,...,xn,y1,y2,...,yn].

Return the array in the form [x1,y1,x2,y2,...,xn,yn].

Example 1:

Input: nums = [2,5,1,3,4,7], n = 3
Output: [2,3,5,4,1,7]
Explanation: Since x1=2, x2=5, x3=1, y1=3, y2=4, y3=7 then the answer is [2,3,5,4,1,7].

Example 2:

Input: nums = [1,2,3,4,4,3,2,1], n = 4
Output: [1,4,2,3,

[2020-10-10 11:17] tejasvicsr1 commented on #584
I would like to be assigned to this.

[2020-10-10 11:17] reach-the-sky commented on #542
Can you please assign this to me.

[2020-10-10 11:21] reach-the-sky commented on #584
Can you please assign this to me.

[2020-10-10 11:22] nainys opened #585 "1402 - Reducing Dishes"
## Description of the Problem
A chef has collected data on the satisfaction level of his n dishes. Chef can cook any dish in 1 unit of time.

Like-time coefficient of a dish is defined as the time taken to cook that dish including previous dishes multiplied by its satisfaction level  i.e.  time[i]*satisfaction[i]

Return the maximum sum of Like-time coefficient that the chef can obtain after dishe

[2020-10-10 11:25] reach-the-sky commented on #535
Can you assign this to me.

[2020-10-10 11:29] learn-everyday-with-me commented on #585
Can you assign this to me.

[2020-10-10 11:32] reach-the-sky commented on #585
Can you assign this to me.

[2020-10-10 11:43] nainys commented on #585
I would like to be assigned to this.

[2020-10-10 11:48] reach-the-sky commented on #577
I would Like to do this task.

[2020-10-10 11:55] tejasvicsr1 opened #588 "1412 - Number of Good Pairs"
## Description of the Problem
Given an array of integers nums.

A pair (i,j) is called good if nums[i] == nums[j] and i < j.

Return the number of good pairs.

Example 1:

Input: nums = [1,2,3,1,1,3]
Output: 4
Explanation: There are 4 good pairs (0,3), (0,4), (3,4), (2,5) 0-indexed.

Example 2:

Input: nums = [1,1,1,1]
Output: 6
Explanation: Each pair in the array are good.

Example 3:

Input: num

[2020-10-10 11:56] tejasvicsr1 commented on #588
I would like to be assigned to this.

[2020-10-10 12:55] SatyamYadav-cmd opened #591 "0088 - Merge Sorted Array"
## Description of the Problem
Given two sorted integer arrays nums1 and nums2, merge nums2 into nums1 as one sorted array.

Note:

The number of elements initialized in nums1 and nums2 are m and n respectively.
You may assume that nums1 has enough space (size that is equal to m + n) to hold additional elements from nums2.
Example:

Input:
nums1 = [1,2,3,0,0,0], m = 3
nums2 = [2,5,6],       n = 3

[2020-10-10 12:56] SatyamYadav-cmd commented on #591
I would like to be assigned to this

[2020-10-10 13:35] vJechsmayr commented on #6
@Achyut-sudo Please Read Contribution Guidelines! Do not open an PR when you are not assigned to the Issue!

[2020-10-10 13:41] #532 closed

[2020-10-10 13:42] #534 closed

[2020-10-10 13:43] #535 closed

[2020-10-10 13:44] #537 closed

[2020-10-10 13:46] #539 closed

[2020-10-10 13:46] Achyut-sudo commented on #555
#592

[2020-10-10 13:47] #541 closed

[2020-10-10 13:50] #545 closed

[2020-10-10 13:52] #549 closed

[2020-10-10 13:52] jkemnitzer commented on #573
You can assign me to this issue! :)

[2020-10-10 13:55] vJechsmayr commented on #555
Issue already open (#17 ) Please read Contribution Guidelines before creating an Issue 😸

[2020-10-10 13:55] #555 closed

[2020-10-10 13:58] AditSoni commented on #573
i already solved it 8-D

[2020-10-10 14:00] #569 closed

[2020-10-10 14:00] #573 closed

[2020-10-10 14:11] vJechsmayr commented on #576
If you want to solve the [LeetCode Problem 1593](https://leetcode.com/problems/split-a-string-into-the-max-number-of-unique-substrings/) you can do so - if not: **Read Contribution Guidelines**

[2020-10-10 14:14] #577 closed

[2020-10-10 14:15] vJechsmayr commented on #591
Merged

[2020-10-10 14:15] #591 closed

[2020-10-10 14:18] #579 closed

[2020-10-10 14:21] #580 closed

[2020-10-10 14:26] #584 closed

[2020-10-10 14:27] #585 closed

[2020-10-10 14:29] #588 closed

[2020-10-10 14:33] #487 closed

[2020-10-10 14:34] #521 closed

[2020-10-10 14:36] Shreejichandra opened #594 "## 0452 - Minimum Number of Arrows to Burst Balloons"
## Description of the Problem
There are some spherical balloons spread in two-dimensional space. For each balloon, provided input is the start and end coordinates of the horizontal diameter. Since it's horizontal, y-coordinates don't matter, and hence the x-coordinates of start and end of the diameter suffice. The start is always smaller than the end.

An arrow can be shot up exactly vertically fr

[2020-10-10 14:37] Shreejichandra commented on #594
I would like to work on this issue. Please assign it to me.
Thank you!

[2020-10-10 14:37] #528 closed

[2020-10-10 14:39] #530 closed

[2020-10-10 14:43] #493 closed

[2020-10-10 14:45] #508 closed

[2020-10-10 14:47] #509 closed

[2020-10-10 14:48] AditSoni opened #595 "0242## - Valid Anagram"
## Description of the Problem
Given two strings s and t , write a function to determine if t is an anagram of s.

Example 1:

Input: s = "anagram", t = "nagaram"
Output: true

Example 2:

Input: s = "rat", t = "car"
Output: false

Note:
You may assume the string contains only lowercase alphabets.

Follow up:
What if the inputs contain unicode characters? How would you adapt your solution to such c

[2020-10-10 14:49] #564 closed

[2020-10-10 14:51] Achyut-sudo commented on #131
@vJechsmayr  please assign me to this question

[2020-10-10 14:53] #595 closed

[2020-10-10 14:58] vJechsmayr commented on #131
@Achyut-sudo Sorry it's already assigned to @js899 - if there is no PR within the next 6 days I will unassign him and you get assigned to this Issue 😸

[2020-10-10 15:13] Achyut-sudo commented on #131
@vJechsmayr ok

[2020-10-10 15:19] js899 commented on #131
@vJechsmayr @Achyut-sudo I'm really sorry to respond so late, I'm quite busy with college exams, you can unassign me. Thanks for the opportunity though.

[2020-10-10 15:47] na-vural opened #599 "0273 - Integer to English Words"
## Description of the Problem
Convert a non-negative integer to its english words representation. Given input is guaranteed to be less than 2**31 - 1.

**Example 1:**
[code]
**Example 2:**
[code]
**Example 3:**
[code]
**Example 4:**
[code]

## Code
[code]

## Link To The LeetCode Problem
[LeetCode](https://leetcode.com/problems/integer-to-english-words)

[2020-10-10 15:48] na-vural commented on #599
I want to solve this one. May you assign me?

[2020-10-10 16:10] arindam9999 commented on #599
@na-vural I would like to work on this issue, could you please assign it to me?

[2020-10-10 16:15] Shreejichandra opened #602 "0436 - Find Right Interval"
## Description of the Problem
You are given an array of intervals, where intervals[i] = [starti, endi] and each starti is unique.

The right interval for an interval i is an interval j such that startj >= endi and startj is minimized.

Return an array of right interval indices for each interval i. If no right interval exists for interval i, then put -1 at index i.

## Example 1:
[code]
## Example

[2020-10-10 16:16] Shreejichandra commented on #602
Please assign this issue to me.
Thank you!

[2020-10-10 16:17] tejasvicsr1 opened #603 "1365 - How Many Numbers Are Smaller Than the Current Number"
## Description of the Problem
Given the array nums, for each nums[i] find out how many numbers in the array are smaller than it. That is, for each nums[i] you have to count the number of valid j's such that j != i and nums[j] < nums[i].

Return the answer in an array.

Example 1:

Input: nums = [8,1,2,2,3]
Output: [4,0,1,1,3]
Explanation:
For nums[0]=8 there exist four smaller numbers than it (1,